---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/users/425933549?access_token=APP_USR-8515522317464897-102919-8c427f047480b1d0c80321ce26dd60f5-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":425933549,"nickname":"TETE5900055","registration_date":"2019-04-11T11:28:46.000-04:00","first_name":"Test","last_name":"Test","gender":"","country_id":"EC","email":"test_user_67701524@testuser.com","identification":{"number":"11111111","type":"Cedula"},"address":{"address":"Test
        Address 123","city":"Quito","state":"EC-P","zip_code":"170150"},"phone":{"area_code":"01","extension":"","number":"1111-1111","verified":false},"alternative_phone":{"area_code":"","extension":"","number":""},"user_type":"normal","tags":["normal","test_user","messages_as_seller","messages_as_buyer"],"logo":null,"points":1,"site_id":"MEC","permalink":"http://perfil.mercadolibre.com.ec/TETE5900055","shipping_modes":["custom","not_specified"],"seller_experience":"ADVANCED","bill_data":{"accept_credit_note":null},"seller_reputation":{"level_id":"5_green","power_seller_status":null,"transactions":{"canceled":14,"completed":11,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":1},"total":25},"metrics":{"sales":{"period":null,"completed":null},"claims":{"period":null,"rate":null},"delayed_handling_time":{"period":null,"rate":null},"cancellations":{"period":"60
        months","rate":0}}},"buyer_reputation":{"canceled_transactions":0,"tags":[],"transactions":{"canceled":{"paid":null,"total":null},"completed":null,"not_yet_rated":{"paid":null,"total":null,"units":null},"period":"historic","total":null,"unrated":{"paid":null,"total":null}}},"status":{"billing":{"allow":true,"codes":[]},"buy":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"confirmed_email":false,"shopping_cart":{"buy":null,"sell":null},"immediate_payment":false,"list":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"mercadoenvios":"not_accepted","mercadopago_account_type":null,"mercadopago_tc_accepted":false,"required_action":null,"sell":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"site_status":"active","user_type":null},"secure_email":"ttest.y8ks62p@mail.mercadolibre.com.ec","credit":{"consumed":0,"credit_level_id":"MEC5","rank":"newbie"},"context":{}}'
  recorded_at: Tue, 29 Oct 2019 20:42:59 GMT
recorded_with: VCR 5.0.0
