---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/users/425933549?access_token=APP_USR-629853670505335-102912-31df0dea591b62881b3edd3725558f4d-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"user not active","error":"not_found","status":401,"cause":[]}'
  recorded_at: Tue, 29 Oct 2019 20:27:29 GMT
recorded_with: VCR 5.0.0
