---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/users/445351893?access_token=APP_USR-8515522317464897-101814-93de00ef046cabfea29056426f9ff63f-425935489
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":445351893,"nickname":"CSARAUGUSTOPOZO","registration_date":"2019-06-19T09:47:14.000-04:00","country_id":"EC","address":{"city":null,"state":null},"user_type":"normal","tags":["normal"],"logo":null,"points":1,"site_id":"MEC","permalink":"http://perfil.mercadolibre.com.ec/CSARAUGUSTOPOZO","seller_reputation":{"level_id":null,"power_seller_status":null,"transactions":{"canceled":0,"completed":0,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":0},"total":0}},"buyer_reputation":{"tags":[]},"status":{"site_status":"deactive"}}'
  recorded_at: Fri, 18 Oct 2019 18:28:26 GMT
recorded_with: VCR 5.0.0
