<footer class="footer-container">
  <div class="footer-columns">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="" class="about-us-footer">
            <div class="">
              <span class=""></span>
              <div class="footer-title">
                <h2>Acerca de nosotros</h2>
              </div>
              <div>
                <p class="footer-description">
                  Mauris mattis auctor cursus. Phasellus tellus tellus, imperdiet ut imperdiet eu, iaculis a sem imperdiet ut imperdiet.
                </p>
                <div class="footer-social-icons">
                  <ul class="footer-social-icons-list">
                    <li><a href="https://www.facebook.com/mercately/" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCaJv_fJ2nziQ4TLo-rz46qw" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/mercately_oficial/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/40729433/" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
