<div class="phone-container mt-10">
  <div class="header-phone py-8">
    <div class="ml-15 fs-14 c-black">ChatBot</div>
    <div class="ml-15 c-gray-label fs-10">En linea</div>
  </div>
  <div id="chat-preview" class="conversation-container">
  </div>
</div>
