*{
  font-family: 'Poppins-Regular';
}
footer{
  background: #0e1022;
  padding: 4em;
  padding-bottom: 1em;
}
body{
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  /* width: 100vw; */
}
h1{
  color: #0e1022;
}

p{
  color: #4c536a;
}
.bg-primary{
  background: #753580;
  color: #ffffff;
  font-weight: bold;
}
.bg-secondary{
  background: #26abe2;
  color: #ffffff;
  font-weight: bold;
}
.bg-base{
  background: #753580;
  color: #ffffff;
  font-weight: bold;
}

.primary{color: #753580;}
.secondary{color: #26abe2;}
.base{
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

.container{
  text-align: center;
  width: 80%; 
  margin: 0 auto;
}

.container p{
  color: #4c536a;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;

  &.card-mobile-title {
    font-size: 17px;
    color: $primary-color;
  }
}
.container .p-blue{
  color: #26abe2;
  font-family: 'Poppins-Regular';
  font-size: 20px;
  font-weight: 300;
}
.dark{
  background-image: linear-gradient(234deg, #2671e2 0%, #753580 100%);
  color: #ffffff;
}

.dark h1, .dark p{
  color: #ffffff;
  font-weight: inherit;
}
.dark h1{
  font-family: 'Poppins-Regular';
  font-size: 58px;
  font-weight: 400;
  line-height: 69px;
}


/* Estilo de lista con iconos */

.icon-list{
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #753580;
  margin: 0 auto;
  margin-top: 4em;
}
.icon-list li{
  font-size: 15px;
  margin: 1em auto;
  width: 40%;
  padding: 1em;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #80808040;
}
.icon-list li img{
  margin: 24px;
  width: 102px;
  height: 103px;
}

.icon-list li .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-list li strong{
  font-size: 20px;
}

/* END Estilo de lista con iconos END*/

.section	{
  flex-direction: column;
  padding: 2em;
  display: flex;
  position: relative;
  overflow: hidden; 
  justify-content: center;
}


/* Estilo contenedor angosto esquina derecha */
.section.tinyleft{
  padding: 14em 0;
}

.section.tinyleft::after, .section.tinyleft::before	{
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  height: 200px;
  width: 130%;
  background-color: #f2f2f2;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 10;
}

.section.tinyleft::before{
  top: -100px;
  bottom: initial;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: 10;

}

.section.tinyleft.mount{
  padding-bottom: 4em;	
}
.section.tinyleft.mount::before{
  background-color: #f2f2f2;
}
.section.tinyleft.mount::after{
  background-color: transparent;
}

/* END Estilo contenedor angosto esquina derecha END */


/* Estilos de ubicacion y centrado Flexbox + boton */
.giftcenter{
  width: 100%;
  margin-top: -100px;
  animation: float 6s ease-in-out infinite;
}
.center-landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header {
  color: #FFF;
  width: 100%;
  height: 700px;
  background-size: 100% 100%;
  background-image: url(image_path('landing/home_header.png'));
  background-color: #286EB5;

  .sell-text {
    text-align: center;
    padding-top: 190px;

    p {
      font-size: 40px;
      color: #FFF;
      margin: 0;
    }
  }

  .additional-text {
    text-align: center;

    p {
      font-size: 20px;
      color: #FFF;
      margin: 0;
    }
  }

  .buttons-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flyers-section {
  background-color: #286EB5;

  .title {
    font-size: 35px;
  }

  p {
    color: #FFF;
  }

  .img-flyer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divide-flyers {
    border-right: 2px solid #FFF;
  }

  .alignment {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flyer-text {
    text-align: left;
  }
}

.middle-section {
  padding-top: 50px;
}

.div-general-texts {
  color: #FFF;
  margin-left: -30px;
  width: 400px;
  height: 140px;
  background-size: 100% 100%;
}

.sells-text {
  margin-top: -100px;
  background-image: url(image_path('landing/div_ventas.png'));
}

.products-text {
  margin-top: 50px;
  background-image: url(image_path('landing/div_productos.png'));
}

.communication-text {
  margin-top: 200px;
  background-image: url(image_path('landing/div_communication.png'));
}

.stats-text {
  margin-top: 350px;
  background-image: url(image_path('landing/div_stats.png'));
}

.clients-text {
  margin-top: 500px;
  background-image: url(image_path('landing/div_clientes.png'));
}

.div-texts-container {
  width: 500px;
  height: 550px;
}

.text-main {
  margin-left: 150px;
  font-size: 40px;
}

.text-second {
  margin-left: 155px;
  font-size: 13px;
}

.home-circle {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  padding: 16px;
  border-radius: 150px;
  margin: 24px;
  background-color: #FFF;
  text-align: center;

  .inner-circle {
    position: relative;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    border: none;
    border-radius: 150px;

    &.sell-inner-circle {
      background-color: #1954F5;
    }

    &.product-inner-circle {
      background-color: #5078F1;
    }

    &.communication-inner-circle {
      background-color: #2B5CFF;
    }

    &.stats-inner-circle {
      background-color: #9438EF;
    }

    &.client-inner-circle {
      background-color: #425AC6;
    }

    .img-sell {
      width: 30px;
      height: 45px;
      margin-top: 16px;
    }

    .img-product {
      width: 30px;
      height: 35px;
      margin-top: 23px;
    }

    .img-communication {
      width: 45px;
      height: 35px;
      margin: 0;
      margin-top: 23px;
    }

    .img-stats {
      width: 40px;
      height: 35px;
      margin: 0;
      margin-top: 23px;
    }

    .img-client {
      width: 40px;
      height: 40px;
      margin: 0;
      margin-top: 20px;
    }
  }

  &.sell-circle {
    border: 8px solid #185CF4;
  }

  &.product-circle {
    border: 8px solid #6070F2;
  }

  &.communication-circle {
    border: 8px solid #4950FE;
  }

  &.stats-circle {
    border: 8px solid #9238EE;
  }

  &.client-circle {
    border: 8px solid #5145A1;
  }
}

.between{
  justify-content: space-between;
}


.title{
  text-align: center;
}

.title h1{
  color: #0e1022;
  font-size: 58px;
  font-weight: 400;
  line-height: 69px;
}

.btn-landing {
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 13px 0px;
  cursor: pointer;
  width: 175px;
  font-size: 16px;
}

/* END Estilos de ubicacion y centrado Flexbox END */


/* Menu Custom Improvisado */

.menu{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 4em;
  justify-content: space-between;
  z-index: 11;
}

.menu a, .menu label { 
  cursor: pointer;
  font-style: initial;
  text-decoration: none;
  color: #0e1022;
  font-family: 'Poppins-Regular';
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
}
.menu .content .close,.menu .content img{
  display: none;
}

/* END Menu Custom Improvisado END */

/* Modal */
.box{
  width: 500px;
  text-align: center;
  background: #0e1022;
  position: absolute;
  padding: 2em;
}

.box h1 {
  color: white;
  margin-top: 0px;
}

.box p {
  color: white;
  font-size: 20px;
}

.box h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 35px;
}

/* END Modal END */

/* contenedor con mountain image */

.mountain *{
  z-index: 1;
}
.mountain img{
  margin-right: -100px;
}

.mountain::before, .mountain::after{
  content: '';
  position: absolute;
  bottom: -20px;
  width: 110%;
  height: 60%;
  background-size: 90% 100%;
  left: 0;
}
.mountain::after{
  background-image: url(image_path('landing/mountain-1.png'));
  width: 170%;
  left: -100px;
  bottom: -125px;
}

.mountain::before{
  background-image: url(image_path('landing/mountain-2.png'));
}

/* END contenedor con mountain image END */

/* Lista con vineta(imagen) */
.card{
  padding: 1em;
  position: relative;
}

.list.torigth{
  margin-right: 6em;
}
.list {
  list-style: none;
  line-height: 4;
  margin-left: 0;
  padding-left: 0;
}
.list li {
  color: #4c536a;
  font-family: 'Poppins-Regular';
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.noStyle{
  line-height: 2;
}
.noStyle li{
  color: #26abe2;

  a {
    color: #26abe2;
    text-decoration: none;
  }
}
.list:not(.noStyle) li::before {
  content: "";
  margin-right: 1em;
  background-image: url(image_path('landing/arrow.png'));
  position: relative;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-bottom: -4px;
}

/* END Lista con vineta(imagen) END */

/* Social network list */

.social-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.social-list li{
  margin: 0 5px;
}

/* END Social network list END */

/* animations */

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}

.in-icon {
  width: 23px;
  height: 19px;
}

.not-margin-bottom {
  margin-bottom: 0px;
}

.know-more-button {
  height: 47px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #f3f3f3;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}

.request-demo-label {
  border-radius: 5px;
  border: 2px solid #ffffff;
  background: transparent;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.bg-secondary-big {
  width: 186px;
  height: 48px;
  border-radius: 5px;
  background-color: #26abe2;
  color: #f3f3f3;
  font-size: 15px;
  font-weight: 300;
}

.trial-free-container {
  text-align: center;
}

.box-actions {
  display: flex;

  .bg-primary {
    margin-right: 7px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: calc(100vh - 40px);
  margin-top: 20px;
  overflow-y: auto;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }

  &__window {
    background-color: #FFF;
    position: relative;
    width: 100% !important;
    height: 400px;
    max-width: 600px;
    max-height: 700px;
    border-radius: 6px;
    margin: auto;

    label {
      color: #000;
    }
  }

  .container {
    width: 95%;
  }
}

#modal--toggle:checked ~ .modal {
  display: block;
}

.not-found-image {
  max-height: 700px;
  width: 100%;
}

@media screen and (max-height: 680px) {
  .modal__window {
    height: 542px;
  }
}

.input {
  &:placeholder {
    text-align: left !important;
    color: #aaa !important;
  }

  &::-webkit-input-placeholder {
    text-align: left;
    color: #aaa !important;
  }

  &:-moz-placeholder {
    text-align: left;
    color: #aaa !important;
  }

  &::-moz-placeholder {
    text-align: left;
    color: #aaa !important;
  }

  &:-ms-input-placeholder {
    text-align: left;
    color: #aaa !important;
  }
}

@media (min-width: 1800px){
  .div-general-texts {
    width: 600px;
    height: 210px;
  }

  .clients-text {
    margin-top: 810px;
  }

  .stats-text {
    margin-top: 580px;
  }

  .communication-text {
    margin-top: 350px;
  }

  .products-text {
    margin-top: 125px;
  }

  .title-info {
    margin-left: 220px;
    margin-top: 40px;
  }

  .text-info {
    margin-left: 220px;
  }

  .text-main {
    margin-left: 250px;
  }

  .text-second {
    margin-left: 255px;
    font-size: 16px;
  }
}

@media (min-width: 1700px) and (max-width: 1799px){
  .div-general-texts {
    width: 500px;
    height: 180px;
  }

  .clients-text {
    margin-top: 780px;
  }

  .stats-text {
    margin-top: 560px;
  }

  .communication-text {
    margin-top: 350px;
  }

  .products-text {
    margin-top: 115px;
  }

  .title-info {
    margin-left: 190px;
    margin-top: 25px;
  }

  .text-info {
    margin-left: 190px;
    font-size: 14px;
  }

  .text-main {
    margin-left: 190px;
  }

  .text-second {
    margin-left: 195px;
  }
}

@media (min-width: 1600px) and (max-width: 1699px){
  .div-general-texts {
    width: 500px;
    height: 180px;
  }

  .clients-text {
    margin-top: 720px;
  }

  .stats-text {
    margin-top: 520px;
  }

  .communication-text {
    margin-top: 310px;
  }

  .products-text {
    margin-top: 105px;
  }

  .title-info {
    margin-left: 190px;
    margin-top: 25px;
  }

  .text-info {
    margin-left: 190px;
    font-size: 14px;
  }

  .text-main {
    margin-left: 190px;
  }

  .text-second {
    margin-left: 195px;
  }
}

@media (min-width: 1500px) and (max-width: 1599px){
  .div-general-texts {
    width: 450px;
    height: 160px;
  }

  .clients-text {
    margin-top: 670px;
  }

  .stats-text {
    margin-top: 480px;
  }

  .communication-text {
    margin-top: 290px;
  }

  .products-text {
    margin-top: 105px;
  }

  .sells-text {
    margin-top: -80px;
  }

  .title-info {
    margin-left: 170px;
    margin-top: 25px;
  }

  .text-info {
    margin-left: 170px;
    font-size: 12px;
  }

  .text-main {
    margin-left: 190px;
  }

  .text-second {
    margin-left: 195px;
  }
}

@media (min-width: 1400px) and (max-width: 1499px){
  .div-general-texts {
    width: 450px;
    height: 160px;
  }

  .clients-text {
    margin-top: 610px;
  }

  .stats-text {
    margin-top: 430px;
  }

  .communication-text {
    margin-top: 250px;
  }

  .products-text {
    margin-top: 75px;
  }

  .title-info {
    margin-left: 170px;
    margin-top: 25px;
  }

  .text-info {
    margin-left: 170px;
    font-size: 12px;
  }

  .text-main {
    margin-left: 180px;
    font-size: 30px;
  }

  .text-second {
    margin-left: 185px;
    font-size: 13px;
  }
}

@media (min-width: 1300px) and (max-width: 1399px){
  .div-general-texts {
    width: 430px;
    height: 150px;
  }

  .clients-text {
    margin-top: 570px;
  }

  .stats-text {
    margin-top: 410px;
  }

  .communication-text {
    margin-top: 250px;
  }

  .products-text {
    margin-top: 90px;
  }

  .sells-text {
    margin-top: -70px;
  }

  .title-info {
    margin-left: 160px;
    margin-top: 25px;
  }

  .text-info {
    margin-left: 160px;
    font-size: 11px;
  }

  .text-main {
    margin-left: 100px;
    font-size: 30px;
  }

  .text-second {
    margin-left: 105px;
  }
}

@media (min-width: 1200px) and (max-width: 1299px){
  .div-general-texts {
    width: 350px;
    height: 130px;
  }

  .clients-text {
    margin-top: 540px;
  }

  .stats-text {
    margin-top: 390px;
  }

  .communication-text {
    margin-top: 230px;
  }

  .products-text {
    margin-top: 70px;
  }

  .sells-text {
    margin-top: -80px;
  }

  .title-info {
    margin-left: 140px;
    margin-top: 25px;
  }

  .text-info {
    margin-left: 140px;
    font-size: 9px;
  }

  .text-main {
    margin-left: 80px;
  }

  .text-second {
    margin-left: 85px;
    font-size: 12px;
  }

  .flyers-section {
    .title {
      p {
        font-size: 30px;
      }
    }

    .flyer-text {
      text-align: center;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px){
  .div-general-texts {
    width: 320px;
    height: 110px;
  }

  .clients-text {
    margin-top: 500px;
  }

  .stats-text {
    margin-top: 350px;
  }

  .communication-text {
    margin-top: 210px;
  }

  .products-text {
    margin-top: 70px;
  }

  .sells-text {
    margin-top: -60px;
  }

  .title-info {
    margin-left: 120px;
    margin-top: 20px;
  }

  .text-info {
    margin-left: 120px;
    font-size: 9px;
  }

  .text-main {
    margin-left: 50px;
    font-size: 30px;
  }

  .text-second {
    margin-left: 55px;
    font-size: 10px;
  }

  .flyers-section {
    .title {
      p {
        font-size: 30px;
      }
    }

    .flyer-text {
      text-align: center;
    }
  }

  .home-header {
    .sell-text {
      p {
        font-size: 35px;
      }
    }

    .additional-text {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1023px){
  .infographic {
    display: none;
  }

  .div-fill {
    display: none;
  }

  .div-info {
    display: none;
  }

  .text-main {
    margin-left: auto;
    text-align: center;
  }

  .text-second {
    margin-left: auto;
    text-align: center;
  }

  .view-mobile {
    display: block;
  }

  .middle-section {
    height: auto;
  }

  .buttons-header {
    flex-direction: column;

    input {
      margin-bottom: 20px;
    }
  }

  .home-header {
    .sell-text {
      p {
        font-size: 30px;
      }
    }

    .additional-text {
      p {
        font-size: 15px;
      }
    }
  }

  .flyers-section {
    .title {
      p {
        font-size: 20px;
      }
    }

    .flyer-text {
      text-align: center;
    }

    .divide-flyers {
      border: none;
    }
  }
}

@media (min-width: 1024px) {
  .view-mobile {
    display: none !important;
  }
}
