$(function() {
  function handleAcceptedFile() {
    const igCheck = document.getElementById('template_enable_for_instagram');
    if (igCheck && igCheck.checked) {
      let file = $('#template_image').val().split('.').pop();
      if (file === 'pdf') {
        removeImage();
      }
      document.getElementById("template_image").accept = "image/jpg, image/jpeg, image/png";
    } else {
      document.getElementById("template_image").accept = "image/jpg, image/jpeg, image/png, application/pdf";
    }
  }

  handleAcceptedFile();
  $('.template_form input').on('change', handleAcceptedFile);
});

$('#template-question-search').on('keyup search', function() {
  getAjax(`/retailers/templates/templates_for_questions?search=${$(this).val()}`, function(data) {
    $('#templates-container').empty();
    var json = JSON.parse(data);
    json.forEach(buildQuestionList);
  });
});

$('#template-chat-search').on('keyup search', function() {
  getAjax(`/retailers/templates/templates_for_chats?search=${$(this).val()}`, function(data) {
    $('#templates-container').empty();
    var json = JSON.parse(data);
    json.forEach(buildChatList);
  });
});

function buildQuestionList(item) {
  string = `<form action="/retailers/${$('#slug-id').val()}/messages/${$('#model-id').val()}/answer_question" accept-charset="UTF-8" method="post">` +
              '<input name="utf8" type="hidden" value="✓">' +
              '<input type="hidden" name="_method" value="put">' +
              `<input type="hidden" name="authenticity_token" value="${$('meta[name="csrf-token"]').attr('content')}">` +
              `<input type="hidden" name="answer" id="answer" value="${item.answer}">` +
              '<p>' +
                `<span class="c-secondary fs-16">${item.title}</span>` +
              '</p>' +
              '<p>' +
                `<label class="c-grey fs-14">${item.answer.substring(0,140)}</label>` +
              '</p>' +
              '<input type="submit" name="commit" value="Enviar" class="btn-btn btn-submit w-100" data-disable-with="Enviar">' +
              '<hr>' +
            '</form>';

  $('#templates-container').append(string);
}

function buildChatList(item) {
  string = `<form action="/retailers/${$('#slug-id').val()}/orders/${$('#order_id').val()}/send_message" accept-charset="UTF-8" method="post">` +
              '<input name="utf8" type="hidden" value="✓">' +
              `<input type="hidden" name="authenticity_token" value="${$('meta[name="csrf-token"]').attr('content')}">` +
              `<input type="hidden" name="answer" id="answer" value="${item.answer}">` +
              '<p>' +
                `<span class="c-secondary fs-16">${item.title}</span>` +
              '</p>' +
              '<p>' +
                `<label class="c-grey fs-14">${item.answer.substring(0,140)}</label>` +
              '</p>' +
              '<input type="submit" name="commit" value="Enviar" class="btn-btn btn-submit w-100" data-disable-with="Enviar">' +
              '<hr>' +
            '</form>';

  $('#templates-container').append(string);
}

function previewImage(input) {
  if (input.files && input.files[0]) {
    let file = input.files[0];
    if (file.type === 'application/pdf' && file.size > 25*1024*1024) {
      alert('El archivo no puede pesar más de 25MB');
      removeImage();
      return;
    } else if (['image/jpg', 'image/jpeg', 'image/png'].includes(file.type) && file.size > 5*1024*1024) {
      alert('La imagen no puede pesar más de 5MB');
      removeImage();
      return;
    } else if (!['image/jpg', 'image/jpeg', 'image/png', 'application/pdf'].includes(file.type)) {
      alert('Debe seleccionar un archivo valido, JPEG/JPG o PNG no mayor a 5MB o PDF no mayor a 25MB');
      removeImage();
      return;
    }
    let reader = new FileReader();

    reader.onload = function(e) {
      const fileType = $('#template_image').val().split('.').pop();
      const src = URL.createObjectURL(file);
      if (fileType === 'pdf') {
        $('#preview-template-image').replaceWith($(`<embed id="preview-template-image" src="${src}" class="w-200 h-200" />`));
      } else {
        $('#preview-template-image').replaceWith($(`<img id="preview-template-image" src="${src}" class="w-200 h-200" />`));
      }
      $('#preview-container-image').show();
      $('#current-template-image').hide();
    }
    reader.readAsDataURL(file);
  }
}

function removeImage() {
  $('#template_image').val(null);
  $('#preview-container-image').hide();
  $('#current-template-image').show();
}
