$('#template-question-search').on('keyup search', function() {
  getAjax(`/retailers/templates/templates_for_questions?search=${$(this).val()}`, function(data) {
    $('#templates-container').empty();
    var json = JSON.parse(data);
    json.forEach(buildQuestionList);
  });
});

$('#template-chat-search').on('keyup search', function() {
  getAjax(`/retailers/templates/templates_for_chats?search=${$(this).val()}`, function(data) {
    $('#templates-container').empty();
    var json = JSON.parse(data);
    json.forEach(buildChatList);
  });
});

function buildQuestionList(item) {
  string = `<form action="/retailers/${$('#slug-id').val()}/${$('#web-id').val()}/messages/${$('#model-id').val()}/answer_question" accept-charset="UTF-8" method="post">` +
              '<input name="utf8" type="hidden" value="✓">' +
              '<input type="hidden" name="_method" value="put">' +
              `<input type="hidden" name="authenticity_token" value="${$('meta[name="csrf-token"]').attr('content')}">` +
              `<input type="hidden" name="answer" id="answer" value="${item.answer}">` +
              '<p>' +
                `<span class="c-secondary fs-16">${item.title}</span>` +
              '</p>' +
              '<p>' +
                `<label class="c-grey fs-14">${item.answer.substring(0,140)}</label>` +
              '</p>' +
              '<input type="submit" name="commit" value="Enviar" class="btn-btn btn-submit w-100" data-disable-with="Enviar">' +
              '<hr>' +
            '</form>';

  $('#templates-container').append(string);
}

function buildChatList(item) {
  string = `<form action="/retailers/${$('#slug-id').val()}/${$('#web-id').val()}/orders/${$('#order_id').val()}/send_message" accept-charset="UTF-8" method="post">` +
              '<input name="utf8" type="hidden" value="✓">' +
              `<input type="hidden" name="authenticity_token" value="${$('meta[name="csrf-token"]').attr('content')}">` +
              `<input type="hidden" name="answer" id="answer" value="${item.answer}">` +
              '<p>' +
                `<span class="c-secondary fs-16">${item.title}</span>` +
              '</p>' +
              '<p>' +
                `<label class="c-grey fs-14">${item.answer.substring(0,140)}</label>` +
              '</p>' +
              '<input type="submit" name="commit" value="Enviar" class="btn-btn btn-submit w-100" data-disable-with="Enviar">' +
              '<hr>' +
            '</form>';

  $('#templates-container').append(string);
}
