<div class="aligner-row head">
  <h3 class="w-100">Editar plantilla</h3>
  <div class="w-100 middle-right">
    <%= link_to 'Ir al producto', retailers_template_path(@retailer, @template) %>
    <%= link_to 'Atrás', retailers_templates_path, class: 'ml-8' %>
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card mt-9">
        <%= render 'form', template: @template %>
      </div>
    </div>
  </div>
</div>
