<div class="aligner-row head">
  <h3>Plantilla</h3>
  <div class="w-100 middle-right">
    <%= link_to 'Editar', edit_retailers_template_path(current_retailer, @template) %>
    <%= link_to 'Atrás', retailers_templates_path, class: 'ml-8' %>
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card mt-9">
        <div class="box">
          <div class="row">
            <div class="col-xs-12">
              <p class="m-0 product-text">
                <b class="normal black-text"><%= @template.title %></b>
                <hr class="my-12 separator">
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-10">
              <p class="product-text">
                <%= @template.answer %>
              </p>
            </div>
            <div class="col-xs-12 col-md-2">
            <% if @template.enable_for_questions %>
              <p class="product-tags">
                Pregunta
              </p>
            <% end %>
            <% if @template.enable_for_chats %>
              <p class="product-tags">
                Chat
              </p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
