version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.3-node-browsers-legacy
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: postgres
          RAILS_ENV: test
          CC_TEST_REPORTER_ID: f4dddb9a79406166efb2d61ccb817f9de5cc19f5fa71219fd4909263ca21dc02
          RECAPTCHA_SITE_KEY: 6LeXk9MUAAAAAKSLKa1Mw6sxT4WH9FfAx9j7xoha
          RECAPTCHA_SECRET_KEY: 6LeXk9MUAAAAADEx_aJ_DjL4NXwlznot_KrWNEVT
          RECAPTCHA_SITE_KEY_V2: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
          RECAPTCHA_SECRET_KEY_V2: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
          SECRET_KEY_BASE: e0bb1e68988682bbefbf536f262cefb21268d12ce9a23b2f896e78e8d5a93813ab1030af64518238d2d6f932b06e97deeb602586e9d82682b0e182ccefd74599
      - image: circleci/postgres:11.1-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: mercately_test
          POSTGRES_PASSWORD: ""
      - image: redis

    steps:
      - checkout

      - run:
          name: Bundle upgrade
          command: gem update bundler

      - run:
          name: Copy database.yml.example to database.yml
          command: cp config/database.yml.example config/database.yml

      - run:
          name: What bundler?
          command: bundle -v

      # Restore bundle cache
      - restore_cache:
          keys:
            - mercately-bundle-v1-{{ checksum "Gemfile.lock" }}
            - mercately-bundle-v1-

      - run:
          name: Bundle Install
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle

      # Store bundle cache
      - save_cache:
          key: mercately-bundle-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      # Database setup
      - run: bin/rails db:schema:load --trace
      - run: bin/rails db:migrate RAILS_ENV=test

      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: Run rspec
          command: |
            mkdir -p test-results/rspec test-artifacts
            ./cc-test-reporter before-build
            TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
            bundle exec rspec --profile 10 \
                              --color \
                              --order random \
                              --out test-results/rspec/rspec.xml \
                              --format progress \
                              -- ${TESTFILES}
            ./cc-test-reporter after-build -t simplecov --exit-code $?
