h1 {
  font-size: 22px;
  letter-spacing: 0.5px;
}

.fieldset {
  border: 0;
  padding: 0;

  label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #646464;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  legend {
    padding-inline-start: 0;
  }

  &.credit_card, .btn-box > button {
    width: 100%;
  }
}

.input, .input-100 {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: calc(100% - 16px);

  &--invalid {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 5px .1px #F92222;
    -moz-box-shadow: 0px 0px 5px .1px #F92222;
    box-shadow: 0px 0px 5px .1px #F92222;
  }
}

.input-100 {
  width: 100%;
}

.validation-msg {
  color: red;
  font-size: 12px;
}

.btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 0 4px;
  font-size: 13px;
  color: #000;
  cursor: pointer;

  &--cta {
    border: 2px solid $secondary-color;
    color: $secondary-color;
    &:hover {
      color: #FFF;
      background-color: $secondary-color;
    }
  }

  &--destroy {
    border: 2px solid #F92222;
    color: #F92222;

    &:hover {
      color: #FFF;
      background-color: #F92222;
    }
  }

  &--no-border {
    border: 2px solid transparent;

    &:hover {
      border: 2px solid transparent;
      background-color: transparent;
    }
  }
}

.divider {
  border-bottom: 1px solid #DDD;
  margin: 8px 0;
}

.cookie {
  padding: 2px 12px;
  border-radius: 25px;
  font-size: 12px;

  a {
    color: #FFF;
    text-decoration: none;
  }

  &--green {
    background-color: #00A652;
    color: #FFF;
  }

  &--yellow {
    background-color: #f3d02f;
    color: #000;
  }

  &--red {
    background-color: #F92222;
    color: #FFF;
  }

  &--blue {
    background-color: $secondary-color;
    color: #FFF;
  }
}

.table {
  margin-bottom: 16px;

  &__header {
    font-size: 16px;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  &__item {
    position: relative;
    padding: 10px 0;
    font-size: 13px;
    color: $secondary-color;

    .item__descriptor {
      color: #AAA;
      text-align: right;
    }

    .item__dropdown .dropdown__button {
      font-size: 20px;
      color: #000;
    }
  }
}

.table_details {
  border-collapse: collapse;

  td {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &--underlined {
    tr {
      border-bottom: 1px solid #DDD;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__descriptor {
    padding-left: 16px;
    color: #999;
  }

  &__value {
    padding-left: 8px;
    padding-right: 16px;
    color: $secondary-color;
  }
}

.table_order_details {
  border-collapse: collapse;
  font-size: 13px;

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
  }

  &--underlined {
    tr {
      border-bottom: 1px solid #DDD;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__descriptor {
    padding-left: 16px;
  }

  &__value {
    padding-left: 8px;
    padding-right: 16px;
  }
}

.worm {
  margin-top: 15px;
  &__btn {
    color: $secondary-color;
    padding: 10px 20px;
    border: 1px solid #DDD;
    border-left: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;

    a {
      color: $secondary-color;
      text-decoration: none;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: 1px solid #DDD;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--selected {
      background-color: $secondary-color;
      font-weight: bold;
      color: #FFF;

      a {
        font-weight: bold;
        color: #FFF;
      }
    }
  }
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown {
  &__button {
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #FFF;
    list-style-type: none;
    right: 0;
    z-index: 1000;
  }

  &__input {
    display: none;
    & + .dropdown__menu {
      display: none;
    }
    &:checked + .dropdown__menu {
      display: block;
    }
  }

  &__button {
    & + .dropdown__menu {
      display: none;
    }
    &:focus + .dropdown__menu {
      display: block;
    }
  }

  &__menu {
    width: 200px;
    li {
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
    }
    li:hover {
      background-color: #f6f6f6;
    }
    li a {
      display: block;
      margin: -10px -20px;
      padding: 10px 20px;
    }
    li.divider{
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #cccccc;
    }
    &:hover {
      display: block;
    }
  }
}

.page-container {
  @media screen and (min-width: 1024px) {
    margin-left: 60px;
    margin-top: 25px;
  }

  .container {
    padding: 0 4px;
    &-fluid {
      padding: 0;
    }
  }
}

.card {
  min-height: 80vh;
  background-color: #FFF;
  padding: 8px;
  border-radius: 5px;

  @media screen and (min-width: 1024px) {
    margin-left: 60px;
    margin-top: 25px;
  }
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

  &__module {
    // padding-bottom: 24px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 24px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__submodule {
    border-bottom: 1px solid #DDD;

    .submodule {
      padding: 12px 0;

      &:last-child {
        border-right: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    color: #999;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
  }

  .container {
    padding: 0 4px;
    &-fluid {
      padding: 0;
    }
  }
}

.submodule {
  margin: auto;
  background-color: #FFF;
  text-align: center;

  h2 {
    font-size: 35px;
    margin-bottom: 0;
  }

  h6 {
    margin: 0;
  }
}

.box {
  &--grey {
    border: 2px solid #ebebeb;
    padding: 2px;
  }
}

.bubble {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 8px;
  background-color: $secondary-color;
  border-radius: 50px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: white;
    width: 50px;
    height: 50px;
  }

  &.ws-bubble {
    background-color: #5FC993;
    z-index: 1000;

    a {
      i {
        font-size: 35px;
        margin-top: 7px;
      }
    }
  }
}

.circle {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  padding: 16px;
  border: 8px solid #00A652;
  border-radius: 150px;
  margin: auto;
  background-color: #FFF;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  h6 {
    margin: 0;
  }
}

.modal, .modal-index {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: 100vh;
  margin-top: 80px;

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 10;
    font-size: 25px;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }

  &__window {
    background-color: #FFF;
    position: relative;
    width: 100%;
    max-height: 700px;
    border-radius: 6px;
    overflow-y: auto;
  }
}

.money {
  font-size: 16px;
  font-weight: bold;
  color: #00A652;
}

.pagination {

  a {
    color: $secondary-color;
  }

  li {
    display: inline-block;
  }

  .current a {
    color: #000 !important;

    &:hover {
      cursor: default;
    }
  }

  .disabled {
    display: none;
  }

  a, .current, .gap {
    padding: 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
  }
}

#toast-btn {
  display: inline-block;
  float: left;
  background: #fff;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #3B2F63;
  white-space: no-wrap;
  font-size: 20px;
  color: #3B2F63;
  width: 40%;
  text-align: center;
  z-index: 99;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#toast-btn:hover {
  background: #3B2F63;
  color: #fff;
}

.toast {
  padding: 15px 20px;
  color: #fff;
  background: rgba(0,0,10,0.7);
  display: inline-block;
  position: fixed;
  top: -100px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s ease-out;
}

#event-modal:checked ~ .modal, #event-modal--edit:checked ~ .modal {
  z-index: 300;
}

#modal--toggle:checked ~ .modal, #modal--toggle-index:checked ~ .modal-index,
#event-modal:checked ~ .modal, #event-modal--edit:checked ~ .modal, input[name="modal--toggle"]:checked ~ .modal,
#modal-agent--toggle:checked ~ .modal-agent,
.modal--toggler:checked ~ .modal-index {
  display: block;
}

.custom-checkbox {
  -webkit-appearance: none;
  border: 1px solid #adb8c0;
  width: 12px;
  position: relative;

  &:checked {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: #99a1a7;

    &:after {
      content: '\2714';
      font-size: 14px;
      position: absolute;
      top: -2px;
      left: 2px;
      color: #fbf3f3;
    }
  }
}

@-moz-document url-prefix() {
  .custom-checkbox {
    &:checked:after {
      font-size: 18px;
      top: -5px;
      left: 3px;
    }
  }
}

@media screen and (max-height: 680px) {
  .modal__window, .modal-index__window {
    height: 542px;
  }
}

/* Tooltip container */
.tooltip {
  width: 100%;
  position: relative;
  display: inline-block;

  &:hover {
    &::after {
      display: block;
    }
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  display: inline-table;
  background-color: #FFF;
  color: #000;
  text-align: justify;
  padding: 10px 17px;
  border: 1px solid #FFF;
  border-radius: 4px;
  font-size: 14px;
  max-width: unset;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);

  /* Position the tooltip text */
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 70px;

  &.tooltiptext--right {
    top: -75px;
    left: 110%;
  }

  &.tooltiptext--black {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  &--big {
    width: 210px;
  }

  &--medium {
    width: 140px;
  }

  &.positioned {
    top: -15px;
  }

  &.tootip-text-customer-chat-column {
    top: -20px;
    left: 40px;
  }
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent #FFF transparent transparent;
}

.tooltip .tooltiptext--black::after {
  border-color: transparent #000 transparent transparent;
}

.tooltip::after {
  content: " ";
  display: none;
  position: absolute;
  top: 0%;
  left: 90%;
  width: 30px;
  height: 40px;

  &:hover {
    display: block;

    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

// React
// div.profile:nth-child(1) > div:nth-child(1) > div:nth-child(2)
.profile {
  background-color: #F4F5F7;
  border: 1px solid #F4F5F7;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 3px;

  &__data {
    .profile__info {
      @media only screen and (max-width: 1460px) {
        padding-left: 2rem;
      }

      @media only screen and (max-width: 768px) {
        padding-left: 1rem;
      }
    }
  }

  &:hover {
    background-color: #eee;
  }

  &:last-child {
    border-bottom: unset;
  }

  &__name {
    font-size: .9em;

    .fw-muted {
      font-size: .7em;
      color: #999;
    }

    .time-from {
      display: inline;
      margin-left: .8em;
    }
  }
}

.chat {
  &__box {
    height: 65vh;
    overflow-y: auto;
    background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url(image_path('dashboard/chat_background.jpg'));
    background-size: 225px;
  }

  &__control {
    margin-right: 10px;
  }

  &__selector {
    margin-right: 10px;
    height: 68vh;
    overflow-y: auto;
  }
}

.customer_sidebar {
  border-left: 1px solid #e7e7e7;
  height: 89vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 10px;
}


.customer_sidebar .customer_box {
  border-bottom: 1px solid #e7e7e7;
  padding: 17px 5px;
  position: relative;
}

.customer_sidebar .customer_box p {
  margin: 0;
  font-size: 15px;
  color: #30343a;
  font-weight: 700;
}
.customer_sidebar i {
  color: #b1b8c4;

  &.primary {
    color: $primary-color;
  }
}

.customer_sidebar .customer_box p i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -85%);
}

.customer_sidebar .label {
  margin: 0;
  color: #AAA;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.customer_sidebar .tag {
  font-size: 12px !important;
  color: #000;
  margin-left: 5px;
}

.customer_details,
.custome_fields {
  padding: 20px 10px;
}

.customer_details .details_holder,
.custome_fields .details_holder {
  background-color: #00B4FF;
  color: #fff;
  padding: 5px;
  border-radius: 5;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Customer */
.chat_list_holder{
  border-right: 1px solid #e7e7e7;
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img__profile .rounded-circle {
  background-color: #ddd;
  border: 1px solid transparent;
  border-radius: 50%;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  text-align: center;
}

.message{
  position: relative;
  overflow: hidden;
  padding: 5px 15px 5px 0;
}

.message .main-message-container {
  display: inline-block;
  vertical-align: top;
  max-width: 75%;
  background: #F1F0F0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 6px 14px 6px 14px;

  &.no-background {
    background: unset !important;
  }

  &.media-container {
    padding: 0;
    width: 300px;
  }

  .video-content {
    position: relative;
  }

  .audio-content {
    position: relative;
  }

  .media-content {
    position: relative;
    height: 300px;
    border: 5px solid #F1F0F0;
    border-radius: 0;
  }

  .media-caption {
    background: #F1F0F0;
    border-radius: 0 0 20px 20px;
    padding: 6px 14px 6px 14px;
    color: initial;

    &.media-caption-template {
      background: unset;
      color: unset;
    }
  }

  .img-holder {
    width: 300px;
  }

  .msg__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: unset !important;
    max-height: unset !important;
  }

  %media-message-status {
    position: absolute;
    right: 4px;
    bottom: 0;
  }

  .img-video-message-status {
    @extend %media-message-status;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
    span {
      color: #FFF;
    }
  }

  .audio-message-status {
    text-align: right;

    span, i, small {
      color: #646464;
    }
  }

  span.inbound-media {
    color: #FFF;
  }

  &.audio-background {
    background: #F1F3F4 !important;
  }
}

.overflow-x-scroll {
  overflow-x: scroll;
}

i {

  &.stroke {
    color: #fff;
    text-shadow:
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }

  &.full {
    color: #000;
    text-shadow: none;
  }

  &.fa-sync {
    -webkit-animation: rotation 2s 5s linear;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
}

.message-by-retailer {
  background: #3d8bfc !important;
  color: #FFF;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .img-holder {
    text-align: right;
  }

  &.read-message {
    background-color: #00A652 !important;
  }

  i.checks-mark {
    font-size: 0.7em;

    &.stroke {
      color: #3d8bfc;
      text-shadow:
         -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff;
    }

    &.full {
      color: #fff;
      text-shadow: none;
    }
  }

  a {
    color: #FFF;
  }

  .caption {
    background: #3d8bfc !important;
    border-radius: 20px;
    padding: 6px 14px 6px 14px;
  }

  &.error-message {
    background-color: #ff0000ad !important;
  }

  .media-caption {
    a {
      color: initial;
    }
  }
}

.message-by-customer {
  min-width: 35%;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .caption {
    background: #F1F0F0;
    border-radius: 20px;
    padding: 6px 14px 6px 14px;
  }

  .img-holder {
    text-align: left;
  }
}

#bottomRef {
  height: 15px;
}

.img-holder {
  text-align: right;

  .msg__img {
    max-height: 200px;
    max-width: 200px;
  }
}

.img_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: 100vh;
  }

  img {
    position: relative;
    max-height: 80vh;
    max-width: 70vw;
  }
}

.chat-input {
  background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url(image_path('dashboard/chat_background.jpg'));
  background-size: 225px;

  .text-input {
    background-color: #FFF;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-box-shadow: 0px 0px 5px .8px #cccccc;
    -moz-box-shadow: 0px 0px 5px .8px #cccccc;
    box-shadow: 0px 0px 5px .8px #cccccc;
    margin-top: 15px;

    textarea {
      width: 95%;
      border: 0;
      padding: 8px;
      outline: 0;
      margin-top: 10px;
      border-bottom: 1px solid $secondary-color;

      &.no-border {
        border: none;
      }
    }

    .selected-product-image-container {
      padding: 8px;
      width: 100px;
      max-height: 100px;
      position: relative;

      i {
        position: absolute;
        top: 0;
        right: 0;
        color: #AAA;
      }

      img {
        width: 100px;
        max-height: 100px;
      }
    }

    .fas {
      color: #AAA;
      &:hover {
        color: $secondary-color;
      }
    }

    .message-input {
      display: inline-block;
      width: 95%;
      border: 0;
      padding: 8px;
      outline: 0;
      height: 53px;
      margin-bottom: 4px;
      overflow-y: auto;
      border-bottom: 1px solid $secondary-color;
      white-space: pre-wrap;
    }

    [contentEditable=true]:empty::before {
      content:attr(placeholder-text)
    }

    .cancel-audio-counter {
      color: #F92222;
    }

    .send-audio-counter {
      color: #27C170;
    }

    .time-audio-counter {
      .fa-circle {
        color: #F92222;
      }
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.chat_loader {
  text-align: center;
}

.chat_loader img{
  width: 50px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Editable content */

.editable_field {
  display: inline-block;
  min-width: 100px;
  color: #555;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: #000;
    border: 1px solid #eee;
    border-style: dotted;
  }
}

.editable_email {
  color: #d93025 !important
}

.editable_phone {
  color: #45ee56 !important;
}

.editable_map{
  color: #feda3a !important;
}

.editable_name{
  color: #3a71f1 !important;
}

.editable_card_id{
  color: #3a71f1 !important;
}

.inline-block {
  display: inline-block;
}

.editable-notes {
  height: 100px;
  border: 1px solid hsl(0,0%,80%);
  border-radius: 5px;
  padding: 10px 5px;
  margin-top: 10px;
  overflow-y: auto;
}

.details-select__control {
  height: unset !important;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
}

.number_flag{
  width: 15px
}

.table__pricing {
  border-collapse: collapse;
  width: 1000px;

  th {
    font-size: 18px;
    padding: 12px;
  }

  tbody {
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 3px;

    tr:first-child {
      font-size: 26px;
      td {
        padding: 8px 12px;
      }
    }

    tr td {
      border-left: 1px solid #eee;
      padding: 8px;

      &:first-child {
        border-left: 0;
      }
    }

    .pricing__section {
      border-top: 1px solid #eee;
    }
  }

  tfoot {
    td:first-child {
      background-color: transparent;
    }

    td {
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 8px;
      background-color: #fff;
      text-align: center;
    }

    td:last-child {
      border-right: 1px solid #eee;
    }
  }

  tr td:first-child {
    color: #aaa;
    padding-left: 12px;
  }
}

.pricing__start {
  display: inline-block;
  border-radius: 10px;
  background-color: #26abe2;
  color: #fff;
  padding: 4px 8px;
  text-decoration: none;
  margin-top: 12px;
}

.pricing__contact {
  display: inline-block;
  border-radius: 10px;
  border: 6px solid #0e1022;
  padding: 4px 8px;
  text-decoration: none;
  margin-top: 12px;
  color: #000;
}

.ws-button {
  border-radius: 10px;
  background-color: #5fc993;
  padding: 4px 8px;
  text-decoration: none;
  color: #fff !important;
}

.pricing__card {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fast_answer_content {
  background-color: #F4F5F7;
  border: 1px solid #F4F5F7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: #eee;
  }

  .select_answer {
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.chat-right-side-selector {
  border-left: 1px solid #e7e7e7;
  padding: 0px 10px;
  height: 89vh;
  overflow-y: auto;
}

.show-to-right {
  display: flex;
  justify-content: flex-end;

  .customer-tags-chats {
    font-size: 10px;
    background-color: #FFF;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 5px;
  }
}

.product-right-side-content {
  border: 1px solid #F4F5F7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 3px .8px #cccccc;
  -moz-box-shadow: 0px 0px 3px .8px #cccccc;
  box-shadow: 0px 0px 3px .8px #cccccc;

  .info-container {
    width: inherit;
    font-weight: bold;
  }

  .select-container {
    margin-bottom: 10px;

    a {
      background-color: #F4F5F7;
      text-decoration: none;
      padding: 5px 15px;
      border-radius: 5px;
      color: #000;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      -webkit-box-shadow: 0px 0px 3px .5px #dfdfdf;
      -moz-box-shadow: 0px 0px 3px .5px #dfdfdf;
      box-shadow: 0px 0px 3px .5px #dfdfdf;
    }
  }

  .products__img {
    margin: unset;
  }
}

.tooltip-top {
  position: relative;
  display: inline-block;
}

.tooltip-top .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 30%;
  margin-left: -50px;
  max-width: unset;
  font-size: 12px;
}

.tooltip-top .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-top .tooltiptext::after .aaa {
  left: 63%;
}

.tooltip-top:hover .tooltiptext {
  visibility: visible;
}

.contact-card {
  i {
    color: #3a71f1;
  }
}

.tree-options-links {
  display: none;

  a {
    color: $secondary-color;
    text-decoration-style: unset;
  }

  .delete {
    color: #F92222;
  }
}

.chat-bot-option-ul {
  list-style-type: none;

  .chat-bot-option-li {
    .li-content {
      border-radius: 5px;

      &:hover {
        background-color: #F5F5F5;
        padding-top: 10px;
        padding-bottom: 10px;

        .tree-options-links {
          display: inline-block;
        }
      }
    }
  }
}

.bot-icon-container {
  position: relative;
  width: 100%;

  .bot-position {
    right: 20px;
  }

  i {
    position: absolute;
    right: 0;
    top: -10px;
  }
}

.chat-preview-container {
  .phone-container {
    border: 1px solid #AAA;
    border-radius: 5px;
    margin-right: 30px;

    .header-phone {
      background-color: #F1F0F0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .conversation-container {
      height: 400px;
      overflow-y: auto;
      background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url(image_path('dashboard/chat_background.jpg'));
      background-size: 225px;
      padding: 10px;
      position: relative;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .sent-message-preview {
        background-color: #F1F0F0;
        border-radius: 10px;
        padding: 5px 10px;
        max-width: 90%;
        font-size: 12px;
      }

      .received-message-preview {
        background-color: #00A652;
        border-radius: 10px;
        padding: 5px 10px;
        max-width: 70%;
        font-size: 12px;
        float: right;
        color: #FFF;
      }
    }
  }
}

.replied-message {
  background-color: #A9A9A9;
  border-radius: 20px;
  padding: 6px 14px 6px 14px;

  .text {
    font-size: 12px;
  }

  .image {
    max-width: 100px;
    max-height: 100px;
    margin-top: 5px;
  }

  audio, video, .contact-card {
    margin-top: 5px;
  }

  .no-back-color {
    background-color: unset;
  }
}

.selector-container {
  height: 220px;
  border: 2px dashed $secondary-color;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  outline: 0px solid transparent;

  .indicators {
    margin-top: 70px;
  }
}

.preview-container {
  .div-image {
    position: relative;

    .image-selected {
      width: 150px;
      height: 150px;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      color: #AAA;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.google-map {
  position: relative;
  width: 100%;
  height: 530px;
}

.card-to-replace {
  min-height: 80vh;

  .container {
    padding: 0 4px;
    &-fluid {
      padding: 0;
    }
  }
}

.form-container {
  &_header-title, &_sub-title {
    font-family: 'Poppins-SemiBold';
    @media screen and (min-width: 1024px) {
      margin-left: 60px;
    }
  }

  &_sub {
    color: #AAA;
    font-size: 16px;
    margin-top: 0;
  }

  &_card {
    min-height: auto !important;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3) !important;
  }

  .fieldset-to-replace {
    border: 0;
    padding: 0;

    label {
      font-family: 'Poppins-SemiBold';
      color: #020202;
    }

    .input {
      color: #888888;
      font-size: 13px;
      font-weight: 300;
      height: 36px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      box-shadow: none;
      box-sizing: border-box;
      padding: 0;
      -webkit-transition: border-color .15s linear,box-shadow .15s linear;
      -moz-transition: border-color .15s linear,box-shadow .15s linear;
      -ms-transition: border-color .15s linear,box-shadow .15s linear;
      -o-transition: border-color .15s linear,box-shadow .15s linear;
      transition: border-color .15s linear,box-shadow .15s linear;
      padding: 8px;
      width: 100%;

      &--invalid {
        border: 1px solid #d9d9d9;
        -webkit-box-shadow: 0px 0px 5px .1px #F92222;
        -moz-box-shadow: 0px 0px 5px .1px #F92222;
        box-shadow: 0px 0px 5px .1px #F92222;
      }
    }
  }
}

.back-link {
  font-family: 'Poppins-SemiBold';
  text-decoration: none;
  color: #AAA;
  font-size: 16px;
  margin-top: 0;
  @media screen and (min-width: 1024px) {
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
  }
}

.cancel-link {
  text-decoration: none;
  color: #020202;
  font-size: 18px;
}

.btn-btn {
  &.btn-primary-style {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-transform: unset;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
    font-size: 15px;
  }
}

.form-main-buttons {
  position: absolute;
  top: -60px;
  right: 0px;
}

#add-customer-tags-container {
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00B4FF;
    border: none;
    border-radius: 13px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #FFF;
    float: left;
    position: relative;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF;
    right: 5px;
    position: absolute;
  }
}

.general-new-container {
  padding-right: 2rem;
  padding-left: 2rem;

  &_card {
    min-height: auto !important;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3) !important;
    overflow: hidden;

    &_agent-summary {
      min-height: 11em !important;
    }
  }

  &_header-title, &_sub-title {
    font-family: 'Poppins-SemiBold';
  }

  &_sub {
    color: #AAA;
    font-size: 16px;
    margin-top: 0;
  }
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beetwen-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emojis-container {
  position: absolute;
  bottom: 110px;
  right: -5px;
  text-align: left;
}



@media (min-width: 1024px) {
  .container-titles {
    margin-left: 60px;
    margin-top: 25px;
  }
}

.card-box {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.bordered-container {
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 5px;
}

.tab{
  color: #DDD;
  padding: 12px 24px;
  position: relative;
  z-index: 1;
  top: 2px;
  border-bottom: 2px solid transparent;
  border-radius: 5px 5px 0 0;

  &.selected-tab {
    border-color: $secondary-color;
    background-color: #FFF;

    label {
      color: $secondary-color !important;
    }
  }
}

.dropdown__menu--react {
  width: 100px;
  right: 100px;

  li {
    padding: 8px 8px;

    a {
      font-size: 12px;
      margin: unset;
      padding: unset;
    }
  }
}

.separator {
  border-top: 1px solid #ebebeb;
}

.input-border {
  border: 1px solid #ddd;
  border-radius: 5px;
}
