.fieldset {
  border: 0;
  padding: 0;

  label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #646464;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  legend {
    padding-inline-start: 0;
  }
}

.input {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: calc(100% - 16px);

  &--invalid {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 5px .1px #f00;
    -moz-box-shadow: 0px 0px 5px .1px #f00;
    box-shadow: 0px 0px 5px .1px #f00;
  }
}

.validation-msg {
  color: red;
  font-size: 12px;
}

.btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 0 4px;
  font-size: 13px;
  color: #000;

  &--cta {
    border: 2px solid $secondary-color;
    color: $secondary-color;

    &:hover {
      color: #FFF;
      background-color: $secondary-color;
    }
  }

  &--destroy {
    border: 2px solid #F00;
    color: #F00;

    &:hover {
      color: #FFF;
      background-color: #F00;
    }
  }

  &--no-border {
    border: 2px solid transparent;

    &:hover {
      border: 2px solid transparent;
      background-color: transparent;
    }
  }
}

.divider {
  border-bottom: 1px solid #DDD;
  margin: 8px 0;
}

.cookie {
  padding: 2px 12px;
  border-radius: 25px;
  font-size: 12px;

  a {
    color: #FFF;
    text-decoration: none;
  }

  &--green {
    background-color: #00A652;
    color: #FFF;
  }

  &--yellow {
    background-color: #f3d02f;
    color: #000;
  }

  &--red {
    background-color: #F00;
    color: #FFF;
  }

  &--blue {
    background-color: $secondary-color;
    color: #FFF;
  }
}

.table {
  margin-bottom: 16px;

  &__header {
    font-size: 16px;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  &__item {
    position: relative;
    padding: 10px 0;
    font-size: 13px;
    color: $secondary-color;

    .item__descriptor {
      color: #AAA;
      text-align: right;
    }

    .item__dropdown .dropdown__button {
      font-size: 20px;
      color: #000;
    }
  }
}

.table_details {
  border-collapse: collapse;

  td {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &--underlined {
    tr {
      border-bottom: 1px solid #DDD;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__descriptor {
    padding-left: 16px;
    color: #999;
  }

  &__value {
    padding-left: 8px;
    padding-right: 16px;
    color: $secondary-color;
  }
}

.table_order_details {
  border-collapse: collapse;
  font-size: 13px;

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
  }

  &--underlined {
    tr {
      border-bottom: 1px solid #DDD;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__descriptor {
    padding-left: 16px;
  }

  &__value {
    padding-left: 8px;
    padding-right: 16px;
  }
}

.worm {
  margin-top: 15px;
  &__btn {
    color: $secondary-color;
    padding: 10px 20px;
    border: 1px solid #DDD;
    border-left: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;

    a {
      color: $secondary-color;
      text-decoration: none;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: 1px solid #DDD;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--selected {
      background-color: $secondary-color;
      font-weight: bold;
      color: #FFF;

      a {
        font-weight: bold;
        color: #FFF;
      }
    }
  }
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown {
  &__button {
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #FFF;
    list-style-type: none;
    right: 0;
    z-index: 1000;
  }

  &__input {
    display: none;
    & + .dropdown__menu {
      display: none;
    }
    &:checked + .dropdown__menu {
      display: block;
    }
  }

  &__button {
    & + .dropdown__menu {
      display: none;
    }
    &:focus + .dropdown__menu {
      display: block;
    }
  }

  &__menu {
    width: 200px;
    li {
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
    }
    li:hover {
      background-color: #f6f6f6;
    }
    li a {
      display: block;
      margin: -10px -20px;
      padding: 10px 20px;
    }
    li.divider{
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #cccccc;
    }
    &:hover {
      display: block;
    }
  }
}

.card {
  min-height: 80vh;
  background-color: #FFF;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  &__module {
    // padding-bottom: 24px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 24px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__submodule {
    border-bottom: 1px solid #DDD;

    .submodule {
      padding: 12px 0;

      &:last-child {
        border-right: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    color: #999;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
  }

  .container {
    padding: 0 4px;
    &-fluid {
      padding: 0;
    }
  }
}

.submodule {
  margin: auto;
  background-color: #FFF;
  text-align: center;
  
  h2 {
    font-size: 35px;
    margin-bottom: 0;
  }

  h6 {
    margin: 0;
  }
}

.box {
  &--grey {
    border: 2px solid #ebebeb;
    padding: 2px;
  }
}

.bubble {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 8px;
  background-color: $secondary-color;
  border-radius: 50px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: white;
    width: 50px;
    height: 50px;
  }
}

.circle {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  padding: 16px;
  border: 8px solid #00A652;
  border-radius: 150px;
  margin: auto;
  background-color: #FFF;
  text-align: center;
  
  h2 {
    margin-bottom: 0;
  }

  h6 {
    margin: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: 100vh;
  margin-top: 80px;

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 10;
    font-size: 25px;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }

  &__window {
    background-color: #FFF;
    position: relative;
    width: 100%;
    height: 400px;
    max-height: 700px;
    border-radius: 6px;
    overflow-y: auto;
  }
}

.money {
  font-size: 16px;
  font-weight: bold;
  color: #00A652;
}

.pagination {

  a{
    color: $secondary-color;
  }

  span.current {
    color: #000;
  }

  a, span.current, span.gap {
    padding: 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
  }
}

#toast-btn {
  display: inline-block;
  float: left;
  background: #fff;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #3B2F63;
  white-space: no-wrap;
  font-size: 20px;
  color: #3B2F63;
  width: 40%;
  text-align: center;
  z-index: 99;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#toast-btn:hover {
  background: #3B2F63;
  color: #fff;
}

.toast {
  padding: 15px 20px;
  color: #fff;
  background: rgba(0,0,10,0.7);
  display: inline-block;
  position: fixed;
  top: -100px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s ease-out;
}

#modal--toggle:checked ~ .modal {
  display: block;
}

.custom-checkbox {
  -webkit-appearance: none;
  border: 1px solid #adb8c0;
  width: 12px;
  position: relative;

  &:checked {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: #99a1a7;

    &:after {
      content: '\2714';
      font-size: 14px;
      position: absolute;
      top: -2px;
      left: 2px;
      color: #fbf3f3;
    }
  }
}

@-moz-document url-prefix() {
  .custom-checkbox {
    &:checked:after {
      font-size: 18px;
      top: -5px;
      left: 3px;
    }
  }
}

@media screen and (max-height: 680px) {
  .modal__window {
    height: 542px;
  }
}

/* Tooltip container */
.tooltip {
  width: 100%;
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  display: inline-table;
  background-color: #555;
  color: #FFF;
  text-align: justify;
  padding: 5px 14px;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 16px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 89px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

// React
.profile {
  background-color: #F4F5F7;
  border: 1px solid #F4F5F7;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: #eee;
  }

  &:last-child {
    border-bottom: unset;
  }
}

.chat {
  &__box {
    height: 70vh;
    overflow-y: auto;
    background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url(image_path('dashboard/chat_background.jpg'));
    background-size: 225px;
  }

  &__selector {
    padding: 0px 10px;
    height: 80vh;
    overflow-y: auto;
  }
}

.customer_sidebar {
  border-left: 1px solid #e7e7e7;
  height: 100%;
  overflow-y: auto;
  padding: 0px 10px;
}


.customer_sidebar .customer_box {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 5px;
  position: relative;
}

.customer_sidebar .customer_box p {
  margin: 0;
  font-size: 15px;
  color: #30343a;
  font-weight: 700;
}
.customer_sidebar i {
  color: #b1b8c4;
}

.customer_sidebar .customer_box p i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -85%);
}

.customer_sidebar .label {
  margin: 0;
  color: #AAA;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.customer_sidebar .tag {
  font-size: 12px !important;
  color: #000;
  margin-left: 5px;
}

.customer_details {
  padding: 20px 10px;
}

.customer_details .details_holder {
  background-color: #00B4FF;
  color: #fff;
  padding: 5px;
  border-radius: 5;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Customer */
.chat_list_holder{
  border-right: 1px solid #e7e7e7;
  background-color: #FFF;
  padding: 12px 5px 0;
}

.img__profile .rounded-circle {
  border: 1px solid #753581;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.message{
  position: relative;
  overflow: hidden;
  padding: 5px 15px 5px 0;
}

.message div {
  display: inline-block;
  vertical-align: top;
  max-width: 75%;
}

.message div p {
  background: #F1F0F0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 6px 14px 6px 14px;
}

.message-by-retailer p {
  background: #3d8bfc !important;
  color: #FFF;
}

#bottomRef {
  height: 15px;
}

.img-holder {
  min-height: 200px;

  .msg__img {
    max-height: 200px;
    max-width: 200px;
  }
}

.img_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: 100vh;
  }

  img {
    position: relative;
    max-height: 80vh;
    max-width: 70vw;
  }
}

.text-input {
  border-top: 1px solid #e7e7e7;
  display: flex;
  align-items: center;

  textarea {
    width: 95%;
    border: 0;
    padding: 8px;
  }

  .fas {
    color: #e7e7e7;
    &:hover {
      color: $secondary-color;
    }
  }
}
