.container-payment-plan {
  padding-right: 2rem;
  padding-left: 2rem;
  &_card {
    min-height: auto !important;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3) !important;
    overflow: hidden;
  }
  &_pricing {
    float: left;
    width: 22%;
    &_text {
      color: #464646;
      padding-top: 8px;
    }
  }
  &_plans {
    width: 22%;
    float: left;
  }
  &_space_2 {
    margin-top: 48px;
  }
  &_space_4 {
    margin-top: 72px;
  }
  &_add_card {
    max-width: 50%;
    &_sub-title {
      font-family: 'Poppins-SemiBold';
      font-size: 18px;
    } 
  }
  &_add_card_modal {
    max-width: 100%;
  }
  &_form {
    border: thin solid #ddd;
    border-radius: .4em;
  }
  &_header-title, &_sub-title, &_text, &_pricing {
    font-family: 'Poppins-SemiBold';
  }
  &_sub-text {
    font-family: 'Poppins-Regular';
  }
  &_sub {
    color: #AAA;
    font-size: 16px;
    margin-top: 0;
  }
  &_text {
    color: #464646;
    padding-top: 8px;
  }
  &_pricing {
    display: inline-block;
    border-radius: 10px;
    background-color: #00B4FF;
    color: #fff;
    padding: 4px 8px;
    text-decoration: none;
    text-align: center;
    float: none;
    width: auto;
    &:hover {
      background: #00a2e6;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
  }
  &_button {
    background-color: #00B4FF;
    color: #f6f6f6;
    border: none;
    padding: 10px 70px;
    border-radius: 15px;
    letter-spacing: 0.06em;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 21px;
    font-family: 'Poppins-SemiBold';
    &:hover {
      background: #00a2e6;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }
  }
  &_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  &_parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1px; 
  }
  &_div1 { grid-area: 1 / 1 / 2 / 2; }
  &_div2 { grid-area: 2 / 1 / 3 / 2; }
  &_div3 { grid-area: 3 / 1 / 4 / 2; }
  table {
    border-collapse: collapse;
    color: #464646;
    thead {
      border-bottom: solid 1px #464646;
    }
    tr:nth-child(even) {
      background-color: #F7F7F7;
    }
  }
  
  @media screen and (max-width: 360px) {
    &_card {
      padding: 10px !important;
    }
    &_mobile {
      display: block;
      margin: 0 !important;
    }
    &_header-title {
      font-size: 20px;
    }
    &_sub {
      font-size: 12px;
    }
    &_add_card {
      max-width: 100%;
    }
    &_pricing {
      float: none;
      margin: 20px 0 0 0 !important;
      padding: 10px 0;
      width: 100%;
    }
    &_plans {
      width: 88%;
      float: nome;
      margin-top: 10px !important;
    }
    &_button {
      border-radius: 10px;
      padding: 12px 0;
      width: 100%;
    }
    .btn {
      margin: 0 48%;
    }
    table {
      display: block;
      overflow-x: auto;
      td {
        padding: 5px 0 5px 0px !important;
      }
    }
  }

  @media screen and (min-width: 361px) and (max-width: 768px) {
    &_card {
      padding: 10px !important;
    }
    &_plans {
      width: 92%;
      margin-top: 10px !important;
    }
    table {
      display: block;
      overflow-x: auto;
    }
  }

  @media screen and (min-width: 361px) and (max-width: 586px) {
    &_pricing {
      margin-left: 0 !important;
    }
    &_parent {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    &_plans {
      width: 88% !important;
      float: nome;
      margin-top: 10px !important;
    }
    &_add_card {
      max-width: 100%; 
    }
    &_mobile {
      display: block;
      margin: 0 !important;
    }
    .btn {
      margin: 0 50%;
    }
    thead {
      font-size: 12px;
    }
    td {
      font-size: 12px;
      padding: 5px 0 5px 0px !important;
    }
  }

  @media screen and (min-width: 586px) and (max-width: 869px) {
    &_parent {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    &_plans {
      width: 92% !important;
      margin-top: 10px !important;
    }
    td {
      padding: 5px 0 5px 0px !important;
    }
  }

  @media screen and (min-width: 870px) and (max-width: 1330px) {
    &_parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }

  @media screen and (min-width: 870px) and (max-width: 1523px) {
    &_card {
      padding: 10px !important;
    }
    &_space_1 {
      margin-top: 28px;
    }
    &_space_3 {
      margin-top: 3px;
    }
    &_space_4 {
      margin-top: 90px;
    }
    &_plans {
      width: 20% !important;
      margin-top: 10px !important;
      &_title {
        font-size: 18px !important;
      }
      &_text {
        font-size: 14px;
      }
    }
  }
}
  