.whats_app_table {
  border: 1px solid black;
  padding: 1em;
}

.whats_app_table {
  th, td {
    text-align: left;

    &.right {
      text-align: right;
    }

    &.total {
      border-top: solid thin black;
      font-weight: bold;
    }
  }
}
.whats_app_table tr th{
  border-bottom: 1px solid black;
  padding: 0px;
}

.whats_app_table td{
  padding: 15px 5px;
}

.stripe-element {
  border: thin solid #ddd;
  border-radius: .4em;

  input#card_name {
    outline: none;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
