.whats_app_table {
  border: 1px solid black;
}

.whats_app_table th{
  text-align: left;
}

.whats_app_table tr th{
  border-bottom: 1px solid black;
  padding: 0px;	
}

.whats_app_table td{
  padding: 15px 5px;
}
