<!-- Display a message if JS has been disabled on the browser. -->
<noscript>If you're seeing this message, that means
  <strong>JavaScript has been disabled on your browser</strong>, please
  <strong>enable JS</strong> to make this app work.
</noscript>
<%# stylesheet_pack_tag 'application' %>
<%= javascript_packs_with_chunks_tag 'application' %>
<div id="react_content"></div>
