<section id="cta">
  <div class="container ml-180">
    <div id="cta-row" class="row middle-xs">
      <div class="col-xs-12">
        <h1 class="h1">Construido para comercios<br/>como el tuyo</h1>
        <h3 class="h3">300+ negocios utilizan nuestras herramientas para incrementar sus ventas</h3>
        <div class="mt-40">
          <input type="text" value="" name="retailer[name]" id="retailer_name" class="btn" placeholder="Nombre de tu tienda"/>
          <br class="hide-on-med-and-up"/>
          <br class="hide-on-med-and-up"/>
          <a class="btn a cta" href="">Empezar</a>
        </div>
      </div>
    </div>
  </div>
</section>
