<section id="cta">
  <div class="container ml-180">
    <div id="cta-row" class="row middle-xs">
      <div class="col-xs-12">
        <h1>Construido para comercios<br/>como el tuyo</h1>
        <h3>300+ negocios utilizan nuestras herramientas para incrementar sus ventas</h3>
        <div class="mt-40">
          <a class="btn" href="">Nombre de tu tienda</a>
          <a class="btn cta" href="">CTA</a>
        </div>
      </div>
    </div>
  </div>
</section>
