<section id="features">
  <div class="container-fluid">
    <div class="row center-xs">
      <div class="col-xs-12">
        <h2 class="h2">Creado para vender</h2>
        <h3>Dedícate a vender más, y dejanos el trabajo duro a nosotros.</h3>
        <strong>Dedícate a vender más, y dejanos el trabajo duro a nosotros.</strong>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div id="features-list" class="container-fluid pr-0 pl-180">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-feature">
          <h5>Publica tus productos masivamente</h5>
          <h6>Elimina las tareas repetitivas, sincroniza stock precios y ventas.</h6>
          <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</article>
        </div>
        <div class="card-feature">
          <h5>Gestiona tus ventas</h5>
          <h6>Simplifica tu canal de ventas</h6>
          <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</article>
        </div>
        <div class="card-feature">
          <h5>Comunícate con tus clientes</h5>
          <h6>Elimina las tareas repetitivas, sincroniza stock precios y ventas.</h6>
          <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</article>
        </div>
        <div class="card-feature">
          <h5>Administra tu negocio</h5>
          <h6>Maneja la contabilidad finanzas cuentas y reportes</h6>
          <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</article>
        </div>
      </div>
    </div>
  </div>
</section>
