<section id="main">
  <%= image_tag 'degradado.png', id: 'degradado' %>
  <div id="slogan" class="container-fluid">
    <div class="row reverse">
      <div class="col-xs-12 col-md-6">
        <%= image_tag 'home_pc.png', id: 'home_img' %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h1 id="slogan_title">Aumenta tus ventas en<br/>
        MercadoLibre</h1>
        <h4 id="slogan_desc">
          Automatiza tu negocio con nuestras herramientas de<br/>
          gestión y análisis para incrementar tus ganancias y<br/>
          optimizar tu negocio
        </h4>
        <div>
          <a href="http://www.url.com" class="btn" target="_blank">Nombre de tu tienda</a>
          <a href="http://www.url.com" class="btn cta" target="_blank">CTA</a>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag 'image3.png', id: 'semi-circle' %>
  <div class="container">
    <div class="row center-xs boxes">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <img class='card-img' src="/assets/mercately-mercadolibre.png" style= alt="">
          <h4>Lorem ipsum</h4>
          <article>Vivamus in diam turpis.
          In condimentum 
          maximus tristique. 
          Maecenas non laoreet 
          odio diam turpis exide</article>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <img class='card-img' src="/assets/mercately-stock.png" alt="">
          <h4>Lorem ipsum</h4>
          <article>Vivamus in diam turpis.
          In condimentum 
          maximus tristique. 
          Maecenas non laoreet 
          odio diam turpis exide</article>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <img class='card-img' src="/assets/mercately-inventario.png" alt="">
          <h4>Lorem ipsum</h4>
          <article>Vivamus in diam turpis.
          In condimentum 
          maximus tristique. 
          Maecenas non laoreet 
          odio diam turpis exide</article>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <img class='card-img' src="/assets/mercately-ecuador.png" alt="">
          <h4>Lorem ipsum</h4>
          <article>Vivamus in diam turpis.
          In condimentum 
          maximus tristique. 
          Maecenas non laoreet 
          odio diam turpis exide</article>
        </div>
      </div>
    </div>
    <div class="row center-xs boxes">
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <img class='card-img' src="/assets/mercately-facturacion.png" alt="">
          <h4>Lorem ipsum</h4>
          <article>Vivamus in diam turpis.
          In condimentum 
          maximus tristique. 
          Maecenas non laoreet 
          odio diam turpis exide</article>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <img class='card-img' src="/assets/mercately-order.png" alt="">
          <h4>Lorem ipsum</h4>
          <article>Vivamus in diam turpis.
          In condimentum 
          maximus tristique. 
          Maecenas non laoreet 
          odio diam turpis exide</article>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card aligner">
          <img class='card-img' src="/assets/icon7.png" alt="">
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
      </div>
    </div>
  </div>
</section>
