<section id="proposal">
  <div class="pl-0 container-fluid">
    <div class="row reverse middle-md">
      <div class="col-xs-12 col-md-6">
        <h2 class="h2">VENDER MÁS SE LOGRA<br/>
        CON EL MEJOR SISTEMA</h2>
        <h3>No con procesos manuales</h3>
        <em>40% Incremento de productividad</em>
        <div style="margin-top: 27px;">
          <a class="btn cta" href="">Empezar</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag 'image2.png' %>
      </div>
    </div>
  </div>
</section>
