---
http_interactions:
- request:
    method: post
    uri: https://api.mercadolibre.com/pictures?access_token=APP_USR-8747693575261051-102415-e556ce0bc1ca600d241f9ad3c2d8d637-471889087
    body:
      encoding: UTF-8
      string: '{"source":"http://res.cloudinary.com/dhhrdm74a/image/upload/YzY6oUy1C18q3tEmnze2ry2x"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - 93869a2581ee23cf668ab6a71f2a5d02
    body:
      encoding: ASCII-8BIT
      string: '{"id":"756737-MEC32647573252_102019","max_size":"500x500","dominant_color":null,"crop":{"y_size":null,"x_size":null,"y_offset":null,"x_offset":null},"variations":[{"size":"500x500","url":"http://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/F-ES.jpg","secure_url":"https://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/F-ES.jpg"},{"size":"500x500","url":"http://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/O-ES.jpg","secure_url":"https://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/O-ES.jpg"},{"size":"400x400","url":"http://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/C-ES.jpg","secure_url":"https://http2.mlstatic.com/resources/frontend/statics/processing-image/1.[...]
- request:
    method: post
    uri: https://api.mercadolibre.com/items?access_token=APP_USR-8747693575261051-102415-e556ce0bc1ca600d241f9ad3c2d8d637-471889087
    body:
      encoding: UTF-8
      string: '{"title":"Faora IX","category_id":"MEC1368","price":33.09,"available_quantity":77,"currency_id":"USD","listing_type_id":"free","condition":"not_specified","description":{"plain_text":"Blanditiis
        omnis et. Et voluptatem nam. Quaerat magnam distinctio."},"pictures":[{"id":"756737-MEC32647573252_102019"}],"attributes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - 5b67fe3899b0727be1cba14b8481a040
      Location:
      - https://api.mercadolibre.com/items/MEC422857056
      X-Api-Name:
      - syi-api
      X-Api-Version:
      - '1.00'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"MEC422857056","site_id":"MEC","title":"Faora Ix","subtitle":null,"seller_id":471889087,"category_id":"MEC1368","official_store_id":null,"price":33.09,"base_price":33.09,"original_price":null,"inventory_id":null,"currency_id":"USD","initial_quantity":77,"available_quantity":77,"sold_quantity":0,"sale_terms":[],"buying_mode":"buy_it_now","listing_type_id":"free","start_time":"2019-10-24T17:33:14.313Z","stop_time":"2019-12-23T04:00:00.000Z","end_time":"2019-12-23T04:00:00.000Z","expiration_time":null,"condition":"not_specified","permalink":"http://articulo.mercadolibre.com.ec/MEC-422857056-faora-ix-_JM","pictures":[{"id":"756737-MEC32647573252_102019","url":"http://mec-s1-p.mlstatic.com/756737-MEC32647573252_102019-O.jpg","secure_url":"https://mec-s1-p.mlstatic.com/756737-MEC32647573252_102019-O.jpg","size":"500x500","max_size":"500x500","quality":""}],"video_id":null,"descriptions":[{"id":"MEC422857056-2356347063"}],"accepts_mercadopago":false,"non_mercado_pago_payment_methods":[],"shipping":{"mode":"not_specified","local_pick_up":false,"free_shipping":false,"methods":[],"dimensions":null,"tags":[],"logistic_type":"not_specified","store_pick_up":false},"international_delivery_mode":"none","seller_address":{"id":1065793801,"comment":"","address_line":"Test
        Address 123","zip_code":"","city":{"id":"","name":"Quito"},"state":{"id":"EC-P","name":"Pichincha
        ( Quito )"},"country":{"id":"EC","name":"Ecuador"},"latitude":"","longitude":"","search_location":{"neighborhood":{"id":"","name":""},"city":{"id":"","name":""},"state":{"id":"","name":""}}},"seller_contact":null,"location":{},"geolocation":{"latitude":"","longitude":""},"coverage_areas":[],"attributes":[],"warnings":[{"department":"shipping","cause_id":4021,"code":"no_me_available","message":"User/Catalog
        shipping preferences do not offer ME, enabling ''not_specified'' mode","references":["user_shipping_preferences","catalog_shipping_preferences"]},{"department":"shipping","cause_id":4017,"code":"no_me_available","message":"User/Catalog
        shipping preferences do not offer ME, enabling ''custom'' mode","references":["user_shipping_preferences","catalog_shipping_preferences"]},{"department":"shipping","cause_id":4000,"code":"free_shipping","message":"Free
        shipping allowed (''all_country'') for ''not_specified'' mode when ''me2''
        is not available","references":["catalog_shipping_preferences"]}],"listing_source":"","variations":[],"thumbnail":"http://mec-s1-p.mlstatic.com/756737-MEC32647573252_102019-I.jpg","secure_thumbnail":"https://mec-s1-p.mlstatic.com/756737-MEC32647573252_102019-I.jpg","status":"active","sub_status":[],"tags":["test_item"],"warranty":null,"catalog_product_id":null,"domain_id":null,"seller_custom_field":null,"parent_item_id":null,"differential_pricing":null,"deal_ids":[],"automatic_relist":false,"date_created":"2019-10-24T17:33:14.412Z","last_updated":"2019-10-24T17:33:14.412Z","health":null,"catalog_listing":false,"item_relations":[]}'
  recorded_at: Thu, 24 Oct 2019 17:33:14 GMT
recorded_with: VCR 5.0.0
