---
http_interactions:
- request:
    method: post
    uri: https://api.mercadolibre.com/pictures?access_token=APP_USR-6199841158643194-103112-180b8eaf5fc2635676cb97203d12fa67-425933549
    body:
      encoding: UTF-8
      string: '{"source":"http://res.cloudinary.com/dhhrdm74a/image/upload/v7xgbgxJjuwnaTzg1JUsmohu"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - dd0ec73bf5a15d751bb6e76f090552b5
    body:
      encoding: ASCII-8BIT
      string: '{"id":"832941-MEC32719762973_102019","max_size":"500x500","dominant_color":null,"crop":{"y_size":null,"x_size":null,"y_offset":null,"x_offset":null},"variations":[{"size":"500x500","url":"http://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/F-ES.jpg","secure_url":"https://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/F-ES.jpg"},{"size":"500x500","url":"http://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/O-ES.jpg","secure_url":"https://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/O-ES.jpg"},{"size":"400x400","url":"http://http2.mlstatic.com/resources/frontend/statics/processing-image/1.0.0/C-ES.jpg","secure_url":"https://http2.mlstatic.com/resources/frontend/statics/processing-image/1.[...]
- request:
    method: post
    uri: https://api.mercadolibre.com/items?access_token=APP_USR-6199841158643194-103112-180b8eaf5fc2635676cb97203d12fa67-425933549
    body:
      encoding: UTF-8
      string: '{"title":"Giant Nina Theroux Man","category_id":"MEC1368","price":29.04,"available_quantity":0,"currency_id":"USD","listing_type_id":"free","condition":"used","description":{"plain_text":"Reprehenderit
        blanditiis qui. Ducimus error reprehenderit. Hic quis nihil."},"pictures":[{"id":"832941-MEC32719762973_102019"}],"attributes":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Name:
      - syi-api
      X-Api-Version:
      - '1.00'
      X-Trafficlayer-App-Name:
      - items-api-legacy
      X-Trafficlayer-App-Scope:
      - new-listing
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Validation error","error":"validation_error","status":400,"cause":[{"department":"items","cause_id":103,"type":"error","code":"item.available_quantity.invalid","references":["item.available_quantity"],"message":"Stock
        of item should be more than 0."}]}'
  recorded_at: Thu, 31 Oct 2019 13:39:18 GMT
recorded_with: VCR 5.0.0
