---
http_interactions:
- request:
    method: put
    uri: https://api.mercadolibre.com/items/MEC423080156/?access_token=APP_USR-6199841158643194-110711-35c74e99e32e3c0dae3f3c290fd9aacc-425933549
    body:
      encoding: UTF-8
      string: '{"variations":[{"price":50.5,"picture_ids":["919819-MEC32799460975_112019","919819-MEC32799460975_112019"],"sold_quantity":1,"available_quantity":-1,"attribute_combinations":[{"id":"COLOR","value_name":"Azul"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Name:
      - syi-api
      X-Api-Version:
      - '1.00'
      X-Trafficlayer-App-Name:
      - items-api-legacy
      X-Trafficlayer-App-Scope:
      - write
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Validation error","error":"validation_error","status":400,"cause":[{"department":"structured-data","cause_id":1210,"type":"warning","code":"normalize.item.attribute.value_id","references":["item.variations[0].attribute_combinations[0].value_id"],"message":"Attribute
        [COLOR] to be modified - value_id [null] will be [52028]"},{"department":"items","cause_id":288,"type":"error","code":"item.variations.total_stock.invalid","references":["item.variations","item.available_quantity"],"message":"Total
        stock of item with variations should be more than 0"}]}'
  recorded_at: Thu, 07 Nov 2019 14:22:38 GMT
recorded_with: VCR 5.0.0
