.integration-item-container {
  margin-top: 15px;
}

.integration-logo-container {
  padding-top: 20px;
  text-align: center;
}

.general-button {
  font-size: 12px;
}

.connected-text {
  margin: 10px 2px;
  color: green;
  font-size: 14px;
}

.logo-integration-platform {
  width: 350px;
  height: 98px;
}

@media (max-width: 390px) {
  .general-button {
    font-size: 8px !important;
  }

  .connected-text {
    font-size: 12px;
  }
}
