.main-container {
  margin-top: 25px;
  background-color:#ffffff;
  padding: 15px 30px 30px 30px;
}

.in1-container {
  background-color: #F4F4F4;
  margin-top: 15px;
}

.in1-logo-container {
  padding-top: 20px;
  text-align: center;
}

.in1-button-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.general-button {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
  margin: 4px 2px;
  cursor: pointer;
}

.button-info {
  background-color: #F4F4F4;
  border-color: #00001D;
  color: #00001D;
  
}

.button-connect {
  background-color: #1E206A;
  border-color: #1E206A;
  color: white;
}

.pt-title {
  color: #BBBBBB;
  font-size: 15px;
}

.connected-text {
  margin: 10px 2px;
  color: green;
  font-size: 2vmin;
}

.logo-integration-platform {
  width: 350px;
  height: 98px;
}
