#price {
  font-size: 38px;
}

#total {
  height: 48px;
  line-height: 48px;
}

.cta--dashboard {
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 4px 8px;
}

.variation-details-group {
  margin-top: 32px;
}

.variation-details-label {
  margin-top: 0px;
  color: red;
}

.p-content {
  font-size: 18px;
}

.variation-detail-content {
  color: #555;
  font-size: 13px;
  font-weight: bold;
}

.variation-detail-label {
  font-size: 13px;
}

.feedback-message {
  height: 75px;
}
