.product-text {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  line-height: 26.4px;
}

.separator {
  border: 1px solid #ebebeb;
}

.product-tags {
  color: #068817;
  font-size: 12px;
  font-weight: 300;
  line-height: 26.4px;
}
