var auxTemplate = [];
var templateSelected = '';
var templateType, gupshupTemplateId, templateParams = {};
let globalListCounter;

function setKarixTemplate(index) {
  templateType = $(`#template-type-${index}`).html();
  gupshupTemplateId = $(`#gupshup-template-id-${index}`).html();

  if (templateType === 'text') {
    $('#template-file').hide();
  } else {
    $('#template-file').show();
    $('#template_file').attr('accept', acceptedFiles());
  }

  $('#karix-templates-list').hide();
  $('#karix-template-edition').show();
  templateSelected = $(`#original-template-${index}`).html();

  auxTemplate = templateSelected.split('');

  let new_array = templateSelected.split('');
  let container = $('#karix-template-text').html('');
  container.append(`[${setTemplateType()}] `);

  new_array.map((key, index) => {
    if (key === '*') {
      if (index === 0 || new_array[index - 1] !== '\\') {
        templateParams[index] = '*';
        container.append(`<input value="" onChange="changeTemplate(this, ${index})" />`);
      } else {
        container.append(`${key}`);
      }
    } else if (key === '\\') {
      if (index === (new_array.length - 1) || new_array[index + 1] !== '*') {
        container.append(`${key}`);
      } else {
        container.append('');
      }
    } else {
      container.append(`${key}`);
    }
  });
}

function changeTemplate(e, id) {
  templateSelected.split('').map((key, index) => {
    if (key == '*') {
      if (index == id && e.value && e.value !== '') {
        auxTemplate[index] = templateParams[index] = e.value;
      } else if (index == id && (!e.value || e.value === '')) {
        auxTemplate[index] = templateParams[index] = '*';
      }
    }
  })
}

function cancelTemplate() {
  $('#karix-templates-list').show();
  $('#karix-template-edition').hide();
  auxTemplate = [];
  templateParams = {};
  templateSelected = '';
  $('#modal--toggle').attr('checked', false);
  $('#modal--toggle-index').attr('checked', false);
  $('#template_file').val(null);
  $('body').toggleClass('o-hidden');
}

function sendTemplate() {
  var allFilled = true;
  let file = null;

  auxTemplate.map((key, index) => {
    if (key === '*' && (index === 0 || auxTemplate[index - 1] !== '\\')) {
      allFilled = false;
    }
  })

  if (templateType !== 'text') file = document.getElementById('template_file').files[0];

  fileSelected = templateType === 'text' || file;

  if (allFilled && fileSelected) {
    var data = new FormData();
    data.append('template', true);
    data.append('customer_id', $('#karix-customer-id').val() || $('#customer_id_index').val());
    data.append('gupshup_template_id', gupshupTemplateId);

    params = Object.values(templateParams);
    for (x in params) {
      data.append('template_params[]', params[x]);
    }

    let url;
    if (file) {
      if (templateType === 'image' && validImage(file) === false) return;
      if (templateType === 'document' && validFile(file) === false) return;
      if (templateType === 'video' && validVideo(file) === false) return;

      data.append('caption', auxTemplate.join('').replaceAll('\\*', '*'));
      data.append('file_data', file);
      data.append('type', templateType);
      url = `/api/v1/karix_whatsapp_send_file/${$('#karix-customer-id').val() || $('#customer_id_index').val()}`;
    } else {
      data.append('message', auxTemplate.join('').replaceAll('\\*', '*'));
      data.append('type', 'text');

      url = '/api/v1/karix_send_whatsapp_message';
    }

    $.ajax({
      url: url,
      type: 'POST',
      processData: false,
      contentType: false,
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: data
    });

    cancelTemplate();
  } else {
    message = allFilled ? 'Debe seleccionar una Imagen o archivo PDF' : 'Debe llenar todos los campos editables';
    alert(message);
  }
}

function validImage(file) {
  if (!['image/jpg', 'image/jpeg', 'image/png'].includes(file.type) || file.size > 5*1024*1024) {
    alert('La imagen debe ser JPG/JPEG o PNG, de m치ximo 5MB');
    return false;
  }

  return true;
}

function validFile(file) {
  if (file.type !== 'application/pdf' || file.size > 20*1024*1024) {
    alert('El archivo debe ser PDF, de m치ximo 20MB');
    return false;
  }

  return true;
}

function validVideo(file) {
  if (!['video/mp4', 'video/3gpp'].includes(file.type) || file.size > 14*1024*1024) {
    alert('El video debe ser MP4 o 3GPP, de m치ximo 14MB');
    return false;
  }

  return true;
}

function setTemplateType() {
  switch(templateType) {
    case 'text':
      return 'Texto';
    case 'image':
      return 'Imagen';
    case 'video':
      return 'Video';
    default:
      return 'PDF';
  }
}

function acceptedFiles() {
  switch(templateType) {
    case 'image':
      return 'image/jpg, image/jpeg, image/png';
    case 'video':
      return 'video/mp4, video/3gpp';
    default:
      return 'application/pdf';
  }
}

function showSelectingTags(input) {
  $('#add-customer-tags-container').show();
  $(input).hide();

  $('#customer_tag_ids').select2({
    placeholder: "Crea, selecciona o elimina etiquetas",
    language: "es",
    tags: true,
    maximumInputLength: 20
  });
}

function addListOption(index) {
  if (globalListCounter) {
    globalListCounter++;
  } else {
    globalListCounter = index;
  }

  $('#list_options').append(
  `
    <div class="row my-20">
      <div class="col-xs-12 col-sm-5">
        <label for="customer_related_field_list_options_attributes_${globalListCounter}_key">Valor interno</label>
        <input type="text" name="customer_related_field[list_options_attributes][${globalListCounter}][key]" class="input validate-required mt-0"
          id="customer_related_field_list_options_attributes_${globalListCounter}_key" />
        <i class="validation-msg"></i>
      </div>
      <div class="col-xs-12 col-sm-6">
        <label for="customer_related_field_list_options_attributes_${globalListCounter}_value">Valor a mostrar</label>
        <input type="text" name="customer_related_field[list_options_attributes][${globalListCounter}][value]" class="input validate-required mt-0"
        id="customer_related_field_list_options_attributes_${globalListCounter}_value" />
        <i class="validation-msg"></i>
      </div>
      <div class="col-xs-12 col-sm-1 t-center mt-30">
        <a class="btn btn--destroy destroy-option m-0" onclick="hideListOption(this)"><i class="fas fa-times"></i></a>
      </div>
    </div>
  `
  );
}

function hideListOption(input) {
  $(input).closest('.row').remove();
}

$(document).ready(function() {
  $('#q_customer_tags_tag_id_in').select2({
    placeholder: "Selecciona una o m치s opciones",
    language: "es"
  });

  $('#customer_tag_ids').select2({
    placeholder: "Crea, selecciona o elimina etiquetas",
    language: "es",
    tags: true,
    maximumInputLength: 20
  });

  $('#show-custom-fields').on('change', function() {
    if (this.checked) {
      $('#show-custom-fields-label').text('Ocultar campos personalizados');
    } else {
      $('#show-custom-fields-label').text('Mostrar campos personalizados');
    }
  })
})
