<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
          <%# stylesheet_pack_tag 'application' %>
          <%= javascript_packs_with_chunks_tag 'application' %>
          <div id="react_content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
