<div class="aligner-row head">
  <h3>Mensajes</h3>
  <div class="w-100 middle-right">
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row middle-xs mt-8 mb-8">
    <div class="col-xs-6">
      <p>Mostrando 7 mensajes</p>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="box">
            <div class="row">
              <div class="col-xs-12 col-md-1"><p class="normal black-text t-center mb-0 mt-3">Cliente</p></div>
              <div class="col-xs-12 col-md-2">
                <p class="product-text my-0">
                  <b class="normal black-text">Email:</b> example<%# customer.email %><br/>
                  <b class="normal black-text">Nombre:</b> example<%# customer.first_name %><br/>
                  <b class="normal black-text">Apellido:</b> example<%# customer.last_name %><br/>
                  <b class="normal black-text">Número:</b> example<%# customer.phone %>
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <p class="product-text my-0 last-message">
                  <b class="normal black-text">Date</b> 11-Feb ( 2 months ago )<br/>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ..
                </p>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="box h-100">
                  <div class="row middle-xs h-100">
                    <div class="col-xs-12">
                      <%# link_to image_tag('dashboard/show-icon-index', class: 'w-20 mr-8'), retailers_customer_path(@retailer, customer) %>
                      <%# link_to image_tag('dashboard/edit-icon-index', class: 'w-20 mr-8'), edit_retailers_customer_path(@retailer, customer) %>
                      <%# link_to image_tag('dashboard/destroy-icon-index', class: 'w-20 mr-8'), retailers_customer_path(@retailer, customer), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
