<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
              <div class="row">
                <div class="col-xs-12 col-sm-3 chat_list_holder">
                  <input type="hidden" id="slug-id" value="<%= params[:slug] %>" />
                  <div class="chat__selector" id="q-list">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <div id="select-question">
                    <h4>Selecciona una pregunta</h4>
                  </div>
                  <div id="question-info" class="row bottom-xs d-none">
                    <div class="col-xs-12 chat__box pt-8">
                      <div class="message">
                        <div class="main-message-container message-by-customer">
                          <div id="q-text"></div>
                        </div>
                      </div>
                      <div id="retailer-answer" class="message d-none">
                        <div class="message-by-retailer f-right main-message-container">
                          <div id="a-text"></div>
                        </div>
                      </div>
                    </div>
                    <div id="answer-holder" class="col-xs-12 d-none">
                    </div>
                  </div>
                </div>
                <div id="product-info" class="col-xs-12 col-sm-4 d-none">
                  <div class="customer_sidebar">
                    <div class="customer_box">
                      <p id="product-title"></p>
                    </div>
                    <div class="box">
                      <div class="row">
                        <div class="col-xs-12 card__module p-0">
                          <div class="products__img mt-15 mb-20 larger">
                            <%= cl_image_tag('', id: 'product-img', class: 'larger') %>
                          </div>
                          <div class="card__title fs-15"><i class="fas fa-money-bill-alt primary"></i> Finanzas</div>
                          <div class="box">
                            <div class="row card__submodule center-xs">
                              <div class="col-xs-12 submodule col-sm-4">
                                <h4 id="product-orders" class="mt-0 mb-0"></h4>
                                <h6>Ordenes</h6>
                              </div>
                              <div class="col-xs-12 submodule col-sm-4">
                                <h4 id="product-success-orders" class="mt-0 mb-0"></h4>
                                <h6>Ventas exitosas</h6>
                              </div>
                              <div class="col-xs-12 submodule col-sm-4">
                                <h4 id="product-earned" class="mt-0 mb-0"></h4>
                                <h6>Ganancia</h6>
                              </div>
                            </div>
                            <div class="row card__submodule middle-xs center-xs">
                              <div class="col-xs-12">
                                <div class="circle my-16 p-0">
                                  <h2 id="product-quantity"></h2>
                                  <h6>Disponible</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 card__module fs-12">
                          <div class="card__title fs-15"><i class="fas fa-shopping-cart primary"></i> Mercado Libre Info</div>
                          <div class="box">
                            <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                <table class="table_details table_details--underlined w-100">
                                  <tr>
                                    <td class="table_details__descriptor">Preguntas:</td>
                                    <td id="product-questions" class="table_details__value"></td>
                                  </tr>
                                  <tr>
                                    <td class="table_details__descriptor">Expiración:</td>
                                    <td id="product-expiration" class="table_details__value"></td>
                                  </tr>
                                  <tr>
                                    <td class="table_details__descriptor">Código:</td>
                                    <td id="product-meli-id" class="table_details__value"></td>
                                  </tr>
                                </table>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <table class="table_details table_details--underlined w-100">
                                  <tr>
                                    <td class="table_details__descriptor">Condición:</td>
                                    <td id="product-condition" class="table_details__value"></td>
                                  </tr>
                                  <tr>
                                    <td class="table_details__descriptor">Tipo:</td>
                                    <td id="product-listing-type" class="table_details__value"></td>
                                  </tr>
                                  <tr>
                                    <td class="table_details__descriptor">Enlace:</td>
                                    <td class="table_details__value">
                                      <div class="truncate">
                                        <a href="" target="_blank" id="product-ml-link">
                                          Ver
                                        </a>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="<%= asset_path 'retailers/questions/questions.js' %>" charset="utf-8"></script>
