<div class="aligner-row head">
  <h3>Mensaje</h3>
  <div class="w-100 middle-right">
    <%# link_to 'Editar', edit_retailers_customer_path(@retailer, @customer) %>
    <%= link_to 'Atrás', retailers_customers_path, class: 'ml-8' %>
    <a class="btn ml-8" href="http://www.url.com" target="_blank">Ayuda</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card mt-9">
        <div class="box">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="box">
                <div class="row center-xs">
                  <div class="col-xs-12">
                    <p class="product-text my-0">
                      <b class="normal black-text">Email:</b> example<%# @customer.email %><br/>
                      <b class="normal black-text">Nombre:</b> example<%# @customer.first_name %><br/>
                      <b class="normal black-text">Apellido:</b> example<%# @customer.last_name %><br/>
                      <b class="normal black-text">Número:</b> example<%# @customer.phone %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-9">
              <div class="box">
                <div class="row">
                    <div class="col-xs-12">
                      <div class="messages-box">
                        <div class="box">
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="box">
                                <div class="row">
                                  <div class="col-xs-10">
                                    <p class="message-buyer">
                                      <b class="normal black-text">Date</b> 11-Feb ( 2 months ago )<br/>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ..
                                    </p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-2"></div>
                                  <div class="col-xs-10">
                                    <p class="message-seller">
                                      <b class="normal black-text">Date</b> 11-Feb ( 2 months ago )<br/>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ..
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-11">
                    <div class="message-text">Click</div>
                  </div>
                  <div class="col-xs-1">
                    <button class="message-send">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
