<ul class="dropdown__menu">
  <li>
    <%= link_to retailers_sales_channel_path(current_retailer, sales_channel), class: 'c-black no-style' do %>
      <i class="fas fa-eye mr-8"></i>
      Ver
    <% end %>
  </li>
  <li>
    <%= link_to edit_retailers_sales_channel_path(current_retailer, sales_channel), class: 'c-black no-style' do %>
      <i class="fas fa-edit mr-8"></i>
      Editar
    <% end %>
  </li>
  <li>
    <%= link_to retailers_sales_channel_path(current_retailer, sales_channel), method: :delete, data: { confirm: '¿Estás seguro de eliminar el canal de venta?' }, class: 'c-red no-style' do %>
      <i class="fas fa-trash-alt mr-8"></i>
      Eliminar
    <% end %>
  </li>
</ul>
