<div class="container-fluid reduced-container-padding mb-16">
  <div class="card">
    <div class="container-fluid index">
      <div class="row middle-xs">
        <div class="col-xs-12 col-sm-4">
          <h1 class="d-inline name">Crear venta</h1>
        </div>
        <div class="col-xs-12 col-sm-8 hide-on-tablet-and-down">
          <div class="index__ctas f-right">
            <%= link_to retailers_orders_path(current_retailer, status: 'all'), class: 'btn btn--cta' do %>
              <i class="fas fa-arrow-left mr-5"></i>
              Volver
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12">
          <%= render 'form', order: @order %>
        </div>
      </div>
    </div>
  </div>
</div>
<script charset="utf-8">
  document.addEventListener("DOMContentLoaded", function() {
    <% if action_name == 'new' %>
      document.getElementById('add_order_items').click();
    <% end %>
    <% if current_retailer.customers.active.blank? %>
      document.getElementById('add_customer').click();
      document.getElementById('customer_cancel').style.display = 'none';
    <% end %>
  });
</script>
<script charset="utf-8">
  $(document).ready(function() {
    function togglefirstItemButton() {
      if ($('.remove_order_item').length > 1) {
        $('.remove_order_item').removeClass('d-none');
      } else {
        $('.remove_order_item').addClass('d-none');
      }
    }

    togglefirstItemButton();

    $('#order_items').on('cocoon:after-insert cocoon:after-remove', function() {
      togglefirstItemButton();
    });
  })
</script>
