<div class='container-terms'>
  <h1>Política de Privacidad</h1>
 
  <p>Su privacidad es de gran importancia, Mercately.com se compromete a mantener las políticas de confidencialidad, más adelante descritas, con el objeto de proteger la privacidad de la información personal de sus usuarios, obtenida a través de sus servicios en línea. </p>
   
  <p>Nuestra Política de Privacidad explica cómo recolectamos, utilizamos y (bajo ciertas condiciones) divulgamos su información personal. Esta Política de Privacidad también explica las medidas que hemos tomado para asegurar su información personal. Por último, esta política de privacidad explica los procedimientos que seguimos frente a la recopilación, uso y divulgación de su información personal.</p>
   
  <h2>Tipo de información que se obtiene</h2>
   
  <p>Está bajo las normas de confidencialidad y/o privacidad toda aquella información se obtiene del usuario al utilizar los servicios que ofrecemos mediante nuestros sitios web, formularios de suscripción a newsletters, registros de usuarios o cualquier promoción que esté o haya estado disponible para nuestros usuarios.</p>
   
  <h2>Finalidad que se le dará a la información</h2>
   
  <p>Los datos personales contenidos en la información confidencial, son utilizados para proveer al usuario un servicio personalizado y acorde a sus necesidades, en su caso, ofreciendo publicidad selectiva, geolocalizada de acuerdo a su ubicación o contenidos que puedan llegar a serle de interés.</p>
   
  <p>Al suscribirte en Mercately, es posible que estés facilitando información de carácter personal de la que el responsable es el Titular. Esta información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información.</p>
   
  <p>Al facilitar esta información, das tu consentimiento para que tu información sea recopilada, utilizada, gestionada y almacenada por Mercately, sólo como se describe en el Aviso Legal y en la presente Política de Privacidad.</p>

  <h2>Seguridad de los datos personales</h2>
   
  <p>Para proteger tus datos personales, el Titular toma todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.</p>
   
  <h2>Confidencialidad de la Información</h2>

  <p>Mercately no compartirá la información confidencial con ninguno de los socios o co-propietarios o terceros, excepto que se tenga expresa autorización de las personas que se obtuvo la información, o cuando haya sido requerido por orden judicial, de acuerdo con la normativa vigente en el Ecuador o para proteger los derechos de propiedad intelectual u otros derechos de Mercately.</p>

  <p>Mercately  no vende ni alquila la información de los usuarios por ningún medio. Si no desea que sus datos sean utilizados bajo las condiciones anteriormente descritas, puede decidir no utilizar un servicio determinado o no participar en algunas promociones o concursos escribiendo ahola@mercately.com.</p>
   
  <h2>Política de cookies</h2>
   
  <h3>¿Qué son las cookies?</h3>

  <p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>

  <h3>¿Qué tipos de cookies utiliza esta página web?</h3>

  <p>Esta página web utiliza los siguientes tipos de cookies:
    <ul>
      <li>Cookies de análisis: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</li>
      <li>
        Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.
      </li>
      <li>
        Cookies de personalización: Son aquellas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma o el tipo de navegador a través del cual se conecta al servicio.
      </li>
      <li>
        Cookies publicitarias: Son aquéllas que, bien tratadas por esta web o por terceros, permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad relacionada con su perfil de navegación.
      </li>
      <li>
        Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Este tipo de cookies almacenan información del comportamiento de los visitantes obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar avisos publicitarios en función del mismo.
      </li>
    </ul>
       
  <h3>Desactivar las cookies</h3>

  <p>Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.</p>

  <h3>Cookies de terceros</h3>
  <p>Esta página web utiliza servicios de terceros para recopilar información con fines estadísticos y de uso de la web. Se usan cookies de DoubleClick y Cxense para mejorar la publicidad que se incluye en el sitio web. Son utilizadas para orientar la publicidad según el contenido que es relevante para un usuario, mejorando así la calidad de experiencia en el uso del mismo.</p>

  <p>En concreto, usamos los servicios de Google Adsense y de Google Analytics para nuestras estadísticas y publicidad.</p>
   
  <h2>Aceptación de los términos</h2>
  <p>Esta declaración de confidencialidad / privacidad, que describe los términos y condiciones de Mercately, constituye un acuerdo válido jurídicamente y por tanto con vida jurídica entre el usuario y Mercately; si el usuario utiliza los servicios de mercately.com significa que ha leído, entendido, aceptado y consecuentemente acordado con mercately.com los términos antes expuestos. En caso de no estar de acuerdo con ellos (los términos y condiciones), el usuario no deberá proporcionar ninguna información personal, ni utilizar este servicio.</p>
</div>

 
 
