<div class='container-terms'>
  <h1>TÉRMINOS Y CONDICIONES </h1>

  <p>A continuación se detallan los Términos y Condiciones que son aplicables para personas naturales o jurídicas, nacionales o extranjeras que accedan, utilicen y se suscriban a los servicios prestados y uso de los servicios ofrecidos por Mercately LLC, dentro del sitio mercately.com Cualquier persona que desee acceder, suscribirse o usar el Sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales y Políticas de Privacidad, junto con todas las demás políticas y principios que rigen www.mercately.com y que son incorporados al presente Sitio directamente, por referencia o que son explicados o detallados en otras secciones. En consecuencia, todas las visitas, los contratos y transacciones que se realicen en este sitio, así como sus efectos jurídicos, quedarán regidos por estas políticas y sometidos de acuerdo con las leyes del estado de Wyoming, Estados Unidos.</p>

  <p>Si el usuario hiciera uso del Sitio de MERCATELY, ello implicará la aceptación plena de las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de MERCATELY. Por dicha utilización del sitio o sus servicios, el Usuario se obligará a cumplir expresamente con las mismas, no pudiendo alegar el desconocimiento de tales Términos y Condiciones Generales y de la Política de Privacidad.</p>

  <ol>
    <li>
      <div class="list-title">1. CAPACIDAD LEGAL</div>

      <p>Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad y los menores de edad. Quien registre un Usuario como empresa, deberá tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de este acuerdo.</p>
    </li>

    <li>
      <div class="list-title">2. REGISTRO Y USO DEL SITIO</div>

      <p>Es obligatorio completar el formulario de registro en todos sus campos con datos válidos para convertirse en Usuario autorizado de MERCATELY (el “Miembro” o el “Usuario”), y para la adquisición de productos y/o servicios ofertados en este sitio. </p>

      <p>MERCATELY podrá utilizar diversos medios para identificar a sus Miembros, pero MERCATELY NO se responsabiliza por la certeza de los Datos provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, por la exactitud, veracidad, vigencia y autenticidad de los Datos ingresados. Cada miembro sólo podrá ser titular de 1 (una) cuenta de MERCATELY, no pudiendo acceder a más de 1 (una) cuenta MERCATELY con distintas direcciones de correo electrónico o falsificando, modificando o alterando sus datos de cualquier manera posible. Si se verificara o sospechará un uso fraudulento, malintencionado o contrario a estos Términos y Condiciones o contrarios a la buena fe, MERCATELY tendrá el derecho inapelable de dar de baja las cuentas y hasta iniciar acciones legales contra los infractores.</p>

      <p>MERCATELY se reserva el derecho de solicitar comprobantes o datos adicionales a efectos de corroborar los Datos, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, MERCATELY podrá dar de baja la cuentas creadas, sin que ello genere derecho alguno a resarcimiento, pago o indemnización.</p>

      <p>El Miembro, una vez registrado, dispondrá de su dirección de e-mail y una clave secreta (en adelante la “Clave”) que le permitirá el acceso personalizado, confidencial y seguro. En caso de poseer estos datos, el Usuario tendrá la posibilidad de cambiar la Clave de acceso, para lo cual deberá sujetarse al procedimiento establecido en el sitio respectivo. El Usuario se obliga a mantener la confidencialidad de su Clave de acceso, asumiendo totalmente la responsabilidad por el mantenimiento de la confidencialidad de su Clave secreta registrada en este sitio web, la cual le permite efectuar compras, solicitar servicios y obtener información (la “Cuenta”). Dicha Clave es de uso personal, y su entrega a terceros no involucra responsabilidad de MERCATELY o de las empresas en caso de utilización indebida, negligente o incorrecta.</p>

      <p>El Usuario será responsable por todas las operaciones efectuadas en y desde su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de una Clave secreta, de conocimiento exclusivo del Usuario. El Miembro se compromete a notificar a MERCATELY en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta o Clave, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión, préstamo o transferencia de la Clave o Cuenta bajo ningún título.</p>

      <p>MERCATELY se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar un registro previamente aceptado, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.</p>
    </li>

    <li>
      <div class="list-title">3. MODIFICACIONES DEL ACUERDO</div>

      <p>MERCATELY podrá modificar los Términos y Condiciones Generales en cualquier momento, haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar por e-mail si no acepta las mismas; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Miembro. Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes.</p>
    </li>

    <li>
      <div class="list-title">4. PROCEDIMIENTO PARA HACER USO DE ESTE SITIO DE INTERNET</div>

      <p>En los contratos ofrecidos por medio del Sitio, la Empresa Oferente informará, de manera inequívoca y fácilmente accesible, los pasos que deberán seguirse para celebrarlos, e informará, cuando corresponda, si el documento electrónico en que se formalice el contrato será archivado y si éste será accesible al Miembro. El sólo hecho de seguir los pasos que para tales efectos se indiquen en este sitio para efectuar una compra, equivale a aceptar que efectivamente la Empresa Oferente ha dado cumplimiento a las condiciones contenidas en este apartado. Indicará, además, su dirección de correo postal o electrónico y los medios técnicos a disposición del Miembro para identificar y corregir errores en el envío o en sus datos.</p>
    </li>

    <li>
      <div class="list-title">5. Pago y Facturación:</div>

      <p>- Las tarifas a cobrarse por la prestación del servicio serán calculadas de acuerdo a la selección del PLAN por parte del CLIENTE, y serán detalladas previamente a la compra de un PLAN. Una vez que el CLIENTE adquiere un PLAN, este queda programado en el SITIO WEB para futuros cobros por el uso del servicio.

      <p>- Los CLIENTES aceptan que en los PLANES de pago, serán cobrados regularmente cada cierto periodo de tiempo, previamente comunicado y aceptado por el CLIENTE.</p>

      <p>- La PLATAFORMA Mercately.com se reserva el derecho de modificar, ampliar, reducir, establecer o eliminar cualquier modalidad de pago, según estime conveniente para el correcto funcionamiento del SERVICIO.</p>

      <p>- Las tarifas aplicables al SERVICIO contratado serán cobradas al CLIENTE una vez de por iniciado el servicio; dichas tarifas serán cobradas de forma automática a través de las tarjetas de crédito o débito registradas por los CLIENTES. La PLATAFORMA Mercately.com se reserva el derecho de realizar una validación en el método de pago y solicitar la pre-autorización para el cobro a la entidad emisora de la tarjeta de crédito o débito acorde a la información proporcionada por el CLIENTE.</p>

      <p>- Una vez que el cobro sea realizado se le enviará la respectiva factura electrónica con los datos proporcionados por el CLIENTE en la PLATAFORMA.</p>

      <p>- El CLIENTE podrá cambiar o cancelar su PLAN escogido en todo momento. Si se realiza una cancelación o cambio del PLAN, el CLIENTE perderá acceso total o parcial a las funcionalidades de la plataforma.</p>

      <p>- El CLIENTE no podrá solicitar una devolución de su pago una vez se haya realizado el cobro del PLAN bajo los parámetros de tiempo y precios previamente aceptados por el cliente.</p>

      <p>- El cliente podrá solicitar la cancelación de su plan hasta 1 día antes del cobro del mismo.</p>
    </li>

    <li>
      <div class="list-title">6. PROPIEDAD INTELECTUAL</div>

      <p>Todo el contenido incluido o puesto a disposición del Usuario en el Sitio, incluyendo marcas, dibujos, textos, gráficas, logos, íconos, imágenes, archivos de audio, descargas digitales y cualquier otra información (el “Contenido”), es de propiedad de MERCATELY o ha sido licenciada a ésta por las Empresas Proveedoras. La compilación del Contenido es propiedad exclusiva de MERCATELY. y, en tal sentido, el Usuario debe abstenerse de extraer y/o reutilizar partes del Contenido sin el consentimiento previo y expreso de la Empresa.</p>

      <p>Además del Contenido, las marcas, denominativas o figurativas, marcas de servicio, diseños industriales y cualquier otro elemento de propiedad intelectual que haga parte del Contenido (la “Propiedad Industrial”), son de propiedad de MERCATELY o de las Empresas Proveedoras y, por tal razón, no pueden ser usadas por los Usuarios en conexión con cualquier producto o servicio que no sea provisto por MERCATELY. En el mismo sentido, la Propiedad Industrial no podrá ser usada por los Usuarios en conexión con cualquier producto y servicio que no sea de aquellos que comercializa u ofrece MERCATELY o de forma que produzca confusión con sus clientes o que desacredite a la Empresa o a las Empresas Proveedoras.</p>
    </li>

    <li>
      <div class="list-title">7. RESPONSABILIDAD DE MERCATELY</div>

      <p>MERCATELY hará lo posible dentro de sus capacidades para que la transmisión del Sitio sea ininterrumpida y libre de errores. Sin embargo, dada la naturaleza de la Internet, dichas condiciones no pueden ser garantizadas. En el mismo sentido, el acceso del Usuario a la Cuenta puede ser ocasionalmente restringido o suspendido con el objeto de efectuar reparaciones, mantenimiento o introducir nuevos Servicios. MERCATELY no será responsable por pérdidas (i) que no hayan sido causadas por el incumplimiento de sus obligaciones; (ii) lucro cesante o pérdidas de oportunidades comerciales; (iii) cualquier daño indirecto.</p>
    </li>


    <li>
      <div class="list-title">8. SEGURIDAD DE LA INFORMACIÓN Y TRATAMIENTO DE DATOS PERSONALES </div>


      <p><strong>8.1.</strong> MERCATELY y el CLIENTE se comprometen a tratar los Datos Personales implicados en la elaboración y necesarios para la ejecución del contrato suscrito entre ellos, única y exclusivamente para cumplir con la finalidad a la que se destinan y en cumplimiento de todas las normas de privacidad y protección de datos aplicables. Legislación.</p>

      <p><strong>8.2.</strong> MERCATELY o sus afiliadas, sus empleados, representantes, contratistas u otros llevarán a cabo el Tratamiento de Datos Personales en nombre del CONTROLADOR se asegurará de que cualquier persona involucrada en el Tratamiento de Datos Personales en su nombre, debido al contrato suscrito entre MERCATELY y CLIENTE, cumplirán con las disposiciones previstas en esta cláusula.</p>

      <p><strong>8.3. Finalidad:</strong> MERCATELY, como Operador, tratará los Datos Personales recibidos de conformidad con lo establecido en el contrato suscrito con el CLIENTE, en las modificaciones o para cumplir con las instrucciones que le proporcione el Responsable dentro de la relación contractual, siempre en cumplimiento de las principios y normas aplicables, observando la legislación aplicable en materia de privacidad y protección de datos.</p>

      <p><strong>8.4. Medidas de seguridad y controles:</strong> MERCATELY declara y garantiza que cuenta con medidas para proteger los Datos Personales procesados, así como contar con una política de seguridad de la información establecida, que determina medidas técnicas y administrativas capaces de garantizar la integridad, disponibilidad y confidencialidad de la información procesada.</p>

      <p><strong>8.5. Intercambio de información personal:</strong> MERCATELY se asegurará de que los Datos Personales no sean accedidos, compartidos o transferidos a terceros (incluidos subcontratistas, agentes autorizados y afiliados) sin la autorización previa por escrito del Controlador, excepto en los casos necesarios para la ejecución de la contrato firmado con el CLIENTE.</p>

      <p>
        <ol>
          <li>
            1. En los casos en que se comparta con terceros, MERCATELY debe asegurarse de que los terceros: a) cumplan con la legislación aplicable en materia de privacidad y protección de datos; b) observar los propósitos y lineamientos establecidos por el Controlador para el Tratamiento de Datos Personales; y c) adoptar, al menos, las mismas normas de protección de datos adoptadas por MERCATELY.
          </li>
          <br/>
          <li>
            2. En los casos previstos en el punto “i” anterior, MERCATELY será responsable de todas las acciones y omisiones realizadas por dichos terceros, relacionadas con el Tratamiento de Datos Personales, como si las hubiera realizado de forma personal y directa.
          </li>
        </ol>
      </p>

      <p><strong>8.6. Auditorías:</strong> MERCATELY reconoce el derecho del Contralor a realizar auditorías relacionadas con las actividades de Tratamiento existentes bajo su contrato, de manera que las pondrá a disposición, cuando se le solicite y siempre que exista un preaviso de 15 (quince) días y que las actividades regulares de MERCATELY no sean deteriorado, toda la documentación necesaria para demostrar el cumplimiento de las obligaciones previstas en esta cláusula y la legislación aplicable en materia de privacidad y protección de Datos Personales, con el debido respeto a los secretos comerciales.</p>

      <p><strong>8.7. Confidencialidad de la auditoría:</strong> Las Partes acuerdan que cualquier auditor o empresa de seguridad de terceros que celebre un contrato con MERCATELY debe (1) utilizar la información confidencial de MERCATELY solo para fines de inspección o auditoría; (2) mantener la confidencialidad de la información confidencial de MERCATELY (incluida cualquier información relacionada con sus otros clientes); y (3) tratar los Datos Personales de conformidad con las reglas aquí establecidas para el Tratamiento de Datos Personales por parte de MERCATELY.</p>

      <p><strong>8.8. Transferencia internacional:</strong> Si es necesaria una transferencia internacional de Datos Personales para cumplir con el contrato suscrito con el CLIENTE, MERCATELY informará previamente al Responsable y adoptará las medidas de seguridad necesarias para garantizar la confidencialidad, integridad y disponibilidad de los Datos Personales transferidos.</p>

      <p><strong>8.9. Derechos de los Titulares:</strong> Siempre que se solicite, MERCATELY asistirá al Responsable en la satisfacción de las solicitudes realizadas por los Interesados. La obligación de asistencia prevista en el caput podrá realizarse mediante la implementación de funcionalidades en los sistemas de MERCATELY, de manera que permita al Controlador y sus representantes extraer la información por su cuenta.</p>

      <p><strong>8.10. Incidencias:</strong> MERCATELY declara tener un plan de respuesta a Incidencias. En el caso de un Incidente que involucre Datos Personales, MERCATELY informará al Controlador a la mayor brevedad, informando:
        <ol>
          <li>1. Fecha y hora del incidente;</li><br />
          <li>2. Fecha y hora de la notificación por parte del notificador;</li><br />
          <li>3. Lista de tipos de datos personales afectados por el incidente;</li><br />
          <li>4. Número de titulares afectados (tamaño del incidente) y, si es posible, la lista de estos individuos;</li><br />
          <li>5. Datos de contacto del responsable u otra persona de quien sea posible obtener más información sobre lo sucedido;</li><br />
          <li>6. Descripción de las posibles consecuencias del evento;</li>
        </ol>
      </p>

      <p><strong>8.11. Destrucción o devolución de Datos Personales:</strong> MERCATELY deberá, bajo el control del Responsable, o cuando se extinga el vínculo contractual y obligatorio existente, devolver los Datos Personales compartidos con motivo de las finalidades previamente pactadas y llevar a cabo la supresión definitiva y permanente de Datos Personales, excepto en el caso de que MERCATELY tenga protección u obligación legal de continuar procesando Datos Personales. El cliente podrá requerir en todo momento la destrucción de datos personales de su cuenta enviando un email a hola@mercately.com.</p>

      <p><strong>8.12.Documentación:</strong> Mercately podrá documentar y archivar todas las decisiones e instrucciones del Controlador relacionadas con el Tratamiento de Datos Personales necesarias para la ejecución de su Contrato, por un período suficiente para protegerse en caso de que se inicien procedimientos administrativos o judiciales, por incumplimiento de la legislación aplicable.</p>

      <p><strong>8.13. Responsabilidad:</strong> Mercately no será responsable por reclamaciones, pérdidas y daños, costos judiciales, administrativos o arbitrales, en cualquier instancia o tribunal, multas, o cualquier otra situación que implique el pago de cantidades monetarias, excepto si los hechos que motivaron tales consecuencias resultan de culpa exclusiva y probada de Mercately, y están directamente relacionadas con el contrato suscrito con el CLIENTE.</p>

      <p>
        <ol>
          <li>1. De acuerdo con lo dispuesto en la caput, el Contralor se compromete a mantener al MERCATELY libre de cualquier procedimiento judicial, administrativo o arbitral que pudiera incoarse;</li>
          <br>
          <li>2. Como Operador, MERCATELY salvaguarda su derecho de devolución frente al Contralor, en caso de incurrir en alguno de los trámites / costos antes mencionados, sin perjuicio del reembolso de los gastos derivados del proceso, además de otras medidas, como la denuncia de la disputa;</li>
          <br>
          <li>3. MERCATELY salvaguarda su derecho a rechazar, mediante notificación formal por escrito, cualquier operación ordenada por el Responsable que implique en el Tratamiento de Datos Personales el incumplimiento de las normas de protección de Datos Personales vigentes;</li>
        </ol>
      </p>

      <p><strong>8.14. Supervivencia:</strong> No obstante cualquier disposición en contrario, las obligaciones de las Partes definidas en esta MERCATELY o sus afiliadas, sus empleados, representantes, contratistas u otros llevarán a cabo el Tratamiento de Datos Personales por cuenta del RESPONSABLE asegurará que cualquier persona involucrada en el Tratamiento de Datos Personales en su nombre, debido al contrato suscrito entre MERCATELY y CLIENTE, cumplirá con lo dispuesto en esta cláusula; la utilización continuará mientras SIRENA continúe teniendo acceso, esté en posesión, adquiera o lleve realizar cualquier operación de Tratamiento de los Datos Personales obtenidos como resultado de la relación contractual con el Responsable, incluso si todos los contratos entre MERCATELY y el Responsable han expirado o han sido rescindidos.</p>

    <li>
      <div class="list-title">9. TÉRMINOS DE LEY</div>

      <p>Este acuerdo será gobernado e interpretado de acuerdo con las leyes de Ecuador, sin dar efecto a cualquier principio de conflictos de ley. Si alguna disposición de estos Términos y Condiciones es declarada ilegal, o presenta un vacío, o por cualquier razón resulta inaplicable, la misma deberá ser interpretada dentro del marco del mismo y en cualquier caso no afectará la validez y la aplicabilidad de las provisiones restantes.</p>
    </li>

    <li>
      <div class="list-title">10. CLÁUSULA ARBITRAL</div>

      <p>Cualquier conflicto que surja de la ejecución del contrato entre las partes deberá resolverse, preferiblemente, de mutuo acuerdo y negociación de buena fe.</p>

      <p>Si las partes no logran llegar a una solución amistosa, las disputas se resolverán exclusivamente mediante arbitraje, con renuncia a cualquier foro o jurisdicción de acuerdo con las Reglas de Arbitraje de la Cámara de Comercio Internacional (CCI).</p>

      <p>Los costos del procedimiento de arbitraje, incluidos los honorarios de abogados y los honorarios procesales, correrán a cargo de la parte que tenga su reclamo desestimado, en proporción a su rechazo; los procedimientos de emergencia previstos en el reglamento no serán aplicables.</p>

      <p>La sala de arbitraje competente será la del lugar donde tenga su sede la empresa MERCATELY que presta los servicios en discusión.<p>
    </li>

    <li>
      <div class="list-title">11. NOTIFICACIONES</div>

      <p>Cualquier comentario, inquietud o reclamación respecto de los anteriores Términos y Condiciones, la Política de Privacidad, o la ejecución de cualquiera de éstos, deberá ser notificada por escrito a MERCATELY LLC. al correo electronico <a href="mailto:hola@mercately.com">hola@mercately.com</a></p>
    </li>
  </ol>
</div>

