<div class='container-fluid'>
  <h1>TÉRMINOS Y CONDICIONES </h1>

  <p>A continuación se detallan los Términos y Condiciones que son aplicables para personas naturales o jurídicas, nacionales o extranjeras que accedan, utilicen y se suscriban a los servicios prestados y uso de los servicios ofrecidos por THOUGHTCODE CIA LTDA, dentro del sitio www.mercatelyc.om Cualquier persona que desee acceder, suscribirse o usar el Sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales y Políticas de Privacidad, junto con todas las demás políticas y principios que rigen www.mercately.com y que son incorporados al presente Sitio directamente, por referencia o que son explicados o detallados en otras secciones. En consecuencia, todas las visitas, los contratos y transacciones que se realicen en este Sitio, así como sus efectos jurídicos, quedarán regidos por estas Políticas y sometidos a la legislación aplicable en la República del Ecuador.</p>
   
  <p>Si el usuario hiciera uso del Sitio de MERCATELY, ello implicará la aceptación plena de las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de MERCATELY. Por dicha utilización del sitio o sus servicios, el Usuario se obligará a cumplir expresamente con las mismas, no pudiendo alegar el desconocimiento de tales Términos y Condiciones Generales y de la Política de Privacidad.</p>

  <ol>
    <li>
      1. CAPACIDAD LEGAL
      
      <p>Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad y los menores de edad. Quien registre un Usuario como empresa, deberá tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de este acuerdo.</p>
    </li>

    <li>
      2. REGISTRO Y USO DEL SITIO
   
      <p>Es obligatorio completar el formulario de registro en todos sus campos con datos válidos para convertirse en Usuario autorizado de MERCATELY (el “Miembro” o el “Usuario”), y para la adquisición de productos y/o servicios ofertados en este sitio. </p>

      <p>MERCATELY podrá utilizar diversos medios para identificar a sus Miembros, pero MERCATELY NO se responsabiliza por la certeza de los Datos provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, por la exactitud, veracidad, vigencia y autenticidad de los Datos ingresados. Cada miembro sólo podrá ser titular de 1 (una) cuenta de MERCATELY, no pudiendo acceder a más de 1 (una) cuenta MERCATELY con distintas direcciones de correo electrónico o falsificando, modificando o alterando sus datos de cualquier manera posible. Si se verificara o sospechará un uso fraudulento, malintencionado o contrario a estos Términos y Condiciones o contrarios a la buena fe, MERCATELY tendrá el derecho inapelable de dar de baja las cuentas y hasta iniciar acciones legales contra los infractores.</p>
       
      <p>MERCATELY se reserva el derecho de solicitar comprobantes o datos adicionales a efectos de corroborar los Datos, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, MERCATELY podrá dar de baja la cuentas creadas, sin que ello genere derecho alguno a resarcimiento, pago o indemnización.</p>
       
      <p>El Miembro, una vez registrado, dispondrá de su dirección de e-mail y una clave secreta (en adelante la “Clave”) que le permitirá el acceso personalizado, confidencial y seguro. En caso de poseer estos datos, el Usuario tendrá la posibilidad de cambiar la Clave de acceso, para lo cual deberá sujetarse al procedimiento establecido en el sitio respectivo. El Usuario se obliga a mantener la confidencialidad de su Clave de acceso, asumiendo totalmente la responsabilidad por el mantenimiento de la confidencialidad de su Clave secreta registrada en este sitio web, la cual le permite efectuar compras, solicitar servicios y obtener información (la “Cuenta”). Dicha Clave es de uso personal, y su entrega a terceros no involucra responsabilidad de MERCATELY o de las empresas en caso de utilización indebida, negligente o incorrecta.</p>
       
      <p>El Usuario será responsable por todas las operaciones efectuadas en y desde su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de una Clave secreta, de conocimiento exclusivo del Usuario. El Miembro se compromete a notificar a MERCATELY en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta o Clave, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión, préstamo o transferencia de la Clave o Cuenta bajo ningún título.</p>
       
      <p>MERCATELY se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar un registro previamente aceptado, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.</p>
    </li>

    <li>
      3. MODIFICACIONES DEL ACUERDO
   
      <p>MERCATELY podrá modificar los Términos y Condiciones Generales en cualquier momento, haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar por e-mail si no acepta las mismas; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Miembro. Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes.</p>
   
    </li>

    <li>
      4. PROCEDIMIENTO PARA HACER USO DE ESTE SITIO DE INTERNET
   
      <p>En los contratos ofrecidos por medio del Sitio, la Empresa Oferente informará, de manera inequívoca y fácilmente accesible, los pasos que deberán seguirse para celebrarlos, e informará, cuando corresponda, si el documento electrónico en que se formalice el contrato será archivado y si éste será accesible al Miembro. El sólo hecho de seguir los pasos que para tales efectos se indiquen en este sitio para efectuar una compra, equivale a aceptar que efectivamente la Empresa Oferente ha dado cumplimiento a las condiciones contenidas en este apartado. Indicará, además, su dirección de correo postal o electrónico y los medios técnicos a disposición del Miembro para identificar y corregir errores en el envío o en sus datos.</p>
    </li>

    <li>
      5. PROPIEDAD INTELECTUAL
   
      <p>Todo el contenido incluido o puesto a disposición del Usuario en el Sitio, incluyendo marcas, dibujos, textos, gráficas, logos, íconos, imágenes, archivos de audio, descargas digitales y cualquier otra información (el “Contenido”), es de propiedad de MERCATELY o ha sido licenciada a ésta por las Empresas Proveedoras. La compilación del Contenido es propiedad exclusiva de MERCATELY. y, en tal sentido, el Usuario debe abstenerse de extraer y/o reutilizar partes del Contenido sin el consentimiento previo y expreso de la Empresa.</p>
       
      <p>Además del Contenido, las marcas, denominativas o figurativas, marcas de servicio, diseños industriales y cualquier otro elemento de propiedad intelectual que haga parte del Contenido (la “Propiedad Industrial”), son de propiedad de MERCATELY o de las Empresas Proveedoras y, por tal razón, no pueden ser usadas por los Usuarios en conexión con cualquier producto o servicio que no sea provisto por MERCATELY. En el mismo sentido, la Propiedad Industrial no podrá ser usada por los Usuarios en conexión con cualquier producto y servicio que no sea de aquellos que comercializa u ofrece MERCATELY o de forma que produzca confusión con sus clientes o que desacredite a la Empresa o a las Empresas Proveedoras.</p>
   
    </li>

    <li>
      6. RESPONSABILIDAD DE MERCATELY
       
      <p>MERCATELY hará lo posible dentro de sus capacidades para que la transmisión del Sitio sea ininterrumpida y libre de errores. Sin embargo, dada la naturaleza de la Internet, dichas condiciones no pueden ser garantizadas. En el mismo sentido, el acceso del Usuario a la Cuenta puede ser ocasionalmente restringido o suspendido con el objeto de efectuar reparaciones, mantenimiento o introducir nuevos Servicios. MERCATELY no será responsable por pérdidas (i) que no hayan sido causadas por el incumplimiento de sus obligaciones; (ii) lucro cesante o pérdidas de oportunidades comerciales; (iii) cualquier daño indirecto.</p>
    </li>

    <li>
      7. TÉRMINOS DE LEY
       
      <p>Este acuerdo será gobernado e interpretado de acuerdo con las leyes de Ecuador, sin dar efecto a cualquier principio de conflictos de ley. Si alguna disposición de estos Términos y Condiciones es declarada ilegal, o presenta un vacío, o por cualquier razón resulta inaplicable, la misma deberá ser interpretada dentro del marco del mismo y en cualquier caso no afectará la validez y la aplicabilidad de las provisiones restantes.</p>
    </li>

    <li>
      8. CLÁUSULA ARBITRAL
   
      <p>Las PARTES convienen que, si surgiere entre ellas cualquier disputa, controversia o reclamo, generados o relacionados con la celebración, validez, ejecución o terminación de este Acuerdo, (identificada como “CONTROVERSIA”), las PARTES tratarán de resolver la CONTROVERSIA amistosamente, mediante consultas y negociaciones informales durante un plazo de treinta (30) días contados desde la fecha en que una de las PARTES notifique a la otra sobre la CONTROVERSIA surgida.</p>
       
      <p>Las PARTES renuncian a su jurisdicción ordinaria, y podrán acudir a los mecanismos de conciliación establecidos en la el Centro de Mediación y Arbitraje de la Cámara de Comercio de Quito, de conformidad con lo contemplado por la Ley de Arbitraje y Mediación del Ecuador y los reglamentos de dicho Centro.</p>
       
      <p>El arbitraje se procesará según las siguientes estipulaciones acordadas en esta Cláusula:</p>
       
      <p>El Tribunal Arbitral estará integrado por tres árbitros. Cada PARTE designará un árbitro, mediante comunicación escrita dirigida al director del Centro hasta cinco días plazo después de la suscripción del Acta que certifique la imposibilidad parcial o total de mediación –sin perjuicio de hacerlo al momento de proponer la demanda, o al contestar la demanda, según el caso; los dos árbitros así designados a su vez designarán al tercero, quien presidirá el Tribunal. En caso de que dentro del plazo antes indicado alguna de las partes omitiere designar un árbitro, el director del Centro procederá a realizar la designación de dicho árbitro mediante sorteo de la lista de árbitros del Centro.  Los dos árbitros designados, ya sea por las partes o por sorteo en el caso antes mencionado, designarán al tercero, tal como se estipula más arriba. Una vez posesionado el segundo árbitro, y a partir de esa fecha, los árbitros tendrán diez días de plazo para designar al tercero; si no logran ponerse de acuerdo en dicho plazo, el director del Centro procederá a realizar la designación por sorteo, en la forma antes mencionada. Si ninguna de las partes designa árbitro, el director del Centro procederá a integrar el Tribunal siguiendo las reglas del Centro. Si ninguna de las partes designa su árbitro o propone objeciones al momento de dentro del plazo ya indicado, se entenderá que renuncia a su derecho a la designación u objeción, según el caso, pero conservará el derecho a impugnar las designaciones hechas por las causas de excusa o recusación previstas en la Ley.<p>
       
      <p>El Tribunal Arbitral efectuará un arbitraje en Derecho y está facultado para adoptar las medidas que sean necesarias, incluyendo órdenes dirigidas a la Fuerza Pública, sin que sea necesario recurrir a juez alguno.</p>
       
      <p>El procedimiento arbitral será confidencial.</p>
       
      <p>El lugar de arbitraje será en las instalaciones del Centro de Arbitraje y Mediación de la Cámara de Comercio de Quito.</p>
       
      <p>La nulidad del Convenio o de cualquiera de sus cláusulas no afectará la validez de esta cláusula arbitral.</p>
       
      <p>En lo no previsto anteriormente, se aplicarán las normas de la Ley de Arbitraje y Mediación, y las reglas expedidas por el Centro.</p>
    </li>

    <li>
      9. NOTIFICACIONES
   
      <p>Cualquier comentario, inquietud o reclamación respecto de los anteriores Términos y Condiciones, la Política de Privacidad, o la ejecución de cualquiera de éstos, deberá ser notificada por escrito a THOUGHTCODE CIA LTDA S.A. a la dirección Quito, Av. América y Veracruz, Edificio Játiva, Oficina 104.</p>
    </li>
  </ol>
</div>
