<div class="nested-fields box col-xl-12">
  <div class="row">
    <div class="col-sm-4">
      <%= f.select :retailer_user_id, current_retailer.team_agents.map { |t| [(t.full_name.presence || t.email), t.id] }, { include_blank: false }, class: 'input validate-unique mercately-select' %>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2 text-center">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2 center-xs end-sm p-0 mb-24 t-right">
      <%= link_to_remove_association f, class: 'cursor-pointer d-inline-block fz-14 no-style mr-10 mt-14', style: 'color: #212529;' do %>
        <i class="fas fa-trash-alt mr-8"></i>
        Remover
      <% end %>
    </div>
  </div>
</div>
