<% if current_retailer.payment_plan.advanced? %>
  <div class="content_width ml-sm-108 mt-25 px-15 no-left-margin-xs">
    <div class="container-fluid-no-padding">
      <div class="row align-items-center">
        <div class="col col-sm-5">
          <h1 class="funnels__title">Asignación automática</h1>
        </div>
        <div class="col justify-content-end d-flex">
          <label for="modal--create_team" class="blue-button my-24px my-md-0">+ Crear equipo</label>
        </div>
        <div class="col-12">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table box mt-16">
            <div class="row">
              <div class="col">
                <div class="card min-h-unset ml-0 no-border shadow-none p-0 border-24">
                  <ul class="list-group list-group-flush d-none d-md-block bg-transparent">
                    <li class="list-group-item text-secondary py-30 px-0 bg-transparent">
                      <div class="fz-14 text-center row hide-on-tablet-and-down center-sm">
                        <div class="col-3">Agente</div>
                        <div class="col-2">Chats asignados</div>
                        <div class="col-2">Activo</div>
                        <div class="col-3"></div>
                        <div class="col-2"></div>
                      </div>
                    </li>
                  </ul>
                  <div id="customers">
                    <% if @teams.exists? %>
                      <%= render partial: 'retailers/pages/agent_autoassign_list', collection: @teams, as: :team %>
                      <div class="row middle-xs center-xs">
                        <div class="col-xs-12">
                          <%= paginate @teams %>
                        </div>
                      </div>
                    <% else %>
                      <div class="d-flex align-items-center justify-content-center" style="height: 50vh">
                        Sin agentes autoasignados.
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid-no-padding">
    <input type="checkbox" class="d-none modal--toggler" name="modal--create_team" id="modal--create_team" />
    <div class="modal-index">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-xs-12 col-md-8 middle">
            <label class="modal-index__background" for="modal--create_team"></label>
            <div class="modal-index__window box py-20 px-10 h-unset mt-0" style="z-index: 1000; border-radius: 12px;">
              <p class="font-weight-bold font-gray-dark fs-24 d-inline name mb-10 ml-14">Crear equipo de asignación</p>
              <label class="modalindex__close f-right mr-13" for="modal--create_team">
                <svg class="fill-dark" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.40994 6.99994L12.7099 2.70994C12.8982 2.52164 13.004 2.26624 13.004 1.99994C13.004 1.73364 12.8982 1.47825 12.7099 1.28994C12.5216 1.10164 12.2662 0.99585 11.9999 0.99585C11.7336 0.99585 11.4782 1.10164 11.2899 1.28994L6.99994 5.58994L2.70994 1.28994C2.52164 1.10164 2.26624 0.99585 1.99994 0.99585C1.73364 0.99585 1.47824 1.10164 1.28994 1.28994C1.10164 1.47825 0.995847 1.73364 0.995847 1.99994C0.995847 2.26624 1.10164 2.52164 1.28994 2.70994L5.58994 6.99994L1.28994 11.2899C1.19621 11.3829 1.12182 11.4935 1.07105 11.6154C1.02028 11.7372 0.994141 11.8679 0.994141 11.9999C0.994141 12.132 1.02028 12.2627 1.07105 12.3845C1.12182 12.5064 1.19621 12.617 1.28994 12.7099C1.3829 12.8037 1.4935 12.8781 1.61536 12.9288C1.73722 12.9796 1.86793 13.0057 1.99994 13.0057C2.13195 13.0057 2.26266 12.9796 2.38452 12.9288C2.50638 12.8781 2.61698 12.8037 2.70994 12.7099L6.99994 8.40994L11.2899 12.7099C11.3829 12.8037 11.4935 12.8781 11.6154 12.9288C11.7372 12.9796 11.8679 13.0057 11.9999 13.0057C12.132 13.0057 12.2627 12.9796 12.3845 12.9288C12.5064 12.8781 12.617 12.8037 12.7099 12.7099C12.8037 12.617 12.8781 12.5064 12.9288 12.3845C12.9796 12.2627 13.0057 12.132 13.0057 11.9999C13.0057 11.8679 12.9796 11.7372 12.9288 11.6154C12.8781 11.4935 12.8037 11.3829 12.7099 11.2899L8.40994 6.99994Z" />
                </svg>
              </label>
              <div class="row">
                <div class="col-xs-12 col-12 px-15">
                  <%= render partial: 'retailers/team_assignments/form', locals: { team_assignment: @team_assignment }, cached: true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="content_width ml-sm-108 mt-25 px-15 no-left-margin-xs">
    <div class="container-fluid-no-padding">
      <div class="row">
        <div class="warning-box col-md-12 pl-10" role="alert">
          Tu plan actual (básico) no incluye este módulo. Actualiza tu plan y obtén equipos de asignación para tu negocio.
        </div>
      </div>
    </div>
  </div>
<% end %>
