<% if current_retailer %>
  <div class="container-fluid product">
<% else %>
  <div class="section container">
<% end %>
  <div class="row <%= 'card' if current_retailer %>">
    <div class="col-xs-12 alert-box fs-14 <%= 'not-found-message' if current_retailer.blank? %>">
      La página que estabas buscando no existe. Es posible que hayas escrito mal la dirección o que la página se haya movido.
    </div>

    <%= image_tag '404-mercately.png', class: 'not-found-image' %>
  </div>
</div>
