<div class="container-fluid reduced-container-padding mb-16">
  <div class="card-to-replace">
    <div class="container-fluid index">
      <div class="row middle-xs">
        <div class="col-xs-12 mb-15 p-0">
          <%= link_to retailers_customers_path(q: { 's': 'created_at desc' }), class: 'back-link' do %>
            <i class="fas fa-caret-left mr-5"></i>
            Clientes
          <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid products">
      <div class="row">
        <div class="col-xs-12 p-0 form-container">
          <h1 class="d-inline form-container_header-title">Crear cliente</h1>
          <p class="form-container_sub">Agregar un cliente a la lista</p>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
