---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/messages/a1f4ddcaa5874871b00b3baaa02cf245?access_token=APP_USR-8515522317464897-102919-8c427f047480b1d0c80321ce26dd60f5-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_id":"a1f4ddcaa5874871b00b3baaa02cf245","message_id":"a1f4ddcaa5874871b00b3baaa02cf245","date_received":"2019-10-29T21:20:23.000Z","date":"2019-10-29T21:20:23.000Z","date_available":"2019-10-29T21:20:23.000Z","date_notified":null,"date_read":"2019-10-29T21:21:09.000Z","from":{"user_id":"425935489","email":"test_user_43176273@testuser.com","name":"Test
        Test","secure_email":"ttest.hyztj7d+2-ogiytsnbthaytqmzs@mail.mercadolibre.com.ec"},"to":[{"user_id":"425933549","email":"test_user_67701524@testuser.com","name":"Test
        Test","secure_email":"ttest.y8ks62p+2-ogiytsnbthaytqmrx@mail.mercadolibre.com.ec"}],"subject":null,"text":{"plain":"My
        first message"},"attachments":[],"attachments_validations":{"invalid_size":[],"forbidden":[],"invalid_extension":[],"internal_error":[]},"headers":[],"site_id":"MEC","resource":"orders","resource_id":"2194381783","status":"available","moderation":{"status":"clean","date_moderated":"2019-10-29T21:20:23.000Z","source":"online","reason":null},"client_id":7158647239075991,"conversation_first_message":false}'
  recorded_at: Tue, 29 Oct 2019 21:25:28 GMT
- request:
    method: get
    uri: https://api.mercadolibre.com/users/425935489?access_token=APP_USR-8515522317464897-102919-8c427f047480b1d0c80321ce26dd60f5-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":425935489,"nickname":"TESTHSWDBJHG","registration_date":"2019-04-11T11:29:31.000-04:00","country_id":"EC","address":{"city":"Quito","state":"EC-P"},"user_type":"normal","tags":["normal","test_user"],"logo":null,"points":5,"site_id":"MEC","permalink":"http://perfil.mercadolibre.com.ec/TESTHSWDBJHG","seller_reputation":{"level_id":null,"power_seller_status":null,"transactions":{"canceled":0,"completed":0,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":0},"total":0}},"buyer_reputation":{"tags":[]},"status":{"site_status":"active"}}'
  recorded_at: Tue, 29 Oct 2019 21:25:28 GMT
recorded_with: VCR 5.0.0
