---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/messages/935039e5a90f4f428b7051931af04a0b?access_token=APP_USR-8515522317464897-103015-49b51ded0aa56a191a45cb6b69b63551-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trafficlayer-App-Name:
      - messages-api
      X-Trafficlayer-App-Scope:
      - read
    body:
      encoding: ASCII-8BIT
      string: '{"paging": null, "conversation_status": null,
      "messages": [{"id": "935039e5a90f4f428b7051931af04a0b",
      "site_id": "MEC", "client_id": 7158647239075991, "from": {"user_id": 425935489},
      "to": {"user_id": 425933549}, "status": "available", "subject": null, "text": "Test 1",
      "message_date": {"received": "2021-10-13T16:53:25.000Z", "available": "2021-10-13T16:53:25.000Z",
      "notified": "2021-10-13T16:53:25.000Z", "created": "2021-10-13T16:53:25.000Z", "read": null},
      "message_moderation": {"status": "clean", "reason": null, "source": "online",
      "moderation_date": "2021-10-13T16:53:25.000Z"}, "message_attachments": null,
      "message_resources": [{"id": "2194381783", "name": "packs"}, {"id": "425933549", "name": "sellers"}],
      "conversation_first_message": false}], "seller_max_message_length": 0, "buyer_max_message_length": 0}'
  recorded_at: Wed, 30 Oct 2019 18:58:46 GMT
- request:
    method: get
    uri: https://api.mercadolibre.com/users/425935489?access_token=APP_USR-8515522317464897-103015-49b51ded0aa56a191a45cb6b69b63551-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":425935489,"nickname":"TESTHSWDBJHG","registration_date":"2019-04-11T11:29:31.000-04:00","country_id":"EC","address":{"city":"Quito","state":"EC-P"},"user_type":"normal","tags":["normal","test_user"],"logo":null,"points":5,"site_id":"MEC","permalink":"http://perfil.mercadolibre.com.ec/TESTHSWDBJHG","seller_reputation":{"level_id":null,"power_seller_status":null,"transactions":{"canceled":0,"completed":0,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":0},"total":0}},"buyer_reputation":{"tags":[]},"status":{"site_status":"active"}}'
  recorded_at: Wed, 30 Oct 2019 18:58:47 GMT
recorded_with: VCR 5.0.0
