<div class="t-center">
  <div>
    <div>
      <%= image_tag 'mailer/logo.png' %>
    </div>
    <div>
      Hola <%= @user.retailer.name %>
    </div>
    <div>
      Bienvenido a Mercately, la mejor herramienta para la gestion y analisis de tu negocio.
      Nuestra herramienta te ayudara a ahorrar tiempo en mantener tu stock actualizado,
      tus pedidos en orden y a tus clientes felices.
    </div>
  </div>
</div>
