$primary-color: #6E2A79;
$red: #EB686D;
$white: #fff;

.customer_icon_holder {
  padding: 10px 0;
}

.customer_sidebar {
  background-color: $white;
  height: $chatHeight;
  padding: 0 10px;
  border-radius: 12px;
}

.customer-tab-selected {
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.customer_sidebar .customer_box {
  border-bottom: 1px solid #e7e7e7;
  padding: 17px 5px;
  position: relative;
}
.customer_sidebar .customer-box-quickly-answers {
  padding: 17px 12px;
  position: relative;
}

.customer_sidebar .customer_box p {
  margin: 0;
  font-size: 15px;
  color: #30343a;
  font-weight: 700;
}
.customer_sidebar i {
  color: #b1b8c4;

  &.primary {
    color: $primary-color;
  }
}

.customer_sidebar .customer_box p i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -85%);
}

.customer_sidebar .label {
  margin: 0;
  color: #AAA;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.customer_sidebar .tag {
  font-size: 12px !important;
  color: #000;
  margin-left: 5px;
}

.customer_details {
  height: $customerDetailHeight;
  padding: 0 10px 20px;
  overflow: scroll;
  @media screen and (max-width: 768px) {
    height: $customerDetailHeightMobile;
  }
  .card {
    margin: 5px 0px 10px 0px;
    min-height: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    .card-body {
      padding: 0px;
    }
  }
}

.details-mobile-height {
  @media screen and (max-width: 768px) {
    height: calc(100vh - 148px)!important;
  }
}

.custome_fields {
  height: $customerDetailHeight;
  overflow: scroll;
  @media screen and (max-width: 768px) {
    height: $customerDetailHeightMobile;
  }
}

.customer_fields {
  padding: 0 10px 20px;
}

.customer_details .details_holder,
.customer_fields .details_holder {
  background-color: #00B4FF;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .customer_sidebar {
    height: calc(100vh - 90px);
  }
}

.unread-messages {
  background-color: $red;
  color: $white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.bot-icon {
  width: 18px;
  height: 18px;
}

.w-btn-top-chat {
  width: 218px;

  @media screen and (max-width: 768px) {
    width: 192px;
  }
}

.w-select-top-chat {
  width: 208px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.select-messaging-status {
  width: 125px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .react-select__control {
    border-width: 0;
    background-color: transparent !important;
    padding-left: 0;
    min-height: 16px;
    height: 16px !important;
    .react-select__value-container {
      padding: 0;
      .react-select__placeholder {
        color: #3CAAE1 !important;
        flex-direction: row;
        display: flex;
        margin-left: 0;
      }
      .placeholder-messaging-state {
        color: #808191;
        padding-right: 8px;
      }
    }
    .react-select__indicators .react-select__indicator {
      color: #3CAAE1 !important;
      padding: 0 !important;
      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
  .react-select__control--is-focused {
    box-shadow: 0 0 0 0 transparent;
  }
  .react-select__menu .react-select__menu-list .react-select__option--is-focused {
    color: #3CAAE1 !important;
    background-color: #FFFFFF;
  }
}

.chat-right-side-selector {
  padding: 0 10px;
  overflow-y: auto;
}

.quickly-answers-search {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 6px 0px;
  background-color: #F7F8FD !important;
}
