.btn-filter {
  top: 0;
  bottom: 0;
  right: 18px;
  display: flex;
  align-items: center;
}

.btn-filter span {
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: $white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search {
  top: 0;
  bottom: 0;
  left: 8px;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
}

.chat-selector {
  height: calc(100vh - 245px);
  overflow-x: hidden;
  overflow-y: scroll;

  &.filtered {
    height: calc(100vh - 280px);
  }

  @media screen and (max-width: 1024px) {
    height: calc(100vh - 230px);
  }
}

.remove-filters-icon {
  width: 8px;
  height: 8px;
}

.navs-container {
  padding-bottom: 15px;

  .navs-status {
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 5px;
    color: #B2B3BD;

    &:hover, &.active {
      color: $secondary-color;
      cursor: pointer;
      border-bottom: 2px solid $secondary-color;
    }

    &.disabled-tab {
      pointer-events: none;
      cursor: default;
    }
  }
}
