/****************************** Funnel Headers ********************************************/

.funnel_container {
  margin: 20px 0 0 100px;
}

.funnel_holder {
  min-width: fit-content !important;
  height: calc(100vh - 210px);
  & > div {
    background-color: transparent!important;
  }
}

@for $space from 0 through 16 {
  .border-#{$space} {
    border-radius: #{$space}px;
  }
}

.column-header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.column-header .add {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #00B4FF;
  color: #00B4FF;
  border-radius: 50%;
  text-align: center;
  vertical-align: text-top;
  line-height: 20px;
}

.column-header .erase {
  position: absolute;
  top: 3px;
  right: 37px;
  width: 20px;
  height: 20px;
  border: 2px solid red;
  color: red;
  border-radius: 50%;
  text-align: center;
  vertical-align: text-top;
  line-height: 20px;
}

.column-header .erase i {
  font-size: 13px;
}

.column-header .add i {
  font-size: 13px;
}

.tooltiptext-column {
  visibility: hidden;
  width: 115px;
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -45px;
  right: -50px;
  max-width: unset;
  font-size: 12px;
}

.tooltip-top-column {
  position: inherit;
  display: block;
}

.tooltip-top-column .tooltiptext-column::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-top-column:hover .tooltiptext-column {
  visibility: visible;
}

.funnel-btn {
  background-color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.funnel-input {
  color: #888888;
  font-size: 13px;
  font-weight: 300;
  height: 36px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0;
  transition: border-color .15s linear,box-shadow .15s linear;
  margin-top: 10px;
  margin-bottom: 2px;
  width: 100%;
}

.funnel-input-error {
  font-size: 10px;
  color: red;
}

.funnel-btn:focus {
  outline: none;
}

.tooltiptext-column-erase {
  visibility: hidden;
  width: 115px;
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -70px;
  right: -50px;
  max-width: unset;
  font-size: 12px;
}

.tooltip-top-column-erase {
  position: inherit;
  display: block;
}


.tooltip-top-column-erase .tooltiptext-column-erase::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.tooltip-top-column-erase:hover .tooltiptext-column-erase {
  visibility: visible;
}

.column-header .column-title {
  width: 100%;
  overflow: hidden;
}

.column-header .column-title:hover {
  overflow: auto;
}

.arrow {
  margin-top: 7px;
}

.column-title h1 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.75px;
  color: #00B4FF;
}

.column-title-content p {
  margin: 0;
  font-size: 12px;
  color: #808191;
}

.column-title-icon {
  fill: $funnel-grey;
}

.funnel-content-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $funnel-grey;
}

.funnel-deal-amount {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #808191;
}

.funnel-content {
  color: #646464;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 0 0 5px 0;
  font-size: 12px;
}


.funnel-agent {
  background: #EBF7FC;
  border-radius: 50%;
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  padding: 12px 10px;
  color: #3CAAE1;
  text-align: center;
}


.funnel-content-client {
  color: #00B4FF !important;
  font-size: 14px;
  margin: 0;
}

.funnel-client-whatsapp {
  width: 25px;
}

.funnels-box-menu {
  position: absolute;
  background-color: $white;
  border-radius: 8px;
  top: 50px;
  right: 15px;
  border: 1px solid #E4E4E4;
  max-width: 254px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  & > div {
    svg {
      fill: $funnel-grey;
    }

    &:hover{
      background-color: #3CAAE1;
      color: #FFF;
      svg {
        fill: #FFF;
      }
    }
  }
}

.bg-full-screen-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1;
}

.funnel-box-menu-img {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
}

.name-initials {
  border-radius: 50%;
  background-color: #EBF7FC;
  color: #3CAAE1;
}

.fw-bold {
  font-weight: 700!important;
}

.funnels__title {
  font-family: 'Poppins-SemiBold';
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}
