<footer class="footer-container">
  <div class="footer-columns">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 t-center">
          <div id="" class="about-us-footer">
            <div class="">
              <span class=""></span>
              <div>
                <%= image_tag 'landing/white-logo.png', alt: 'Mercately logo', class:'blog-footer-logo' %>
                <div class="footer-social-icons">
                  <ul class="footer-social-icons-list">
                    <li><a href="https://www.facebook.com/mercately/" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCaJv_fJ2nziQ4TLo-rz46qw" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/mercately_oficial/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/40729433/" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 t-center footer-integrations">
          <p>Integraciones<p>
          <ul class="link-list">
            <li><a href="/whatsapp-crm">WhatsApp</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-4 t-center footer-integrations">
          <p>Información<p>
          <ul class="link-list">
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://mercately.crunch.help/" target="_blank">Centro de Ayuda</a></li>
            <li><%= link_to 'Términos y condiciones', terms_path %></li>
            <li><%= link_to 'Política de privacidad', privacy_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
