---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/questions/search?access_token=APP_USR-8515522317464897-103015-49b51ded0aa56a191a45cb6b69b63551-425933549&item_id=MEC422883419&status=UNANSWERED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - 6b8a73ee2a7fab6a66bc140881c813b0
    body:
      encoding: ASCII-8BIT
      string: '{"total":8,"limit":50,"questions":[{"date_created":"2019-06-23T17:36:34.000-04:00","item_id":"MEC422883419","seller_id":425933549,"status":"UNANSWERED","text":"11","id":6364389535,"deleted_from_listing":false,"hold":false,"answer":null,"from":{"id":425935489,"answered_questions":0}},{"date_created":"2019-06-23T17:35:54.000-04:00","item_id":"MEC422883419","seller_id":425933549,"status":"UNANSWERED","text":"10","id":6364388956,"deleted_from_listing":false,"hold":false,"answer":null,"from":{"id":425935489,"answered_questions":0}},{"date_created":"2019-06-23T17:33:47.000-04:00","item_id":"MEC422883419","seller_id":425933549,"status":"UNANSWERED","text":"staging
        callbacks","id":6364387255,"deleted_from_listing":false,"hold":false,"answer":null,"from":{"id":425935489,[...]
- request:
    method: get
    uri: https://api.mercadolibre.com/users/425935489?access_token=APP_USR-8515522317464897-103015-49b51ded0aa56a191a45cb6b69b63551-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":425935489,"nickname":"TESTHSWDBJHG","registration_date":"2019-04-11T11:29:31.000-04:00","country_id":"EC","address":{"city":"Quito","state":"EC-P"},"user_type":"normal","tags":["normal","test_user"],"logo":null,"points":5,"site_id":"MEC","permalink":"http://perfil.mercadolibre.com.ec/TESTHSWDBJHG","seller_reputation":{"level_id":null,"power_seller_status":null,"transactions":{"canceled":0,"completed":0,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":0},"total":0}},"buyer_reputation":{"tags":[]},"status":{"site_status":"active"}}'
  recorded_at: Wed, 30 Oct 2019 18:45:17 GMT
[...]
- request:
    method: get
    uri: https://api.mercadolibre.com/users/425935489?access_token=APP_USR-8515522317464897-103015-49b51ded0aa56a191a45cb6b69b63551-425933549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":425935489,"nickname":"TESTHSWDBJHG","registration_date":"2019-04-11T11:29:31.000-04:00","country_id":"EC","address":{"city":"Quito","state":"EC-P"},"user_type":"normal","tags":["normal","test_user"],"logo":null,"points":5,"site_id":"MEC","permalink":"http://perfil.mercadolibre.com.ec/TESTHSWDBJHG","seller_reputation":{"level_id":null,"power_seller_status":null,"transactions":{"canceled":0,"completed":0,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":0},"total":0}},"buyer_reputation":{"tags":[]},"status":{"site_status":"active"}}'
  recorded_at: Wed, 30 Oct 2019 18:45:21 GMT
recorded_with: VCR 5.0.0
