@import 'flexboxgrid';
@import 'font_awesome5_webfont';
@import 'home';
@import 'devise';
@import 'global';
@import 'new_dashboard/_fonts';
@import 'new_dashboard/_vars';
@import 'new_dashboard/_components';
@import 'new_dashboard/_helpers';
@import 'landing/main';
@import 'landing/responsive';
@import 'fonts/Poppins/stylesheet';

.hello-react {
  color: #fff;
}
