@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'pages';
@import 'new_home';


  .sticky-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px 0px;
    text-align: center;
  }

  /************************** Header **********************************/

  .custom_navbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: transparent !important;
    padding: 15px 75px;
  }

  .menu-item-with-mega-menu span {
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #753581;
    -webkit-transition: color, 0.35s, easy;
    transition: color, 0.35s, easy;
    cursor: pointer;
  }

   .menu-item-with-mega-menu span.normal-item{
    color: #000;
  }


  .no-list {
    list-style: none;
  }

  .btn-without-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .header-btn-start {
    padding: 10px 30px !important;
    border-radius: 30px;
    color: #FFF !important;
    background-color: #753581;
  }

  .header-btn-start:hover{
    color: #FFF;
    background-color: #753581;
    border-color: #753581;
    outline: none;
    outline: 0;
  }

  .header-btn-login {
    padding: 10px 30px !important;
    border-radius: 30px;
    color: #753581 !important;
    border: 1px solid #753581 !important;
    background-color: #FFF;
  }

  .header-btn-login:hover{
    color: #FFF !important;
    background-color: #753581;
    border-color: #753581;
    outline: none;
    outline: 0;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-out;
  }

  .main-nav-item{
    margin-right: 25px;
  }

  /************************ Blog Index Hero Content ************************/

  .blog-hero-holder{
    padding-top: 100px;
  }

  .blog-hero-content {
    background: #692586;
    padding-bottom: 40px;
  }

  .blog-hero-content h1 {
    color: #fff;
    text-align: center;
    padding: 40px 50px 0px;
    font-size: 16px;
  }

  .blog-hero-content h2 {
    color: #C2E4F5 !important;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
  }

  .blog-landing-list {
    text-align: center;
  }

  .blog-landing-list li {
    display: inline-block;
    color: #FFF;
    list-style-type: none;
    margin-top: 15px;
    text-decoration: none;
  }

  .blog-landing-list li a {
    color: #FFF;
    text-decoration: none;
    margin-left: 15px;
  }

  /************************ Blog Index ************************/

  .main-posts-landing {
    margin-top: 100px;
  }

  .main-blog-fix-row {
    padding-right: 1px;
    padding-left: 0px
  }

  .main-blog-post-wrapper{
    height: 455px;
    position: relative;
  }

  .main-blog-post-wrapper .blog-post {
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }

  .main-blog-post-wrapper .blog-post .content{
    opacity: 1 !important;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,.65) 100%);
    transition: opacity .4s ease-in-out;
    height: 455px;
  }

  .main-blog-post-wrapper .post-entry-content {
    position: absolute;
    bottom: 0px;
    left: 0px !important;
    right: 0px !important;
    background: transparent;
    padding: 25px !important;
  }

  .main-blog-post-wrapper .post-entry-content .post-category-color-text {
    margin: 0px 1px 0px 0px;
    margin-right: 1px;
    color: #fff;
    letter-spacing: 0.03em;
    font-weight: 400 !important;
    height: auto;
    line-height: 10px;
    padding: 7px 15px 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .image-post-title {
    font-weight: 600 !important;
    text-transform: capitalize !important;
    letter-spacing: -0.03em !important;
    margin-top: 0px;
    float: left;
    width: 100%;
  }

  .image-post-title a {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.66px;
    line-height: 28.6px;
    text-align: left;
    text-decoration: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: capitalize;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
  }

  .post-autor {
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.75px;
    margin-top: 0px;
    text-align: left;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: rgb(255, 255, 255);
  }

  .post-date i {
    margin-right: 5px;
    font-size: 12px
  }


  /******************** POST ENTRIES ********************/

  .post-entries-container {
    padding: 50px 0;
  }

  .featured-thumbnail {
    float: left;
    width: 100%;
  }

  .post-entry-img {
    width: 100%;
    height: 200px;
  }

  .post-entry-title a{
    font-weight: 600 !important;
    letter-spacing: -0.03em !important;
    color: #000;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 10px;
  }

  .post-entry-title a:hover {
    text-decoration: none
  }

  .post-entry-category {
    margin: 0px;
    position: absolute;
    left: 20px;
    top: 20px;
    width: auto;
  }

  .post-entry-category .category-link {
    float: left;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 11px !important;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 15px 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .post-entry-date {
    color: #818181 !important;
    font-size: 13px;
    line-height: 25px;
    text-transform: capitalize;
    letter-spacing: 0px;
    width: 100%
  }

  .post-entry-date i {
    margin-right: 5px;
  }

  .content-post-entry-grid {
    font-size: 15px;
      line-height: 1.85;
      font-weight: 400;
      color: #666666;
      position: relative;
      float: left;
      width: 100%;
      padding: 0px;
  }

  .post-sell {
    width: 100%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    background-color: #692586;
    margin: 25px 0px;
  }

  .post-sell p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 15px;
    color: #FFF;
    width: 80%;
  }

  .post-sell-cta {
    margin-top: 23px;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    padding: 10px 25px;
    border-radius: 25px;
    color: #fff;
  }

  .post-sell-cta:hover {
    color: #fff;
    text-decoration: none;
  }

  .related-articles {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 35px 0px;
  }

  /**********************************************   INNER BLOG  *****************************************************/

  .inner-blog {
    padding-top: 100px;
  }

  .inner-blog-landing-wrapper {
    position: relative;
    background: #000;
    height: 500px;
  }

  .inner-blog-landing {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0.6;
  }

  .single_post_entry_content {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: auto;
    width: 90%;
    z-index: 1;
    text-align: center;
    padding: 0px;
  }

  .single-post-entry-category {
    float: none;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 10px !important;
    text-transform: uppercase;
    margin: 0px 5px;
    display: inline-block;
    color: #fff;
    background: #36c942;
    background-color: #36c942;
    font-weight: 500;
    height: auto;
    line-height: 10px;
    padding: 7px 20px 7px;
    letter-spacing: 0.1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .single-post-entry-category:hover {
    text-decoration: none;
    color:  #fff;
  }

  .single-post-title-main {
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 1.125 !important;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    letter-spacing: -0.03em !important;
  }

  .single-post-date {
    text-align: center;
    color: #FFF;
  }

  .single-post-date i {
    margin-right: 5px;
  }

  .entry-blog-content-wrapper {
    margin: 35px 0px;
  }

  .tag-container {
    margin-top: 30px;
  }

  .tag-container span {
    min-width: 50px;
    padding: 5px 30px;
    background: rgba(242, 242, 242, 1);
    border-radius: 5px;
    color: rgba(117, 117, 117, 1);
    margin-right: 25px;
    margin-top: 8px;
    display: inline-block;
  }

  .entry-blog-ad {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #4CDEAA;
    border-radius: 25px;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
  }

  .entry-blog-ad-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -6px;
  }

  .entry-blog-ad-link {
    color: #FFF;
    border: 1px solid #FFF;
    padding: 10px 25px;
    font-size: 11px;
  }

  .entry-blog-ad-link:hover {
    color: #FFF;
    text-decoration: none;
  }

  .icon-wrapper {
    position: -webkit-sticky;
    position: sticky;
    bottom: 75%;
    align-self: flex-end;
    display: none;
  }

  .icon-wrapper-mobile a {
    margin: 0px 12px;
  }

  .icon-wrapper-mobile {
    display: block;
  }

  .icon-wrapper p {
    color: #00B4FF;
  }

  .icon-wrapper-mobile p {
    color: #00B4FF;
  }

  .icon-3d {
    color: #00B4FF;
    left: 10px;
    top: 5px;
    font-size: 30px;
  }


  /**********************************************    FOOTER  ********************************************************/

  .footer-container {
    background: #030303;
    padding: 50px 0px;
  }

  .blog-footer-logo {
    margin-bottom: 25px;
  }

  .footer-title h2 {
    color: #fff;
    border-bottom: 0px solid #202020;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: none;
    padding: 0px;
    padding-bottom: 0px;
    text-align: left;
    height: auto;
    line-height: 1.2;
    font-size: 18px;
    padding-bottom: 30px !important;
    font-weight: bold;
    margin-top: 25px;
  }

  .footer-description {
    text-align: left;
    margin-bottom: 25px;
    float: left;
    margin-top: -10px;
    color: #999;
  }

  .footer-social-icons-list {
    padding-inline-start: unset;
  }

  .footer-social-icons-list li {
    display: inline-block;
    list-style: none;
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .footer-social-icons-list li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 15px !important;
    transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #3b5999;
  }

  .footer-social-icons-list li a i {
    display: inline-block;
    font-size: 14px;
    text-rendering: auto;
  }

  .footer-social-icons-list .facebook {
    background: #3b5999;
  }

  .footer-social-icons-list .youtube {
    background: #bd081c
  }

  .footer-social-icons-list .instagram {
    background: #3f729b;
  }

  .footer-social-icons-list .linkedin {
    background: #0077B5;
  }

  .footer-social-icons-list .twitter {
    background: #55acee;
  }

  .footer-container .link-list {
    text-decoration: none;
    list-style: none;
    padding-inline-start: unset;
  }

  .footer-integrations {
    text-align: left;
  }

  .footer-integrations p {
    color: #fff;
  }

  .footer-integrations ul {
    list-style-type: none;
    color: #26abe2;
  }

  .footer-integrations ul a {
    color: #26abe2;
    text-decoration: none;
  }

  .footer-container .link-list li {
    margin-top: 10px;
  }

  .footer-container .link-list li a {
    color: #26abe2;
    text-decoration: none;
  }

  .container-terms {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 150px;

    h1, h2, h3 {
      margin: 30px 0px;
      font-weight: bold;
    }

    ol {
      list-style: none;

      .list-title {
        font-weight: bold;
        padding: 15px 0px;
        color: #030303;
      }
    }
  }

  @media (max-width: 767px) {
    .custom_navbar {
      padding: 8px 16px;
    }

    .container-terms {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .toast {
    padding: 15px 20px;
    color: #fff;
    background: rgba(0,0,10,0.7);
    display: inline-block;
    position: fixed;
    top: -100px;
    right: 15px;
    opacity: 0;
    transition: all 0.4s ease-out;
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .blog-hero-content {
    background: #692586;
    height: 290px;
    padding-bottom: 0px;
  }

  .post-sell {
    margin: 80px 80px;
  }

  .post-sell p {
    font-size: 25px;
  }

  .post-sell-cta {
    font-size: 16px;
  }

  .blog-hero-content h1{
    font-size: 2.5rem;
    padding: 80px 50px 0px;
  }

  .blog-hero-content h2{
    font-size: 16px;
  }

  .single-post-title-main {
    font-size: 40px;
  }

  .single_post_entry_content {
    max-width: 600px;
  }

  .entry-blog-ad-link {
    font-size: 16px;
  }

  .icon-wrapper {
    display: block;
  }

  .icon-wrapper-mobile {
    display: none;
  }

  .sticky-content {
    padding: 50px 0px;
  }

}

 .block-img img{
    width: 100%;
  }



// Fix Images with Max responsive breaks for MAX WIDTH

@media only screen and (max-width: 768px) {

  .block-img {
    width: 100%;
  }

  .block-img img{
    width: 100%;
    height: 300px;
  }


}


@media only screen and (max-width: 850px) {

  .block-img {
    width: 100%;
  }

  .block-img img{
    width: 100%;
  }
}



@media only screen and (max-width: 350px) {

  .block-img {
    width: 100%;
  }

  .block-img img{
    width: 100%;
    height: 225px;
  }
}

