$bg-color: #424242;
$hl-color: #fe1651;
$muted-color: #cac8c8;
$trans-time: 300ms;
$width: 100%;

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

.input-devise,
.textarea-devise {
  background: none;
  color: #000;
  font-size: 18px;
  padding: 10px 0px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

input:required {
  box-shadow:none;
}

input:invalid {
  box-shadow:none;
}

.label-devise {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

.btn-btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: $hl-color;
    color: mix(white, $hl-color, 80%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-submit {
    background-color: #242667;
    color: #f6f6f6;
    &:hover {
      background: darken(#242667, 5%);
      color: #f6f6f6;
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 10px 0;
}

.sign {
  color: #333333;
  font-size: 14px;
}

.a-devise {
  color: #fb0545;
  text-decoration: none;
}

#contact {
  display: inline-block;
  line-height: 41px;
  float: right;
  margin: 0;
}

#contact-info {
  margin-top: 40px;
}

@media  screen and (max-width: 1280px) {
  #contact-info {
    margin-top: 20px;
  }

  #contact-img {
    height: 32px;
  }

  #contact {
    line-height: 32px;
  }
}

@media  screen and (max-width: 1024px) {
  #contact-info {
    margin-top: 17px;
  }

  #contact-img {
    height: 24px;
  }

  #contact {
    line-height: 24px;
  }

  .btn-box input {
    font-size: 12px;
  }
}
