$sides: (top, bottom, left, right);

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url(asset_path('fonts/Poppins/Poppins-MediumItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-MediumItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-MediumItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-MediumItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-MediumItalic.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url(asset_path('fonts/Poppins/Poppins-SemiBoldItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-SemiBoldItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-SemiBoldItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-SemiBoldItalic.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url(asset_path('fonts/Poppins/Poppins-ExtraLightItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-ExtraLightItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-ExtraLightItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-ExtraLightItalic.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(asset_path('fonts/Poppins/Poppins-Bold.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Bold.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Bold.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Bold.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Bold.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url(asset_path('fonts/Poppins/Poppins-Italic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Italic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Italic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Italic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Italic.ttf')) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url(asset_path('fonts/Poppins/Poppins-BoldItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-BoldItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-BoldItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-BoldItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-BoldItalic.ttf')) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(asset_path('fonts/Poppins/Poppins-Regular.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Regular.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Regular.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Regular.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Regular.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url(asset_path('fonts/Poppins/Poppins-LightItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-LightItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-LightItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-LightItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-LightItalic.ttf')) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins-Black';
  src: url(asset_path('fonts/Poppins/Poppins-Black.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Black.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Black.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Black.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Black.ttf')) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ThinItalic';
  src: url(asset_path('fonts/Poppins/Poppins-ThinItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-ThinItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-ThinItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-ThinItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-ThinItalic.ttf')) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url(asset_path('fonts/Poppins/Poppins-BlackItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-BlackItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-BlackItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-BlackItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-BlackItalic.ttf')) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(asset_path('fonts/Poppins/Poppins-Medium.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Medium.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Medium.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Medium.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Medium.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url(asset_path('fonts/Poppins/Poppins-ExtraLight.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-ExtraLight.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-ExtraLight.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-ExtraLight.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-ExtraLight.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url(asset_path('fonts/Poppins/Poppins-ExtraBold.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-ExtraBold.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-ExtraBold.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-ExtraBold.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-ExtraBold.ttf')) format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(asset_path('fonts/Poppins/Poppins-Light.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Light.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Light.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Light.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Light.ttf')) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(asset_path('fonts/Poppins/Poppins-SemiBold.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-SemiBold.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-SemiBold.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-SemiBold.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-SemiBold.ttf')) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url(asset_path('fonts/Poppins/Poppins-ExtraBoldItalic.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-ExtraBoldItalic.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-ExtraBoldItalic.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-ExtraBoldItalic.ttf')) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url(asset_path('fonts/Poppins/Poppins-Thin.eot'));
  src: url(asset_path('fonts/Poppins/Poppins-Thin.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('fonts/Poppins/Poppins-Thin.woff2')) format('woff2'),
  url(asset_path('fonts/Poppins/Poppins-Thin.woff')) format('woff'),
  url(asset_path('fonts/Poppins/Poppins-Thin.ttf')) format('truetype');
  font-style: normal;
}

* {
  max-width: 100%;
  font-family: 'Poppins-Regular';
}

body {
  margin: 0;
}

li {
  list-style: none;
}

.bg-pink {
  color: #fff;
  background-color: #fe1651;
}

.bg-green {
  color: #fff;
  background-color: #06DD75;
}

.row {
  margin-left: 0;
}

.inherit {
  width: inherit;
}

.inline-flex {
  display: inline-flex;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.middle-left {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.middle-right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.f-left {
  float: left;
  width: auto;
}

.f-right {
  float: right;
  width: auto;
}

.aligner-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@for $space from 0 through 100 {
  .w-#{$space} {
    width: #{$space}px;
  }

  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }

  .my-#{$space} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }

  .py-#{$space} {
    padding-top: #{$space}px !important;
    padding-bottom: #{$space}px !important;
  }

  .mx-#{$space} {
    margin-left: #{$space}px !important;
    margin-right: #{$space}px !important;
  }

  .px-#{$space} {
    padding-left: #{$space}px !important;
    padding-right: #{$space}px !important;
  }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-static {
  position: static !important;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.middle {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.normal {
  text-decoration: none;
}

.black-text {
  color: #4a5262;
}

.green-text {
  color: #5ed2b4;
}

@media screen and (min-width: 1024px) {
  .hide-on-med-and-up {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .hide-on-med-and-down {
    display: none;
  }
}

.link-register-terms {
  font-size: 12px;
  color: red;
}
