@import 'font_awesome5_webfont';
@import 'select2';
@import 'daterangepicker';
@import 'new_dashboard/_fonts';
@import 'new_dashboard/_vars';
@import 'new_dashboard/_components';
@import 'new_dashboard/_helpers';
@import 'devise';

.select2-container--default .select2-selection--single {
  border-color: #ddd;
}

#sidebar--pc li img {
  width: 35px;
}

.select2-container .select2-selection--single {
  height: auto;
  padding: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.select2-container {
  width: 100% !important;
}

// Sidebar v2
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  background-color: #FFF;
  transition: left .2s ease-in-out;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

  &__logo {
    padding: 40px;
    text-align: center;
  }

  .menu {
    &__item {
      border-left: 5px solid transparent;
      padding: 12px;
      margin: 12px;
      &:hover, &.menu__item--selected {
        border-left: 5px solid $primary-color;
      }
    }

    a {
      color: #000;
    }
  }

  .item {
    &__icon {
      color: $primary-color;
    }

    &__checkbox { display: none; }

    &__cookie {
      float: right;
      width: 22px;
      height: 22px;
      background-color: $secondary-color;
      color: #FFF;
      border-radius: 7px;
      text-align: center;
      font-size: 14px;
      margin-right: 8px;
    }
    &__arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin: 7px;
      float: right;
      transition: transform .2s ease-in-out;
      &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }

  .submenu {
    display: none;
    max-height: 0;
    // background-color: #eee;
    padding: 11px;
    transition: all .2s ease-in-out;
    &__item {
      margin: 12px;
    }
  }

  .item__checkbox:checked {
    & ~ .item__arrow.right {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    & ~ .submenu {
      display: block;
      max-height: 500px;
    }
  }
}

// Sidebar PC v3
#sidebar--pc {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #FFF;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

  &__logo {
    padding: 40px;
    text-align: center;
  }

  .item {
    &__icon {
      color: $secondary-color;
    }

    &__checkbox { display: none; }

    &__cookie {
      float: right;
      width: 22px;
      height: 22px;
      background-color: #F00;
      color: #FFF;
      border-radius: 7px;
      text-align: center;
      font-size: 14px;
      margin-right: 8px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .tooltiptext .item__cookie {
    position: static;
  }

  .menu {
    padding: 0;

    &__item {
      text-align: center;
      padding: 15px 0;
      border-left: 5px solid transparent;

      &:hover, &.menu__item--selected {
        border-left-color: $secondary-color;
        i {
          color: #FFF;
        }
      }
    }

    a {
      color: #FFF;

      &:hover {
        color: #aaa;
      }
    }
  }

  .submenu {
    display: none;
    max-height: 0;
    // background-color: #eee;
    padding: 11px;
    transition: all .2s ease-in-out;
    &__item {
      margin: 12px;
    }
  }

  .item__checkbox:checked {
    & ~ .item__arrow.right {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    & ~ .submenu {
      display: block;
      max-height: 500px;
    }
  }
}

// Content
#content {
  margin-left: 80px;
  margin-bottom: 24px;

  h2 {
    font-size: 24px;
  }
}

// Header
.header--dashboard {
  padding: 12px 0;
  margin: 12px 0;
  height: $header-height;

  a {
    color: #000;
  }

  #user {
    height: 40px;
  }

  .retailer {
    &__info {
      height: $header-height;
    }
  }

  .info {
    &__logo {
      width: $header-height;
      height: $header-height;
      line-height: $header-height;
      padding: 10px;
      border-radius: 10px;
      background-color: #00A652;
      color: #FFF;
    }
    &__name {
      height: $header-height;
      line-height: $header-height;
    }
  }

  .user__dropdown {
    display: inline-block;
    position: relative;
  }
}

.index {
  &__icon {
    font-size: 20px;
  }

  &__desc {
    color: #AAA;
    font-size: 15px;
  }
}

// Products
.products, .orders {
  &__img {
    width: $product__img-height;
    height: $product__img-height;
    padding: 5px;
    border: 2px solid #EEE;
    border-radius: 24px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: $product__img-height;
      max-height: $product__img-height;
    }

    &.larger {
      height: 100px;
      width: 110px;
      max-width: 110px;
      max-height: 100px;
    }

    .larger {
      height: 90px;
      width: 100px;
      max-width: 100px;
      max-height: 90px;
    }
  }

  &__actions {
    label {
      text-decoration: none;
      margin-left: 12px;
      color: #000;
      font-size: 18px;
    }

    a:first-child, label:first-child {
      margin-left: 0;
    }
  }

  .table {
    margin-top: 50px;
  }
}

.product {
  &__info {
    border-right: 1px solid #DDD;
  }

  &__info + div {
    padding-left: 0;
  }

  .info {
    &__logo {
      max-width: 200px;
      min-width: 200px;
      min-height: 200px;
      max-height: 250px;
      padding: 16px;
      margin: auto;
      border: 3px solid #DDD;
      border-radius: 50px;
    }
  }

  &__categories {
    color: #999;
    font-size: 13px;
  }
}

.uploadedImages {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -50px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.uploader {
    position: relative; 
    overflow: hidden; 
    width: 105px;
    height: 105px !important;
    border: 2px dashed #AAA;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 12px;

    &.one-more {
      border: 2px dashed $secondary-color;
      cursor: pointer;
    }
}

.img_preview {
  height: 100%;
}

.inserted-uploaders {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -50px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.dinamic-uploaders {
  height: 62px !important;
}

.variations-container-title {
  margin-top: 0px !important;
  margin-bottom: 20px;
  
  h2 {
    font-size: 18px;
  }

  p:hover {
    cursor: pointer;
  }
}

.variation-element {
  margin-top: 15px;
  padding-bottom: 16px;
}

.remove-variation-container {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

.remove-variation {
  text-align: right;

  &:hover {
    cursor: pointer;
  }
}

.preview_holder {
  width: 109px;
  height: 121px;
  border: 1px solid #AAA;
  transition: filter ease .1s;

  &:hover {
    cursor: pointer;
  }
}

.preview__options {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .1);
  font-size: 12px;
  color: #fff;

  .select_main_img {
    background-color: $secondary-color;
    padding: 2px 6px;
    border-radius: 16px;
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }

  .delete-image {
    background-color: #F00;
    padding: 2px 6px;
    border-radius: 16px;
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }
}

.preview__container:hover {
  .preview__options {
    display: flex;
  }
}

.current-images-container {
  margin-top: 0px !important;
}

.uploader-text {
  color: #AAA;
  z-index: 1;
  font-size: 12px;

  &.one-more {
    color: $secondary-color;
    text-align: center;
  }
}

.variations-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.note-archived {
  margin-bottom: 8px;
  font-size: 10px;
  color: #646464;
  letter-spacing: 0.5px;
  font-weight: bold;
}

#variations-container .variation-element {
  border-bottom: 1px solid #999999;

  &:last-child {
    border-bottom: 0;
  }
}

.image-slider-container img {
  height: 300px;
  max-width: 421px;
  max-height: 300px;
}

.draggable-container {
  max-height: 270px;
  max-width: 126px;
  overflow-y: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center:before {
  content: "";
  filter: blur(2px);
  position: absolute;
  background-color: rgba(255, 255, 255, .9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo-integration-platform {
  width: 150px;
  height: 150px;
  padding: 2px;
  border: 7px solid #1FABE2;
  border-radius: 100%;
  background-repeat: no-repeat;
  margin: auto;
}

.integration__desc {
  color: #686867;
  line-height: 38px;
  text-align: center;
  min-height: 307px;
  width: 80%;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
}

#messenger_logo {
  background-image: url(image_path('dashboard/f_messenger.png'));
  background-position: center center;
  background-size: 120px 120px;
}

#ml_logo {
  background-image: url(image_path('mercado-libre-logo-5.png'));
  background-position: center center;
  background-size: 120px;
}

.cookie__box {
  height: 22px;
  color: #FFF;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  margin-left: 8px;

  &__blue {
    background-color: $secondary-color;
  }

  &__green {
    background-color: #1DBF73;
  }
}

// Onboarding
#onboarding {
  z-index: 100;

  .modal__background:hover {
    cursor: unset;
  }

  .modal__window {
    height: unset;
    max-width: 450px;
  }

  .onboarding {
    &__arrow {
      position: absolute;
      bottom: 0;
      z-index: 10;
      font-size: 25px;

      &:hover {
        cursor: pointer;
      }

      &--previous {
        left: 34px;
      }

      &--next {
        right: 34px;
      }
    }

    &__btn--start {
      display: inline-block;
      padding: 2px 4px;
      border: 2px solid #fff;
      border-radius: 5px;
      margin-top: 16px;
      color: #fff;
    }

    &__img {
      width: 60%;
      margin: auto;
      margin-bottom: 32px;
    }

    &__step {
      height: calc(80vh - 0px);
      max-height: 670px;
      overflow-y: auto;
      &--first {
        background-image: url(image_path('dashboard/onboarding/7.png'));
      }
    }
  }

  .slick-dots li button:before {
    content: '•';
    font-size: 18px;
    line-height: 20px;
    top: -9px;
    opacity: unset;
    color: white;
  }

  .slick-dots li.slick-active button::before {
    opacity: .75;
    color: black;
  }
}

.step {
  &__body {
    height: calc(100% - 265px);
  }

  h2 {
    transform: translateY(-16px);
  }
}

.order_items, .variations {
  display: none;
  background-color: #F5F5FA;
  padding-bottom: 20px;
  border-radius: 5px;
}

.toggle_order_items:checked + .order_items {
  display: block;
}

.toggle_variations:checked + .variations {
  display: table;
}

.not-found-image {
  max-height: 700px;
  width: 100%;
}

.no-style-filter {
  align-self: center;

  a {
    text-decoration: none;
    color: $secondary-color;
  }
}

.meli-status-filter {
  cursor: pointer;
}

.filter-button {
  position: absolute;
  right: 0px;
  top: 20px;
}

#meli-status-cont {
  margin-left: -10px !important;
}

#chat_details {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 12px;
}

.dash-products-clients-container {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 0px 0px;

  .dashboard-tabs {
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;

    .tab-links {
      background-color: #E9F0FB;
      color: #646464;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: #FFF;
      }
    }

    .selected-tab {
      background-color: $secondary-color;
      color: #FFF;
    }
  }

  .tabs-content {
    height: 413px;
    max-height: 413px;
    overflow: auto;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .dash-best-clients {
    border-radius: 8px 8px 0px 0px;
    height: 458px;
    max-height: 458px;
    overflow: auto;
  }
}

.select-range {
  border: 2px solid $secondary-color;
  color: $secondary-color;
  border-radius: 5px;
  padding-right: 10px;
  width: 170px;
  float: right;
  text-align: center;

  input {
    border: none;
    outline: 0;
    font-size: 11px;
    color: $secondary-color;
    outline: 0;
    text-align: center;
  }
}

.splitted-stats {
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.12);
}

.search-field {
  -webkit-appearance: textfield;
}

@media screen and (min-height: 780px) {
  #onboarding {
    .onboarding {
      &__step {
        overflow-y: hidden;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  #sidebar {
    width: 250px;

    .menu {
      padding-left: 22px;
    }
  }

  .product {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  #sidebar {
    top: 64px;
    left: -300px;
    width: 300px;

    &__logo {
      display: none;
    }
  }

  #sidebar--toggle:checked ~ #sidebar {
    left: 0;
  }

  .header--dashboard {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    z-index: 101;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

    .retailer {
      &__info {
        display: none;
      }
    }

    .dropdown__menu {
      right: 0;
    }
  }

  #content {
    margin-top: 82px;
  }

  #content {
    margin-left: 0;
  }

  .index__ctas {
    text-align: center;
    margin-top: 24px;
  }

  .products {
    .table {
      margin-top: 12px;
    }
  }

  .user__dropdown {
    .dropdown__menu {
      position: fixed;
    }
  }

  .product {
    &__info {
      border-right: 0;
    }

    &__info + div {
      padding-left: 8px;
    }
  }

  .info__details {
    .table_details {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .index__ctas {
    &.f-right {
      float: none;
    }
  }

  .product {
    padding: 0 8px;
  }

  .variation_details {
    transform: translateY(12px);
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  #meli-status-cont {
    margin-left: 0px !important;
  }

  .ordering-label, .filter-label {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .table__item .item__descriptor {
    text-align: left;
  }
}

@media screen and (min-width: 406px) and (max-width: 424px) {
  .preview_holder {
    width: 100px;
  }

  .uploader {
    width: 100px;
  }
}

@media screen and (min-width: 402px) and (max-width: 405px) {
  .preview_holder {
    width: 90px;
  }

  .uploader {
    width: 90px;
  }
}

@media screen and (min-width: 381px) and (max-width: 401px) {
  .preview_holder {
    width: 90px;
  }

  .uploader {
    width: 90px;
  }
}

@media screen and (max-width: 380px) {
  .button-sm-and-down {
    text-align: center;

    a {
      font-size: 10px;
    }
  }

  .preview_holder {
    width: 82px;
  }

  .uploader {
    width: 82px;
  }

  .uploader-text.one-more {
    font-size: 10px;
  }
}

@media screen and (min-width: 348px) and (max-width: 351px) {
  .uploader {
    width: 77px;
  }
}

@media screen and (min-width: 343px) and (max-width: 347px) {
  .preview_holder {
    width: 77px;
  }

  .uploader {
    width: 77px;
  }

  .uploader-text.one-more {
    font-size: 10px;
  }
}

@media screen and (min-width: 339px) and (max-width: 342px) {
  .preview_holder {
    width: 77px;
  }

  .uploader {
    width: 75px;
  }
}

@media screen and (max-width: 338px) {
  .button-sm-and-down {
    text-align: center;

    a {
      font-size: 8px;
    }
  }

  .preview_holder {
    width: 109px;
  }

  .uploader {
    width: 105px;
  }
  
  .uploader-text.one-more {
    font-size: 12px;
  }
}

@media screen and (max-width: 306px) {
  .preview_holder {
    width: 230px;
  }

  .uploader {
    width: 226px;
  }

  .uploader-text.one-more {
    font-size: 12px;
  }
}

@media print {
  .hide-on-print {
    display: none;
  }

  #order_retailer_name {
    display: block;
  }

  .container,.container-fluid{margin-right:auto;margin-left:auto}.container-fluid{padding-right:2rem;padding-left:2rem}.row
  {box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;
    -webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;
    flex-wrap:wrap;margin-right:-.5rem;margin-left:-.5rem}.row.reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;flex-direction:row-reverse}.col.reverse{-webkit-box-orient:vertical;
        -webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse};
  .container{width:49rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,
  .col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-0,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,
  .col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,
  .col-sm-offset-9{box-sizing:border-box;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}
  .col-sm{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%}.col-sm-1
  {-ms-flex-preferred-size:8.33333333%;flex-basis:8.33333333%;max-width:8.33333333%}.col-sm-2{-ms-flex-preferred-size:16.66666667%;
    flex-basis:16.66666667%;max-width:16.66666667%}.col-sm-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}.col-sm-4
    {-ms-flex-preferred-size:33.33333333%;flex-basis:33.33333333%;max-width:33.33333333%}.col-sm-5
    {-ms-flex-preferred-size:41.66666667%;flex-basis:41.66666667%;max-width:41.66666667%}.col-sm-6
    {-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}.col-sm-7{-ms-flex-preferred-size:58.33333333%;
      flex-basis:58.33333333%;max-width:58.33333333%}.col-sm-8{-ms-flex-preferred-size:66.66666667%;flex-basis:66.66666667%;
        max-width:66.66666667%}.col-sm-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}.col-sm-10
        {-ms-flex-preferred-size:83.33333333%;flex-basis:83.33333333%;max-width:83.33333333%}.col-sm-11
        {-ms-flex-preferred-size:91.66666667%;flex-basis:91.66666667%;max-width:91.66666667%}.col-sm-12
        {-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.col-sm-offset-0{margin-left:0}.col-sm-offset-1
        {margin-left:8.33333333%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-3{margin-left:25%}
        .col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-6
        {margin-left:50%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-8{margin-left:66.66666667%}
        .col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-11
        {margin-left:91.66666667%}.start-sm{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}
        .center-sm{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}.end-sm
        {-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}.top-sm{-webkit-box-align:start;
          -ms-flex-align:start;align-items:flex-start}.middle-sm{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
          .bottom-sm{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.around-sm{-ms-flex-pack:distribute;
            justify-content:space-around}.between-sm{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
            .first-sm{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.last-sm{-webkit-box-ordinal-group:2;-ms-flex-order:1;
              order:1}
}
