@import 'font_awesome5_webfont';
@import 'select2';
@import 'new_dashboard/_fonts';
@import 'new_dashboard/_vars';
@import 'new_dashboard/_components';
@import 'new_dashboard/_helpers';
@import 'devise';

.select2-container--default .select2-selection--single {
  border-color: #ddd;
}

.select2-container .select2-selection--single {
  height: auto;
  padding: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.select2-container {
  width: 100% !important;
}

// Sidebar v2
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  background-color: #FFF;
  transition: left .2s ease-in-out;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

  &__logo {
    padding: 40px;
    text-align: center;
  }

  .menu {
    &__item {
      border-left: 5px solid transparent;
      padding: 12px;
      margin: 12px;
      &:hover, &.menu__item--selected {
        border-left: 5px solid $primary-color;
      }
    }

    a {
      color: #000;
    }
  }

  .item {
    &__icon {
      color: $primary-color;
    }

    &__checkbox { display: none; }

    &__cookie {
      float: right;
      width: 22px;
      height: 22px;
      background-color: $secondary-color;
      color: #FFF;
      border-radius: 7px;
      text-align: center;
      font-size: 14px;
      margin-right: 8px;
    }
    &__arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin: 7px;
      float: right;
      transition: transform .2s ease-in-out;
      &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }

  .submenu {
    display: none;
    max-height: 0;
    // background-color: #eee;
    padding: 11px;
    transition: all .2s ease-in-out;
    &__item {
      margin: 12px;
    }
  }

  .item__checkbox:checked {
    & ~ .item__arrow.right {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    & ~ .submenu {
      display: block;
      max-height: 500px;
    }
  }
}

// Content
#content {
  margin-left: 300px;
  margin-bottom: 24px;

  h2 {
    font-size: 24px;
  }
}

// Header
.header--dashboard {
  padding: 12px 0;
  margin: 12px 0;
  height: $header-height;

  a {
    color: #000;
  }

  #user {
    height: 40px;
  }

  .retailer {
    &__info {
      height: $header-height;
    }
  }

  .info {
    &__logo {
      width: $header-height;
      height: $header-height;
      line-height: $header-height;
      padding: 10px;
      border-radius: 10px;
      background-color: #00A652;
      color: #FFF;
    }
    &__name {
      height: $header-height;
      line-height: $header-height;
    }
  }

  .user__dropdown {
    display: inline-block;
    position: relative;
  }
}

.index {
  &__icon {
    font-size: 20px;
  }

  &__desc {
    color: #AAA;
    font-size: 15px;
  }
}

// Products
.products, .orders {
  &__img {
    width: $product__img-height;
    height: $product__img-height;
    padding: 5px;
    border: 2px solid #EEE;
    border-radius: 24px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: $product__img-height;
      max-height: $product__img-height;
    }
  }

  &__actions {
    label {
      text-decoration: none;
      margin-left: 12px;
      color: #000;
      font-size: 18px;
    }

    a:first-child, label:first-child {
      margin-left: 0;
    }
  }

  .table {
    margin-top: 50px;
  }
}

.product {
  &__info {
    border-right: 1px solid #DDD;
  }

  &__info + div {
    padding-left: 0;
  }

  .info {
    &__logo {
      max-width: 200px;
      min-width: 200px;
      min-height: 200px;
      max-height: 250px;
      padding: 16px;
      margin: auto;
      border: 3px solid #DDD;
      border-radius: 50px;
    }
  }

  &__categories {
    color: #999;
    font-size: 13px;
  }
}

#uploadedImages {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -50px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.uploader {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 50px;
    background: #B4D0E7;
    border: 2px dashed #057AF5;
    margin-bottom: 8px;
    margin-top: 8px;
}

.img_preview {
  height: 100%;
}

.inserted-uploaders {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -50px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.dinamic-uploaders {
  height: 62px !important;
}

.variations-container-title {
  margin-top: 0px !important;
  
  h2 {
    font-size: 18px;
  }

  p:hover {
    cursor: pointer;
  }
}

.variation-element {
  margin-top: 15px;
  padding-bottom: 16px;
}

.remove-variation-container {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

.remove-variation {
  text-align: right;

  &:hover {
    cursor: pointer;
  }
}

.edit-card {
  height: 200px;
  border: 1px solid gray;
  position: relative;
  margin-bottom: 30px;

  .image-tag {
    width: 100%;
    height: 100%;
  }

  .delete-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .main-image-text {
    display: none;
    margin: 0px;
    text-align: center;
    font-weight: bold;
  
    &:hover {
      cursor: pointer;
    }
  }
}

.current-images-container {
  margin-top: 0px !important;
}

.uploader-text {
  color: #057AF5;
  z-index: 1;
  font-size: 12px;
}

.variations-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.note-archived {
  margin-bottom: 8px;
  font-size: 12px;
  color: #646464;
  letter-spacing: 0.5px;
  font-weight: 300;
}

#variations-container .variation-element {
  border-bottom: 1px solid #999999;

  &:last-child {
    border-bottom: 0;
  }
}

.image-slider-container img {
  height: 300px;
  max-width: 421px;
  max-height: 300px;
}

.draggable-container {
  max-height: 270px;
  max-width: 126px;
  overflow-y: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center:before {
  content: "";
  filter: blur(2px);
  position: absolute;
  background-color: rgba(255, 255, 255, .9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo-integration-platform {
  width: 350px;
  height: 98px;
}

.cookie__box {
  height: 22px;
  color: #FFF;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  margin-left: 8px;

  &__blue {
    background-color: $secondary-color;
  }

  &__green {
    background-color: #1DBF73;
  }
}

// Onboarding
#onboarding {
  z-index: 100;

  .modal__background:hover {
    cursor: unset;
  }

  .modal__window {
    height: unset;
    max-width: 450px;
  }

  .onboarding {
    &__arrow {
      position: absolute;
      bottom: 0;
      z-index: 10;
      font-size: 25px;

      &:hover {
        cursor: pointer;
      }

      &--previous {
        left: 34px;
      }

      &--next {
        right: 34px;
      }
    }

    &__btn--start {
      display: inline-block;
      padding: 2px 4px;
      border: 2px solid #fff;
      border-radius: 5px;
      margin-top: 16px;
      color: #fff;
    }

    &__img {
      width: 60%;
      margin: auto;
      margin-bottom: 32px;
    }

    &__step {
      height: calc(80vh - 0px);
      max-height: 670px;
      overflow-y: auto;
      &--first {
        background-image: url(image_path('dashboard/onboarding/7.png'));
      }
    }
  }

  .slick-dots li button:before {
    content: '•';
    font-size: 18px;
    line-height: 20px;
    top: -9px;
    opacity: unset;
    color: white;
  }

  .slick-dots li.slick-active button::before {
    opacity: .75;
    color: black;
  }
}

.step {
  &__body {
    height: calc(100% - 265px);
  }

  h2 {
    transform: translateY(-16px);
  }
}

.order_items, .variations {
  display: none;
  background-color: #F5F5FA;
  padding-bottom: 20px;
  border-radius: 5px;
}

.toggle_order_items:checked + .order_items {
  display: block;
}

.toggle_variations:checked + .variations {
  display: table;
}

@media screen and (min-height: 780px) {
  #onboarding {
    .onboarding {
      &__step {
        overflow-y: hidden;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  #sidebar {
    width: 250px;

    .menu {
      padding-left: 22px;
    }
  }

  #content {
    margin-left: 250px;
  }

  .product {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  #sidebar {
    top: 64px;
    left: -300px;
    width: 300px;

    &__logo {
      display: none;
    }
  }

  #sidebar--toggle:checked ~ #sidebar {
    left: 0;
  }

  .header--dashboard {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    z-index: 101;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

    .retailer {
      &__info {
        display: none;
      }
    }

    .dropdown__menu {
      right: 0;
    }
  }

  #content {
    margin-top: 82px;
  }

  #content {
    margin-left: 0;
  }

  .index__ctas {
    text-align: center;
    margin-top: 24px;
  }

  .products {
    .table {
      margin-top: 12px;
    }
  }

  .user__dropdown {
    .dropdown__menu {
      position: fixed;
    }
  }

  .product {
    &__info {
      border-right: 0;
    }

    &__info + div {
      padding-left: 8px;
    }
  }

  .info__details {
    .table_details {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .index__ctas {
    &.f-right {
      float: none;
    }
  }

  .product {
    padding: 0 8px;
  }

  .variation_details {
    transform: translateY(12px);
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .table__item .item__descriptor {
    text-align: left;
  }
}

@media screen and (max-width: 380px) {
  .button-sm-and-down {
    text-align: center;

    a {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 338px) {
  .button-sm-and-down {
    text-align: center;

    a {
      font-size: 8px;
    }
  }
}
