@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'new_dashboard/_fonts';
@import 'fonts/Poppins/stylesheet';

$sides: (top, bottom, left, right);
$primary-color: #6E2A79;
$muted-color: #cac8c8;
$secondary-color: #00B4FF;

* {
  font-family: 'Poppins-Regular';
}

.hero-2 {
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-2 .hero-heading {
  margin-bottom: 10.9375rem;
  margin-left: 2.5rem;
}

.hero-pre-title,
.section-header h2 {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.claim,
.hero h1.hero-claim {
  line-height: 3.125rem;
  font-size: 2rem;
}

.btn-group-large {
  font-size: 0;

  .btn-purple {
    top: -4px;
  }
}

.btn-group-large>.btn,
.btn-group-large [class*="link-"] {
  margin-right: 30px;
}

.btn-large {
  padding: 0.625rem 3.125rem;
  font-size: 0.875rem;
  line-height: 28px;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-purple {
  color: #FFF;
  background-color: rgb(117, 53, 128);
  border-color: rgb(117, 53, 128);
  -webkit-box-shadow: 0 0 10px 0 #6a5aff;
  box-shadow: 0 0 10px 0 rgb(117, 53, 128);
  outline: 0;
  position: relative;
}

.btn-purple:hover {
  color: #FFF;
}

.btn-white {
  color: rgb(0, 180, 255);
  background-color: #FFF;
  border-color: rgb(0, 180, 255);
  -webkit-box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.05);
  outline: 0;

  &.aligned-with-label {
    margin-top: -8px;
  }
}

.btn-white:hover {
  color: #FFF;
  background-color: rgb(0, 180, 255);
}

.hero-rodo .hero-heading {
  margin-top: 7rem;
}

.hero-img img {
  max-width: 750px;
  position: absolute;
  left: -85px;
}

.hero-text {
  font-size: 0.875rem;
  margin: 0 0 25px 0;
  line-height: 1.875rem;
  color: #6F7982;
}

.wa-hero {
  width: 60px;
  margin-bottom: 5px;
  margin-left: -10px;
}

/******** Section 2 ******/
.section-explanation {
  padding: 50px 0px;
}

.section-exp-img img {
  max-width: 350px;
}

.section-explanation-text {
  margin-top: 7rem;
}

.section-explanation-text .title-explanation-holder {
  text-align: center;
}

.section-explanation-text .title-explanation-holder h2 {
  line-height: 3.125rem;
  font-size: 2.25rem;
  font-weight: bolder;
}

.section-explanation-text p {
  font-size: 0.875rem;
  line-height: 1.875rem;
  margin-top: 0;
  color: #6F7982;
}

.text-center {
  text-align: center;
}

.section-explanation-reason .main-reason {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #00B4FF;
}

.section-explanation-reason .second-reason {
  text-align: center;
  color: #000;
  font-weight: bolder;
  line-height: 1.25rem;
  font-size: 1rem;
}

.section-explanation-cta {
  margin-top: 25px;
}

.main-title {
  text-align: center;
}

/* Features*/

.feature-img-holder {
  vertical-align: bottom;
  text-align: center;
}

.section-features {
  padding: 50px 0;
}

.section-features .main-title {
  margin-bottom: 35px;
}

.feature-text-holder .title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.375rem;
}

.feature-text-holder .text {
  font-size: 0.875rem;
  line-height: 1.875rem;
  margin-top: 0;
  color: #6F7982;
}

.ma-ver-50 {
  margin-top: 50px;
}

@keyframes bounceIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.feature-wrapper {
  background-color: rgb(248, 248, 248);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px;
  padding: 50px 10px;
  height: 100%;
}

.feature-wrapper:hover {
  animation: bounceIn forwards .5s;
}

/* Section Transform*/
.section-transform {
  background-color: rgb(248, 248, 248);
  padding: 50px 0px;
}

.section-transform .main-title {
  margin-bottom: 50px;
}

.section-transform .section-exp-img {
  text-align: center;
}

.section-transform .feature-explanation {
  margin-bottom: 50px;
}

/*Section clients*/
.sections-clients {
  padding: 50px 0px;
}

.sections-clients .recomendation-wrapper {
  margin-top: 1.25rem;
  padding: 2.1875rem;
  background: #F7F7F7;
  border-radius: 10px;
  color: #6F7982;
  line-height: 1.875rem;
  font-size: 0.875rem;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.sections-clients .recomendation-wrapper:hover {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
}

.sections-clients .recomendation-wrapper .recommend-img {
  width: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #fff;
}

.world-img img {
  width: 149px !important;
}

/* FAQs */
.sections-faqs {
  padding: 80px 0px;
}

.section-faq-header {
  opacity: 0.75;
}

.image-overflow-container-2 {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url(asset_path('whatsapp_api/curve2.png')) !important;
  background-size: cover !important;
  background-position-x: 50%;
}

.sections-faqs {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url(asset_path('whatsapp_api/bg5.png'));
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.center-landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #0e1022;
  padding: 4em;
  padding-bottom: 1em;
}

#footer-logo {
  width: 265px;
}

.between {
  justify-content: space-between;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-list li {
  margin: 0 5px;

  .fa-envelope {
    margin-top: 5px;
  }
}

@for $size from 0 through 100 {
  .fs-#{$size} {
    font-size: #{$size}px !important;
  }
}

.in-icon {
  width: 23px;
  height: 19px;
}

.c-secondary {
  color: $secondary-color !important;
}

.secondary {
  color: #26abe2;
}

.base {
  color: #ffffff;

  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.list.torigth {
  margin-right: 6em;
}

.list {
  list-style: none;
  line-height: 4;
  margin-left: 0;
  padding-left: 0;
}

.list li {
  color: #4c536a;
  font-family: 'Poppins-Regular';
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.noStyle {
  line-height: 2;
}

.noStyle li {
  color: #26abe2;

  a {
    color: #26abe2;
    text-decoration: none;
  }
}

.list:not(.noStyle) li::before {
  content: "";
  margin-right: 1em;
  background-image: url(image_path('landing/arrow.png'));
  position: relative;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-bottom: -4px;
}

.hide-on-pc {
  display: none;
}

.show-on-pc {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: calc(100vh - 40px);
  margin-top: 20px;
  overflow-y: auto;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }

  &__window {
    background-color: #FFF;
    position: relative;
    width: 100% !important;
    height: 400px;
    max-width: 600px;
    max-height: 800px;
    border-radius: 6px;
    margin: auto;
    overflow-y: auto;

    label {
      color: #000 !important;
    }
  }

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 10;
    font-size: 25px;
    cursor: pointer;
  }

  .container {
    width: 95%;
  }
}

#modal--toggle:checked ~ .modal {
  display: block;
}

@media screen and (max-height: 680px) {
  .modal__window, .modal-index__window {
    height: 542px;
  }
}

@media (max-width: 767px) {
  .hero-2 .hero-heading {
    margin-left: unset;
    text-align: center;
  }

  .btn-group-large>.btn,
  .btn-group-large [class*="link-"] {
    margin-right: unset;
    width: 90%;
    margin-bottom: 10px;
  }

  .hide-on-mobile {
    display: none;
  }

  .center-on-mobile {
    text-align: center;
  }

  .feature-on-mobile {
    margin-bottom: 20px;
  }

  .feature-img-holder {
    img {
      max-width: 150px;
      margin-bottom: 20px;
    }
  }

  .feature-wrapper:hover {
    animation: unset;
  }

  .show-on-mobile {
    display: block;
  }

  .section-exp-img {
    .img-mobile {
      max-width: 150px;
      margin-bottom: 20px;
    }
  }

  .recomendation-on-mobile {
    margin-bottom: 20px;
  }

  .sections-clients .recomendation-wrapper:hover {
    box-shadow: unset;
  }

  .sections-clients .recomendation-wrapper figure {
    text-align: center;
  }

  .center-landing, .icon-list li {
    flex-direction: column;
    width: initial;
  }

  .list {
    margin-top: 50px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .section-explanation-text .title-explanation-holder h2 {
    font-size: 1.3rem;
  }

  .section-explanation-reason .main-reason {
    font-size: 1.3rem;
  }

  .claim, .hero p.hero-claim {
    font-size: 1.5rem;
  }

  .feature-text-holder .title {
    font-size: 1rem;
  }

  .section-exp-img {
    text-align: center;

    img {
      max-width: 350px;
      max-height: 300px;
    }
  }

  .p-font-size-mobile {
    font-size: 0.9rem;
  }

  .modal_card {
    &__title {
      font-size: 15px !important;
    }
  }

  .fieldset {
    legend {
      font-size: 15px !important;
    }
  }

  .btn-white {
    &.aligned-with-label {
      margin-top: unset;
    }
  }
}

.middle {
  display: flex;
  align-items: center;
}

.h-unset {
  height: unset !important;
}

.f-right {
  float: right;
}

.divider {
  border-bottom: 1px solid #DDD;
  margin: 8px 0;
}

.modal_card {
  min-height: 80vh;
  background-color: #FFF;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  &__title {
    text-align: center;
    color: #999;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
  }
}

@for $space from 0 through 250 {
  .p-#{$space} {
    padding: #{$space}px !important;
  }

  .w-#{$space} {
    width: #{$space}px;
  }

  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  }
}

.c-black {
  color: #000 !important;
}

.fieldset {
  border: 0;
  padding: 0;

  label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #646464;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  legend {
    font-size: 16px;
    font-weight: bold;
    padding-inline-start: 0;
  }
}

.t-left {
  text-align: left;
}

.input {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: calc(100% - 16px);
  font-size: 12px;

  &--invalid {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 5px .1px #f00;
    -moz-box-shadow: 0px 0px 5px .1px #f00;
    box-shadow: 0px 0px 5px .1px #f00;
  }
}

.subtitle {
  color: #aaa;
  font-size: 12px;
}

.btn-btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }

  &.btn-link {
    background: $primary-color;
    color: mix(white, $primary-color, 80%);

    &:hover {
      background: darken($primary-color, 5%);
      color: mix(white, $primary-color, 85%);
    }
  }

  &.btn-submit {
    background-color: $secondary-color;
    color: #f6f6f6;

    &:hover {
      background: darken($secondary-color, 5%);
      color: #f6f6f6;
    }
  }

  &.btn-cancel {
    background: #eee;

    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }

  &.btn-input {
    font-size: 13.333px;
    padding-bottom: 5px;
    padding-top: 9px;
  }
}

.btn-box {
  text-align: center;
  margin: 10px 0;
}

.width-100 {
  width: 100%;
}

.validation-msg {
  color: red;
  font-size: 12px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.recap-subtitle {
  color: #aaa;
  font-size: 12px;

  a {
    color: #aaa;
    text-decoration: underline;
  }
}

.bubble {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 8px;
  background-color: $secondary-color;
  border-radius: 50px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: white;
    width: 50px;
    height: 50px;
  }

  &.ws-bubble {
    background-color: #5FC993;
    z-index: 1000;

    a {
      i {
        font-size: 35px;
        margin-top: 7px;
      }
    }
  }
}

.main-section {
  padding-top: 150px;
}


// WHATSAPP CHATBOTS LANDING PAGE


.cw-hide-on-mobile {
  display: none;
}

.cw-btn {
  font-size: 15px ;
}

.cw-hero {
  padding-top: 100px;
  margin-bottom: 75px;
  background: url(/assets/landing/landing-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cw-hero-heading {
  margin-top: 3rem;
}


.cw-btn-group-large label {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.cw-btn-group-large a {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.cw-hero h1{
  line-height: 3.125rem;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.cw-benefits-holder {
  margin-bottom: 300px;
}

.cw-benefits-tools {
  margin-bottom: 100px;
}

.cw-benefits-tools h2 {
  color: #692586;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 25px;
}

.cw-benefits-img-holder {
  text-align: center;
}


.cw-benefits-img-holder img {
  width: 80%;
}

.cw-benefits-tools p {
  font-size: 14px;
  margin: 15px 0 25px 0;
  line-height: 1.875rem;
  color: #6F7982;
  border-left: solid 3px #692586;
  padding-left: 10px;
  text-align: center;
}

.cw-vertical{
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cw-vertical h2 {
  font-size: 22px;
}

.cw-tools-holder {
  position: relative;
  min-height: auto;
  background: url(/assets/chatbots-whatsapp/bg-tools.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cw-tool-title {
  color: #692586;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-align: center;
}

.cw-tool-wrapper {
  position: relative;
  top: -250px;
  margin: 0;
  left: 5%;
  width: 90%;
}

.cw-tool-main{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #fff;
}

.cw-tool-main h3 {
  color: #00B4FF;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
}

.cw-tool-main p {
  font-size: 14px;
  margin: 15px 0 25px 0;
  line-height: 1.875rem;
  color: #6F7982;
}

.cw-tool-content {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 10px 15px;
}

.cw-tool-img {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: text-bottom;
}


.cw-tool-exp {
  margin: 25px 0px;
}

.cw-featuring-wrapper {
  margin-top: 75px;
}


.cw-featuring-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.cw-featuring-img {
  width: 200px;
  border-radius: 50%;
}

.cw-featuring-content {
  background: url(/assets/chatbots-whatsapp/qoute-bg.png);
  background-repeat: no-repeat;
  background-position: 0% 105%;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: table;
  margin: 50px auto;
  padding: 50px 30px;
}

.cw-quote-img {
  width: 75px;
}

.cw-qoute-img-wrapper {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 25px;
}

.cw-social-holder {
  background-color: #f8f2f9;
  padding: 80px 0px;
}


.cw-social-img-holder {
  text-align: center;
  height: 250px;
}

.cw-social-img-holder p {
  font-size: 20px;
  margin-top: 25px;
  line-height: 1.2em;
  font-weight: bold;
}

.cw-social-img-holder img {
  height: 149px;
}

// Media Queries




@media (min-width: 768px) and (max-width: 1199px) {
  .btn-group-large>.btn,
  .btn-group-large [class*="link-"] {
    margin-right: unset;
    width: 90%;
    margin-bottom: 20px;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cw-hero {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 600px;
    margin-bottom: 0px;
  }

  .cw-tool-content {
    width: 75%;
  }

  .cw-benefits-img-holder img {
    width: auto;
  }

  .cw-hero h1{
    font-size: 35px;
    text-align: left;
  }

  .cw-btn-group-large label {
    width: 325px;
    font-size: 12px;
    padding: 10px 30px;
  }

  .cw-btn-group-large a {
    width: 325px;
    font-size: 12px;
    padding: 10px 30px;
  }


  .cw-tool-img {
    width: auto;
    text-align: left;
  }

  .cw-tool-main h3 {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
  }

  .cw-benefits-tools p {
    font-size: 18px;
    text-align: left;
  }

  .cw-tool-title {
    text-align: left;
    font-size: 24px;
  }

  .cw-vertical h2 {
    font-size: 24px;
  }

  .cw-featuring-wrapper {
    margin-top: 200px;
  }

  .cw-featuring-img {
    width: 100%;
  }

  .cw-tool-main p {
    font-size: 1rem;
  }

  .cw-featuring-content {
    width: 75%;
    padding: 70px 50px;
    margin: 0px auto;
  }


  .cw-qoute-img-wrapper {
    top: -25px;
  }

}


@media only screen and (min-width: 992px) {
  .cw-hide-on-mobile {
    display: block;
  }

  .cw-btn-group-large label {
    width: auto;
  }

  .cw-btn-group-large a {
    width: auto;
  }

  .cw-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  .cw-benefits-img-holder img {
    width: 300px;
    vertical-align: bottom;
  }

  .cw-benefits-tools h2 {
    text-align: left;
  }

  .cw-tools-holder {
    min-height: 1300px;
  }

  .cw-tool-wrapper {
    // position: absolute;
    left: 15%;
    width: 70%;
  }
}



@media (min-width: 1200px) {
  .cw-hero-heading {
    margin-top: 7rem;
  }

  .cw-btn-group-large label {
    font-size: 15px;
  }

  .cw-btn-group-large a {
    font-size: 15px;
  }
}




