let webId;
let pageId = 1;
let totalPages;

function getQuestionInfo(input) {
  var questionId = input.id;

  $('.profile').removeClass('border--secondary');
  $('.profile').addClass('border--transparent');
  $(`#${input.id}`).removeClass('border--transparent');
  $(`#${input.id}`).addClass('border--secondary');

  $('#question-info').show();
  $('#product-info').show();
  $('#select-question').hide();

  getAjax(`${window.location.origin}/retailers/${$('#slug-id').val()}/questions/${questionId}`, function(data) {
    var json = JSON.parse(data);
    var question = json.question;
    var product = json.product;
    webId = question.web_id;
    productWebId = product.web_id;

    $('#q-text').html(question.question);

    if (question.answered) {
      $('#a-text').html(question.answer);
      $('#retailer-answer').show();
      $('#answer-holder').hide();
    } else {
      buildQuestionAnswer();
      $('#answer-holder').show();
      $('#retailer-answer').hide();
    }

    $('#product-title').html(product.title);
    $('#product-quantity').html(product.available_quantity);
    $('#product-expiration').html(moment(product.meli_end_time).format('MM/DD/YYYY'));
    $('#product-meli-id').html(product.meli_product_id);
    $('#product-listing-type').html(product.meli_listing_type_id);
    $('#product-ml-link').attr('href', product.meli_permalink);
    $('#product-condition').html(humanizeCondition(product.condition));
    $('#product-questions').html(json.questions_total);
    $('#product-orders').html(json.orders_total);
    $('#product-success-orders').html(json.success_orders_total);
    $('#product-earned').html('$' + json.earned.toString());
    $('#product-img').attr('src', json.image);

    $('#product-title').append(
      `<a href="${window.location.origin}/retailers/${$('#slug-id').val()}/products/${productWebId}" target="_blank">` +
        '<i class="fs-18 mt-4 mr-4 f-right fas fa-external-link-alt"></i>' +
      '</a>'
    );
  });
}

function humanizeCondition(condition) {
  if (condition === 'new_product') {
    return 'Nuevo';
  } else if (condition === 'used') {
    return 'Usado';
  } else {
    return 'Sin especificar';
  }
}

function buildQuestionAnswer() {
  string = `<form action="/retailers/${$('#slug-id').val()}/messages/${webId}/answer_question" accept-charset="UTF-8" method="post">` +
              '<input name="utf8" type="hidden" value="✓">' +
              '<input type="hidden" name="_method" value="put">' +
              `<input type="hidden" name="authenticity_token" value="${$('meta[name="csrf-token"]').attr('content')}">` +
              '<div class="chat-input">'+
                '<div class="text-input mb-10">'+
                  '<textarea name="answer" placeholder="Respuesta" maxlength="140" class="no-border"></textarea>' +
                '</div>' +
                '<input type="submit" name="commit" value="Enviar" class="btn-btn btn-submit w-100" data-disable-with="Enviar">' +
                '<p class="note-archived"><i>Nota: Para preguntas, no se debe incluir información de contacto como teléfonos, ' +
                'direcciones exactas o nombres personales</i>' +
                '</p>' +
              '</div>' +
            '</form>';

  $('#answer-holder').html(string);
}

$('#q-list').scroll(function() {
  if ($('#q-list').scrollTop() + parseInt($(window).height()) >= $('#q-list')[0].scrollHeight) {
    pageId++;
    if (pageId <= totalPages) {
      loadQuestions();
    }
  }
});

function loadQuestions() {
  getAjax(`${window.location.origin}/retailers/${$('#slug-id').val()}/questions_list?page=${pageId}`, function(data) {
    var json = JSON.parse(data);
    totalPages = json.total;
    json.questions.forEach(buildQuestionList);
  });
}

function buildQuestionList(question) {
  letters = '';
  if (question.first_name && question.last_name) {
    letters = question.first_name.charAt(0) + ' ' + question.last_name.charAt(0);
  }

  if ((!question.first_name || !question.last_name) && question.meli_nickname) {
    letters = question.meli_nickname.charAt(0) + ' ' + question.meli_nickname.charAt(1);
  }

  string = `<div id="${question.id}" class="profile fs-14 box border border--transparent" onclick="getQuestionInfo(this)">` +
           '<div class="profile__data row">' +
           '<div class="img__profile col-xs-2 p-0">' +
           '<div class="rounded-circle mw-100">' +
           `<p>${letters.toUpperCase()}</p>` +
           '</div>' +
           '</div>' +
           '<div class="col-xs-10">' +
           `<div class="profile__name">${question.first_name && question.last_name ? (question.first_name + ' ' + question.last_name) : question.meli_nickname}</div>` +
           `<div class="${ question.answered ? '' : 'fw-bold' }">${moment(question.created_at).locale('es').fromNow()}</div>` +
           '</div>' +
           '</div>' +
           '</div>';

  $('#q-list').append(string);
}

document.addEventListener("DOMContentLoaded", function() {
  loadQuestions();
});
