<footer>
  <div class="container">
    <div class="row py-100">
      <div class="col-xs-12 col-md-4">
        <%= image_tag 'mercately-logo-white.png', id: 'footer-logo' %>
        <p>Learn more</p>
        <p>lorem ipsum lorem</p>
        <hr/>
        <div>
          <%= image_tag 'facebook-logo.png', class: 'float-left social-media-icons' %> 
          <%= image_tag 'twitter.png', class: 'float-left social-media-icons' %> 
          <%= image_tag 'linkedin-logo.png', class: 'float-left social-media-icons' %> 
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4 class="ml-20">Blog</h4>
        <aside>
          <ul>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
          </ul>
        </aside>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4 class="ml-20">Ayuda</h4>
        <aside>
          <ul>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">lorem</a></li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="row reverse">
      <div class="col-xs-12 col-md-6"></div>
      <div class="col-xs-12 col-md-6"><b id="copyright">©2019 mercately</b></div>
    </div>
  </div>
</footer>
