<header class="menu">
  <div class="close">
    <%= image_tag 'landing/logo.png' %>
    <div class="hamburger"> 
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="content">
    <div class="close">
      <%= image_tag 'landing/logo.png', width: '200' %>
      <span class="hamburger">&times;</span>
    </div>

    <div class="items">
      <a href="#what-is-it">¿Qué es mercately?</a>
      <a href="/blog">Blog</a>
      <%= link_to 'Ingresar', new_retailer_user_session_path %>
      <%= link_to 'Registrarse', new_retailer_user_registration_path %>
    </div>
  </div>
</header><!-- /header -->
